@import '../../vars/src/colors-indigo.css';

:root {
    --skeleton-default-color: var(--color-light-specialbg-component);
    --skeleton-border-radius: var(--border-radius-m);
    --skeleton-backdrop-filter: none;
}

.component {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: transparent;
    border-radius: var(--skeleton-border-radius);
    overflow: hidden;
    backdrop-filter: var(--skeleton-backdrop-filter);

    /* Safari overflow fix https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b */
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.component > * {
    visibility: hidden;
}

.component:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--skeleton-default-color);
}

.animate:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    transform: translateX(-80%);
    animation-name: gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0)
    );
}

@keyframes gradient {
    0% {
        transform: translateX(-80%);
    }
    67% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

/* experimental bg animation */

.animate.animateBg:before {
    animation-name: background;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    opacity: 0.5;
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
    .animate.animateBg:before {
        opacity: 0.4;
    }
}

.animateBg:after {
    display: none;
}

@keyframes background {
    0% {
        background: rgb(182, 188, 195);
    }
    100% {
        background: rgb(198, 205, 214);
    }
}
