.example-1 {
    margin-top: var(--gap-m);
}

.example-1:first-child {
    margin-top: 0;
}

.wrapper {
    height: 92px;
    width: 440px;
}

.example-2 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 10px;
    top: 10px;
}

.example-3 {
    position: absolute;
    width: 200px;
    height: 24px;
    left: 82px;
    top: 10px;
}

.example-4 {
    position: absolute;
    width: 124px;
    height: 16px;
    left: 82px;
    top: 54px;
}

.example-5 {
    position: absolute;
    width: 228px;
    height: 16px;
    left: 222px;
    top: 54px;
}

.example-6 {
    position: absolute;
    width: 260px;
    height: 16px;
    left: 82px;
    top: 86px;
}
