@import './index.module.css';

.component {
    composes: component from './index.module.css';

    @media (max-width: 767px) {
        margin-bottom: var(--gap-xl);
        margin-top: var(--gap-xl);
    }

    @media (min-width: 768px) {
        margin-bottom: var(--gap-2xl);
        margin-top: var(--gap-2xl);
    }
}

.title {
    composes: title from './index.module.css';

    @media (max-width: 767px) {
        margin-right: var(--gap-xs);

        &:last-child {
            margin-right: 0;
        }
    }
}

.default .title {
    @media (min-width: 768px) {
        margin-right: var(--gap-s);

        &:last-child {
            margin-right: 0;
        }
    }
}

.wide .title {
    @media (min-width: 768px) {
        margin-right: var(--gap-m);

        &:last-child {
            margin-right: 0;
        }
    }
}
