/*
 * Dirty magic here
 * Don't mess with Voodoo
 */

@font-face {
    font-family: 'Styrene UI';
    src: url('https://alfabank.st/media/fonts/styrene-ui/styrene-ui_regular.woff2') format('woff2'),
        url('https://alfabank.st/media/fonts/styrene-ui/styrene-ui_regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Styrene UI';
    src: url('https://alfabank.st/media/fonts/styrene-ui/styrene-ui_medium.woff2') format('woff2'),
        url('https://alfabank.st/media/fonts/styrene-ui/styrene-ui_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Styrene UI';
    src: url('https://alfabank.st/media/fonts/styrene-ui/styrene-ui_bold.woff2') format('woff2'),
        url('https://alfabank.st/media/fonts/styrene-ui/styrene-ui_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: var(--font-family);
}

/* Manager */

div.sidebar-header {
    padding: 16px 10px 18px;
}

div.sidebar-header > div:first-child {
    margin-top: -2px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 6px;
}

nav.sidebar-container form {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 16px;
    border: 0;
}

nav.sidebar-container section {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 12px;
}

div.sidebar-header button:after {
    display: none;
}

svg.sidebar-svg-icon {
    display: none;
}

span.sidebar-expander {
    width: 5px;
}

div.sidebar-subheading {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgba(11, 31, 53, 0.3);
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1.25px;
}

div.sidebar-item {
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgba(11, 31, 53, 0.9);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}

div.sidebar-item[class*='inlineGlow'] span.sidebar-expander {
    width: 14px;
}

div.sidebar-item[class*='inlineGlow'] > svg + span {
    border-radius: 99px;
    background-color: #e7e9eb;
}

div.sidebar-item.selected {
    color: #0b1f35;
    background-color: rgba(11, 31, 53, 0.1);
}

/* Скрываем Story из Docs */

div[id*='story--'] {
    display: none;
}

a + div.css-0 div.sidebar-item {
    padding-left: 20px;
}

#storybook-explorer-searchfield {
    padding-top: 0;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}

#storybook-explorer-searchfield + svg {
    top: 2px;
    transform: none;
}

a[href='/?path=/settings/about'] {
    display: none;
}

.simplebar-content select {
    position: relative;
    padding-left: 8px;
    padding-right: 24px;
    appearance: none;
    background-image: url(https://alfabank.st/icons/glyph_chevron-down-compact_m.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

/* Скрываем кнопки зума */

.simplebar-content button[title~='zoom' i] {
    display: none;
}

.simplebar-content button[title~='zoom'] + span {
    display: none;
}

.simplebar-content span:empty {
    margin-left: 0;
}

.simplebar-content span:last-child:empty {
    display: none;
}

/* Preview */

div.github-doc {
    display: none;
}

div.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    margin: 0 -8px 32px;
    counter-reset: item;
}

div.benefits-item {
    position: relative;
    flex: 1 1 auto;
    height: 200px;
    margin: 0 8px;
    padding: 16px;
    background-color: rgba(11, 31, 53, 0.05);
    /* border: 1px solid rgba(11, 31, 53, 0.05); */
    border-radius: 4px;
    box-sizing: border-box;
}

div.benefits-item:before {
    display: block;
    position: absolute;
    left: 8px;
    top: 4px;
    color: rgba(11, 31, 53, 0.05);
    font-size: 32px;
    line-height: 1;
    font-weight: 900;
    /* font-family: var(--font-family-styrene); */
    counter-increment: item;
    content: counter(item);
}

h1.sbdocs-h1 {
    margin: 0 0 32px;
    color: #ef3124;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 900;
    font-family: var(--font-family);
}

p.sbdocs-p.lead {
    display: block;
    margin: -32px 0 40px;
    color: rgba(11, 31, 53, 0.6);
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    font-family: var(--font-family);
}

h1.sbdocs-title {
    margin: 0;
    color: #0b1f35;
    font-size: 48px;
    line-height: 1;
    font-weight: 900;
    font-family: var(--font-family);
}

h2.sbdocs-h2 {
    margin: 40px 0 16px;
    padding: 0 0 4px;
    color: rgba(11, 31, 53, 1);
    font-size: 24px;
    line-height: 1.2;
    font-weight: 900;
    font-family: var(--font-family);
    border-bottom: 1px solid rgba(11, 31, 53, 0.1);
}

h3.sbdocs-h3 {
    margin: 32px 0 16px;
    color: #0b1f35;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-family);
}

p.sbdocs-p {
    margin: 0 0 16px;
    color: #0b1f35;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-family);
}

li.sbdocs-li {
    margin: 0 0 8px;
    color: #0b1f35;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-family);
}

a.sbdocs-a {
    color: #0f62fe;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 1px solid #b7d0ff;
}

li.sbdocs-li code.sbdocs-code,
li.sbdocs-li > code,
p.sbdocs-p code.sbdocs-code,
p.sbdocs-p > code {
    display: inline-block;
    margin: 0;
    padding: 0 4px;
    color: #0b1f35;
    font-size: 14px;
    line-height: 1.5;
    font-family: Consolas, Liberation Mono, Menlo, monospace;
    background-color: rgba(11, 31, 53, 0.05);
    border-radius: 4px;
    white-space: pre-wrap;
}

pre.sbdocs-pre code.sbdocs-code:only-child,
pre.sbdocs-pre > code:only-child {
    display: inline-block;
    margin: 0 0 8px;
    padding: 8px 12px;
    color: #0b1f35;
    font-size: 14px;
    line-height: 1.5;
    font-family: Consolas, Liberation Mono, Menlo, monospace;
    background-color: rgba(11, 31, 53, 0.05);
    border-radius: 4px;
    white-space: pre-wrap;
}

/* Иначе дропдауны перекрываются следующим блоком */

div.sbdocs-content > *:not([class*='component']) {
    position: static;
}

/* Иначе дропдауны скрываются за границами блока */

div.sbdocs-preview {
    overflow: visible;
}
div.sbdocs-preview > div > div {
    overflow: visible;
}
div.sbdocs-preview > div > div > div {
    transform: none;
}

div.docblock-source {
    box-shadow: 0 0 4px rgba(11, 31, 53, 0.02), 0 2px 4px rgba(11, 31, 53, 0.04);
}

div.docblock-source span.token {
    color: rgba(11, 31, 53, 1);
    font-family: Consolas, Liberation Mono, Menlo, monospace;
}

div.docblock-source span.token.keyword,
div.docblock-source span.token.punctuation {
    color: rgba(11, 31, 53, 0.6);
}

div.docblock-source span.token.string {
    color: rgba(11, 31, 53, 1);
}

button.tabbutton-active {
    color: #ef3124;
    border-bottom-color: #ef3124;
}
