@import '../../../../themes/src/default.css';

.component {
    @mixin paragraph_primary_small;

    color: var(--color-light-text-primary);
    background: var(--color-light-bg-primary);
    padding: var(--gap-xl) var(--gap-s);
    border-top: 1px solid var(--color-light-border-primary);
    vertical-align: top;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.compact {
    padding-top: var(--gap-xs);
    padding-bottom: var(--gap-xs);

    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
