@import '../../../../themes/src/default.css';

.optionsList {
    overflow: auto;
    width: 100%;
    outline: none;
    padding-top: var(--select-options-list-top-padding);
    padding-bottom: var(--select-options-list-bottom-padding);
    box-shadow: var(--select-popover-box-shadow);
    border-radius: var(--select-popover-border-radius);
    box-sizing: border-box;
}

.s {
    max-height: var(--select-options-list-s-height);
}

.m {
    max-height: var(--select-options-list-m-height);
}

.l {
    max-height: var(--select-options-list-l-height);
}
