@import '../../../../themes/src/default.css';

@define-mixin slider-click {
    /* core vars */
    --color-light-graphic-neutral: #dbdee1;
    --color-light-graphic-positive: #2fc26e;
    --border-radius-s: 4px;
    --shadow-xs-hard: 0 0 4px rgba(11, 31, 53, 0.02), 0 2px 4px rgba(11, 31, 53, 0.04),
        0 2px 4px rgba(11, 31, 53, 0.16);
    --color-light-border-key-inverted: #fff;

    /* progress */
    --slider-progress-background: var(--color-light-graphic-neutral);
    --slider-progress-color: var(--color-light-graphic-positive);
    --slider-progress-border-radius: var(--border-radius-s);
    --slider-progress-height: 6px;
    --slider-progress-hover-color: color-mod(var(--color-light-graphic-positive) shade(10%));
    --slider-progress-hover-background: color-mod(var(--color-light-graphic-neutral) shade(10%));

    /* thumb */
    --slider-thumb-color: var(--color-light-graphic-positive);
    --slider-thumb-size: 24px;
    --slider-thumb-box-shadow: var(--shadow-xs-hard);
    --slider-thumb-border: 4px solid var(--color-light-border-key-inverted);
    --slider-thumb-hover-color: color-mod(var(--color-light-graphic-positive) shade(10%));
}
