@define-mixin slider-intranet {
    --slider-progress-background: var(--color-light-graphic-neutral);
    --slider-progress-hover-background: var(--color-light-graphic-neutral);
    --slider-range-offest: 0;
}
