@import '../../vars/src/colors.css';
@import '../../vars/src/colors-indigo.css';
@import '../../vars/src/shadows-indigo.css';
@import '../../vars/src/gaps.css';
@import '../../vars/src/typography.css';

:root {
    --text-primary-color: var(--color-dark-indigo);
    --text-secondary-color: var(--color-dark-indigo-60-flat);
    --text-tertiary-color: var(--color-dark-indigo-30-flat);
    --border-radius: 4px;
    --focus-color: var(--color-blue-link-web);
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
