@import '../../../../themes/src/default.css';
@import '../../vars.css';

.header {
    width: 100%;
    box-sizing: border-box;
    padding: var(--calendar-header-paddings);
    transition: box-shadow 0.2s ease;
}

.withShadow {
    box-shadow: var(--shadow-s);
}

.monthOnly {
    padding: var(--calendar-month-only-header-paddings);
}
