@define-mixin modal-click {
    /* sizes */
    --modal-vertical-padding: var(--gap-4xl);
    --modal-footer-default-gap: var(--gap-xl);

    /* paddings */
    --modal-s-header-paddings: var(--gap-xl) var(--gap-2xl) var(--gap-s) 0;
    --modal-s-content-paddings: 0 var(--gap-4xl);
    --modal-s-content-only-bottom-padding: var(--gap-4xl);
    --modal-s-footer-paddings: var(--gap-2xl) var(--gap-4xl) var(--gap-4xl);

    /* sticky */
    --modal-footer-sticky-box-shadow: none;
    --modal-footer-sticky-background: var(--color-light-bg-secondary);

    /* scroll */
    --modal-header-highlight-background: var(--color-light-bg-primary);
    --modal-footer-highlight-background: var(--color-light-bg-secondary);

    /* desktop */
    --modal-s-header-desktop-top-padding: var(--gap-xs);
    --modal-s-header-desktop-font-size: 24px;
    --modal-s-header-desktop-line-height: 32px;
    --modal-s-header-desktop-font-family: var(--font-family-styrene);

    /* mobile */
    --modal-header-mobile-top-padding: 10px;
    --modal-header-mobile-font-size: 20px;
    --modal-header-mobile-line-height: 28px;
    --modal-header-mobile-font-family: var(--font-family-styrene);
}
