@import '../../../../vars/src/index.css';

@define-mixin modal-click {
    /* core vars */
    --color-light-graphic-primary: #0b1f35;
    --color-light-bg-primary: #fff;
    --color-light-bg-secondary: #f3f4f5;
    --gap-s: 12px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
    --gap-4xl: 48px;
    --gap-6xl: 72px;

    /* sizes */
    --modal-s-width: 500px;
    --modal-header-min-height: 84px;
    --modal-backdrop-visible-background: color-mod(var(--color-light-graphic-primary) alpha(50%));
    --modal-vertical-padding: var(--gap-4xl);

    /* paddings */
    --modal-s-header-paddings: var(--gap-xl) var(--gap-2xl) var(--gap-s) var(--gap-4xl);
    --modal-m-header-paddings: var(--gap-xl) var(--gap-2xl) var(--gap-s) var(--gap-4xl);
    --modal-l-header-paddings: var(--gap-xl) var(--gap-2xl) var(--gap-s) var(--gap-6xl);
    --modal-s-footer-paddings: var(--gap-2xl) var(--gap-4xl) var(--gap-4xl);
    --modal-m-footer-paddings: var(--gap-2xl) var(--gap-4xl) var(--gap-4xl);
    --modal-l-footer-paddings: var(--gap-2xl) var(--gap-6xl) var(--gap-6xl);

    /* closer */
    --modal-closer-icon: url('https://alfabank.st/icons/glyph_cross-heavy_m.svg');

    /* scroll */
    --modal-header-highlight-box-shadow: none;
    --modal-header-highlight-background: var(--color-light-bg-primary);
    --modal-footer-highlight-box-shadow: none;
    --modal-footer-highlight-background: var(--color-light-bg-secondary);
}
