@import '../../../../themes/src/default.css';

.footer {
    padding: var(--gap-m) var(--gap-m);
    background-color: var(--color-light-bg-primary);
}

.sticky {
    position: sticky;
    bottom: 0;
}

.highlighted {
    border-top: var(--footer-border-top);
    background-color: var(--footer-background-color);
}
