@import '../../themes/src/default.css';
@import './vars.css';

.component {
    width: var(--calendar-width);
    height: var(--calendar-height);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    outline: none;

    @media (max-width: 374px) {
        align-items: center;
        width: 100%;
        height: 320px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--gap-m);
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;

    @media (max-width: 374px) {
        width: 288px;
    }
}

.sixWeeks {
    height: 379px;

    @media (max-width: 374px) {
        height: 360px;
    }
}

.period {
    @media (max-width: 374px) {
        justify-content: space-between;
        width: 256px;
        margin: 0 auto;
    }
}
