:root {
    --calendar-width: 344px;
    --calendar-height: 340px;

    /* Кнопки выбора месяцев и годов */
    --calendar-selector-button-width: 100px;
    --calendar-selector-button-gap: 3px;
    --calendar-selector-button-outline-border-color: var(--color-light-border-key);

    /* Шапка */
    --calendar-arrow-background: url('https://alfabank.st/icons/icon_arrow-left_m_black.svg');
    --calendar-select-icon-background: url('https://alfabank.st/icons/icon_arrow-select_m_black.svg');
    --calendar-header-paddings: var(--gap-m) var(--gap-m) var(--gap-s);
    --calendar-month-only-header-paddings: var(--gap-m) var(--gap-2xl) var(--gap-s);
    --calendar-month-only-header-font-family: var(--font-family-system);
    --calendar-month-only-header-font-size: 16px;
    --calendar-month-only-header-font-weight: 400;

    /* День */
    --calendar-day-size: 40px;
    --calendar-day-border-radius: 4px;

    /* today */
    --calendar-today-border-color: var(--color-light-border-key);

    /* highlighted */
    --calendar-highlighted-color: var(--color-light-text-primary);
    --calendar-highlighted-background: var(--color-light-graphic-neutral);

    /* range */
    --calendar-range-color: var(--color-light-text-primary);
    --calendar-range-background: var(--color-static-graphic-solitude);

    /* selected */
    --calendar-selected-color: var(--color-light-text-primary-inverted);
    --calendar-selected-background: var(--color-light-graphic-primary);

    /* disabled */
    --calendar-disabled-color: var(--color-light-text-tertiary);
    --calendar-disabled-background: transparent;

    /* marker */
    --calendar-marker-background: var(--color-light-graphic-tertiary);
}
