:root {
    --calendar-height: 340px;
    --calendar-width: 344px;
    --calendar-inner-width: 280px;
    --calendar-mobile-inner-width: 256px;

    /* Кнопки выбора месяцев и годов */
    --calendar-selector-button-outline-border-color: var(--color-light-border-key);

    /* Шапка */
    --calendar-month-only-header-font-family: var(--font-family-system);
    --calendar-month-only-header-font-size: 16px;
    --calendar-month-only-header-font-weight: 400;

    /* День */
    --calendar-day-size: 40px;
    --calendar-day-border-radius: var(--border-radius-pill);

    /* today */
    --calendar-today-color: var(--color-light-text-link);

    /* highlighted */
    --calendar-highlighted-color: var(--color-light-text-primary);
    --calendar-highlighted-background: var(--color-light-graphic-neutral);

    /* range */
    --calendar-range-color: var(--color-light-text-primary);
    --calendar-range-background: var(--color-light-specialbg-component);
    --calendar-range-complete-background: var(--color-static-graphic-solitude);

    /* selected */
    --calendar-selected-color: var(--color-light-text-primary-inverted);
    --calendar-selected-background: var(--color-light-graphic-primary);
    --calendar-selected-hover-background: var(--color-light-graphic-primary-tint-15);

    /* disabled */
    --calendar-disabled-color: var(--color-light-text-tertiary);
    --calendar-disabled-background: transparent;

    /* marker */
    --calendar-marker-background: var(--color-light-graphic-primary);
    --calendar-marker-selected-background: var(--color-light-graphic-primary-inverted);
}
