/* prettier-ignore */
@define-mixin font-preset $fontFamily, $fontSize, $lineHeight, $fontWeight, $letterSpacing {
    font-size: $(fontSize)px;
    line-height: $(lineHeight)px;
    font-weight: $fontWeight;
    font-family: $fontFamily;
    letter-spacing: $letterSpacing;
    font-feature-settings: 'ss01';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@define-mixin sf_48-52_bold {
    @mixin font-preset var(--font-family-system), 48, 52, bold, normal;
}

@define-mixin sf_40-48_bold {
    @mixin font-preset var(--font-family-system), 40, 48, bold, normal;
}

@define-mixin sf_30-36_bold {
    @mixin font-preset var(--font-family-system), 30, 36, bold, normal;
}

@define-mixin sf_22-26_bold {
    @mixin font-preset var(--font-family-system), 22, 26, bold, normal;
}

@define-mixin sf_18-22_bold {
    @mixin font-preset var(--font-family-system), 18, 22, bold, normal;
}

@define-mixin sf_18-22_medium {
    @mixin font-preset var(--font-family-system), 18, 22, 500, normal;
}

@define-mixin sf_16-24_regular {
    @mixin font-preset var(--font-family-system), 16, 24, normal, normal;
}

@define-mixin sf_16-24_medium {
    @mixin font-preset var(--font-family-system), 16, 24, 500, normal;
}

@define-mixin sf_16-24_bold {
    @mixin font-preset var(--font-family-system), 16, 24, bold, normal;
}

@define-mixin sf_16-20_regular {
    @mixin font-preset var(--font-family-system), 16, 20, normal, normal;
}

@define-mixin sf_16-20_medium {
    @mixin font-preset var(--font-family-system), 16, 20, 500, normal;
}

@define-mixin sf_16-20_bold {
    @mixin font-preset var(--font-family-system), 16, 20, bold, normal;
}

@define-mixin sf_14-18_regular {
    @mixin font-preset var(--font-family-system), 14, 18, normal, normal;
}

@define-mixin sf_12-16_medium_caps {
    @mixin font-preset var(--font-family-system), 12, 16, 500, 1.5px;
}

@define-mixin sf_12-16_regular {
    @mixin font-preset var(--font-family-system), 12, 16, normal, normal;
}

@define-mixin styrene_40-48_medium {
    @mixin font-preset var(--font-family-styrene), 40, 48, 500, normal;
}

@define-mixin styrene_32-40_medium {
    @mixin font-preset var(--font-family-styrene), 32, 40, 500, normal;
}

@define-mixin styrene_28-34_medium {
    @mixin font-preset var(--font-family-styrene), 28, 34, 500, normal;
}

@define-mixin styrene_24-30_medium {
    @mixin font-preset var(--font-family-styrene), 24, 30, 500, normal;
}

@define-mixin styrene_20-24_medium {
    @mixin font-preset var(--font-family-styrene), 20, 24, 500, normal;
}
