:root {
    --spinner-display-visible: inline-block;
    --spinner-animation-duration: 0.8s;
    --spinner-animation-timing-function: linear;
}

.spinner {
    display: none;
    animation: spin_animation var(--spinner-animation-duration) infinite
        var(--spinner-animation-timing-function);
}

.visible {
    display: var(--spinner-display-visible);
    vertical-align: middle;
}

.s {
    width: 24px;
    height: 24px;
}

.m {
    width: 48px;
    height: 48px;
}

@keyframes spin_animation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
