@import '../../../../../themes/src/default.css';
@import '../../../vars.css';

.footer {
    background: var(--color-light-bg-primary);
    padding: var(--gap-s) var(--gap-s) var(--gap-m);
    outline: none;

    & > * + * {
        margin-left: var(--gap-xs);
    }
}

.withBorder {
    box-shadow: inset 0 1px 0 var(--color-light-border-secondary);
}
