@import '../../main.css';
@import '../../vars/index.css';

.input {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;

  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--primary-color);
  outline: 0;
  user-select: none;
  font-family: var(--font);
  text-align: center;
  white-space: nowrap;
  transition-duration: 200ms;
  transition-property: background, border-color, color, width;
  transition-timing-function: ease;
  border-radius: var(--border-radius-control);
}