@import '../../vars.css';

.content {
    composes: content from 'index.module.css';
}

.flex {
    composes: flex from 'index.module.css';
}

.s {
    padding: var(--modal-s-content-paddings);
}

.m {
    padding: var(--modal-m-content-paddings);
}

.l {
    padding: var(--modal-l-content-paddings);
}
