@import '../../vars.css';

.s {
    padding: var(--modal-s-content-paddings);

    &:last-child {
        padding-bottom: var(--modal-s-content-only-bottom-padding);
    }
}

.m {
    padding: 0 56px;

    &:last-child {
        padding-bottom: 56px;
    }
}

.l,
.xl,
.fullscreen {
    padding: 0 var(--gap-6xl);

    &:last-child {
        padding-bottom: var(--gap-6xl);
    }
}
