/* stylelint-disable selector-pseudo-class-no-unknown */

@import '../../../packages/vars/src/index.css';

.changelog {
    &:not(.root) {
        & h1:global(.sbdocs):first-child {
            display: none;

            & + p {
                display: none;
            }
        }
    }

    & h1:global(.sbdocs) {
        @mixin headline_medium;

        margin: var(--gap-2xl) 0 var(--gap-m);
        color: var(--color-light-text-primary);
        border-bottom: 1px solid var(--color-light-border-secondary);

        & a {
            @mixin headline_medium;

            border: none;
        }
    }

    & h2:global(.sbdocs) {
        @mixin headline_xsmall;

        border: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
        margin-bottom: var(--gap-s);
        padding-bottom: var(--gap-xs);
        border-bottom: 1px solid var(--color-light-border-secondary);

        &:after {
            display: none;
        }

        & a {
            @mixin headline_xsmall;

            border: none;
        }

        & + p {
            margin-bottom: var(--gap-xl);
        }
    }

    & h3:global(.sbdocs) {
        margin-top: var(--gap-m);
    }
}
