@define-mixin form-field-click {
    --form-field-border-radius: 4px;
    --form-field-border-bottom: 0;
    --form-field-bg-color: var(--color-dark-indigo-07-flat);

    /* disabled */
    --form-field-disabled-border-bottom: 0;
    --form-field-disabled-bg-color: var(--color-dark-indigo-07-flat);

    /* focus */
    --form-field-focus-shadow: none;
    --form-field-focus-border-bottom: 0;
    --form-field-hover-bg-color: var(--color-dark-indigo-07-flat);

    /* error */
    --form-field-error-shadow: inset 0 0 0 1px var(--form-field-error-color);
    --form-field-error-border-bottom: 0;
}
