@import '../vars/colors.css';

:root {
  --primary-color: var(--color-dark-indigo);
  --secondary-color: var(--color-dark-indigo-60-flat);

  --font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, sans-serif;

  /* Button */

  --button-primary-base-color: var(--color-red-brand);

  --button-secondary-base-color: rgba(0, 0, 0, 0);
  --button-secondary-border-color: var(--color-dark-indigo-60-flat);
  /* Click theme */
  /*
  --button-secondary-base-color: var(--color-dark-indigo-15-flat);
  --button-secondary-border-color: rgba(0, 0, 0, 0);
  */

  --button-extra-base-color: rgba(11, 31, 53, 0.8);

  --button-border-radius: 4px;
  --button-font-weight: 600;
  --button-font-family: var(--font-family);
}
