@import '../../themes/src/default.css';

:root {
    /* deprecated */
    --amount-major-part-font-weight: bold;
    --amount-minor-part-font-weight: normal;
}

.component {
    white-space: nowrap;
    font-weight: var(--amount-major-part-font-weight);
}

.minorPartAndCurrency {
    font-weight: var(--amount-minor-part-font-weight);
}

.majorRegular {
    font-weight: normal;
}

.minorRegular {
    font-weight: normal;
}

.majorBold {
    font-weight: bold;
}

.minorBold {
    font-weight: bold;
}

.minorTransparent {
    opacity: 0.6;
}
