@import '../../themes/src/default.css';

.component {
    white-space: nowrap;
}

.transparentMinor {
    opacity: 0.6;
}

.bold {
    font-weight: bold;
}

.boldMajor {
    font-weight: bold;
}

.normalMinor {
    font-weight: normal;
}
