@import '../../../../themes/src/default.css';

:root {
    --bottom-sheet-header-border-bottom: none;
    --bottom-sheet-footer-background-color: var(--color-light-bg-primary);
    --bottom-sheet-title-font-size: 18px;
    --bottom-sheet-title-line-height: 24px;
    --bottom-sheet-title-font-family: var(--font-family-system);
    --bottom-sheet-title-margin-vertical: var(--gap-2xs);
}

.header {
    display: flex;
    align-items: center;
    padding: var(--gap-xs);
    padding-bottom: 0;
    background-color: var(--color-light-bg-primary);
    border-top-right-radius: var(--border-radius-xl);
    border-top-left-radius: var(--border-radius-xl);
}

.sticky {
    position: sticky;
    top: 0;
}

.highlighted {
    border-bottom: var(--bottom-sheet-header-border-bottom);
}

.justifyEnd {
    justify-content: flex-end;
}

.marker {
    position: absolute;
    top: var(--gap-2xs);
    left: 50%;
    width: 36px;
    height: 4px;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: var(--color-light-graphic-neutral);
    z-index: 1000;
}

.addon {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    height: 48px;
}

.addonLeft {
    left: 0;
    margin-left: var(--gap-xs);
}

.addonRight {
    right: 0;
    margin-right: var(--gap-xs);
}

.title {
    padding: var(--gap-xs) var(--gap-xs);
    margin: var(--bottom-sheet-title-margin-vertical) 0;
    width: 100%;
    font-size: var(--bottom-sheet-title-font-size);
    line-height: var(--bottom-sheet-title-line-height);
    font-feature-settings: var(--bottom-sheet-title-font-feature-settings);
    font-family: var(--bottom-sheet-title-font-family);
}

.titleCenter {
    text-align: center;
}

.titleLeft {
    text-align: left;
}

.trimTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleIndentHorizontal {
    margin: var(--bottom-sheet-title-margin-vertical) var(--gap-4xl);
}

.titleIndentRight {
    margin-right: var(--gap-4xl);
}

.titleIndentLeft {
    margin-left: var(--gap-4xl);
}