.component {
    position: relative;
    margin: 0 0 var(--gap-xl);
}

.component h1 {
    display: inline-block;
}

.version {
    display: inline-block;
    margin-left: var(--gap-xs);
    color: rgba(11, 31, 53, 0.6);
    font-size: 16px;
    line-height: 1.2;
}

.design {
    padding: 0 0 0 var(--gap-l);
    background: url(https://static.figma.com/app/icon/1/favicon.svg) no-repeat 0 50%;
}

.commonLink {
    opacity: 0.8;
}

.github {
    margin: 0 0 var(--gap-xs);
    padding: 0 0 0 var(--gap-l);
    background: url(https://github.githubassets.com/favicons/favicon.svg) no-repeat 0 50%;
    background-size: 16px 16px;
}

.links {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 16px;
    line-height: 16px;
}

.links a {
    color: var(--color-light-text-link);
    border-bottom: 1px solid var(--color-light-text-link-alpha-30);
    text-decoration: none;
}
