@import '../../vars/src/colors-indigo.css';
@import '../../themes/src/default.css';

.container {
    background: var(--color-light-bg-primary-inverted-alpha-10);
    display: flex;
    overflow: hidden;
    border-radius: var(--border-radius-m);
    height: 8px;
    position: relative;
}

.hatch {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    width: 100%;
    transition: transform 0.4s ease;
    background: repeating-linear-gradient(
        -45deg,
        var(--color-light-graphic-tertiary) 6px 10px,
        var(--color-light-specialbg-nulled) 10px 18px
    );
}

.filled {
    position: relative;
    border-radius: inherit;
    width: 100%;
    transition: transform 0.4s ease;
    z-index: 1;
}

.positive {
    background: var(--color-light-graphic-positive);
}

.attention {
    background: var(--color-light-graphic-attention);
}

.negative {
    background: var(--color-light-graphic-negative);
}

.link {
    background: var(--color-light-graphic-link);
}

.tertiary {
    background: var(--color-light-graphic-tertiary);
}

.secondary {
    background: var(--color-light-graphic-secondary);
}

.primary {
    background: var(--color-light-graphic-primary);
}

.accent {
    background: var(--color-light-graphic-accent);
}
