@import '../../themes/src/default.css';

.spaceContainer {
    display: inline-flex;
}

.spaceContainerFullWidth {
    width: 100%;
}

.vertical {
    flex-direction: column;
}

.align_center {
    align-items: center;
}

.align_start {
    align-items: flex-start;
}

.align_end {
    align-items: flex-end;
}

.spaceItemFullWidth {
    width: 100%;
}

.spaceItem:empty {
    display: none;
}
