@import '../../themes/src/default.css';

:root {
    /* border */
    --tag-border-color: var(--color-light-border-secondary-inverted);
    --tag-border-color-hover: var(--color-light-border-key);
    --tag-border-color-active: var(--color-light-border-key);
    --tag-border-color-checked: var(--color-light-border-key);
    --tag-border-color-disabled: var(--color-light-border-primary);
    --tag-border-color-checked-disabled: transparent;

    /* background-color */
    --tag-background-color: transparent;
    --tag-background-color-hover: transparent;
    --tag-background-color-active: var(--color-light-bg-primary-inverted-alpha-7);
    --tag-background-color-disabled: transparent;
    --tag-background-color-checked: var(--color-light-bg-primary-inverted);
    --tag-background-color-checked-hover: var(--color-light-bg-primary-inverted-tint-15);
    --tag-background-color-checked-active: var(--color-light-bg-primary-inverted-tint-20);
    --tag-background-color-checked-disabled: var(--color-light-bg-primary-inverted-alpha-30);

    /* text color */
    --tag-text-color: var(--color-light-text-primary);
    --tag-text-color-checked: var(--color-light-text-primary-inverted);
    --tag-text-color-disabled: var(--color-light-text-tertiary);
    --tag-text-color-checked-disabled: var(--color-light-text-primary-inverted);
}

.component {
    color: var(--tag-text-color);
    border-color: var(--tag-border-color);
    background-color: var(--tag-background-color);

    &:disabled {
        border-color: var(--tag-border-color-disabled);
        color: var(--tag-text-color-disabled);
        background-color: var(--tag-background-color-disabled);
    }
}

.component {
    &:hover:not(:disabled) {
        border-color: var(--tag-border-color-hover);
        background-color: var(--tag-background-color-hover);
    }

    &:active:not(:disabled) {
        border-color: var(--tag-border-color-active);
        background-color: var(--tag-background-color-active);
        color: var(--tag-text-color);
    }
}

.checked {
    border-color: var(--tag-border-color-checked);
    background-color: var(--tag-background-color-checked);
    color: var(--tag-text-color-checked);

    &:disabled {
        background-color: var(--tag-background-color-checked-disabled);
        border-color: var(--tag-border-color-checked-disabled);
        color: var(--tag-text-color-checked-disabled);
    }

    &:hover:not(:disabled):not(:active) {
        background-color: var(--tag-background-color-checked-hover);
    }

    &:active:not(:disabled) {
        background-color: var(--tag-background-color-checked-active);
        color: var(--tag-text-color-checked);
    }
}
