@import '../../themes/src/default.css';

:root {
    /* border */
    --tag-border-width: 1px;
    --tag-border-style: solid;
    --tag-border-color: color-mod(var(--color-light-border-key) alpha(30%));
    --tag-border-color-hover: var(--color-light-border-key);
    --tag-border-color-active: var(--color-light-border-key);
    --tag-border-color-disabled: var(--color-light-border-secondary-inverted);

    /* background-color */
    --tag-background-color: transparent;
    --tag-background-color-hover: transparent;
    --tag-background-color-active: color-mod(var(--color-light-bg-primary-inverted) alpha(7%));
    --tag-background-color-checked: var(--color-light-bg-primary-inverted);
    --tag-background-color-checked-disabled: var(--color-dark-indigo-30-flat); /* TODO */

    /* text color */
    --tag-text-color: var(--color-light-text-primary);
    --tag-text-color-checked: var(--color-light-text-primary-inverted);
    --tag-text-color-checked-hover: var(--color-light-text-primary-inverted);
    --tag-text-color-checked-disabled: var(--color-light-text-primary-inverted);
}

.component {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font-family);
    text-decoration: none;
    border: var(--tag-border-width) var(--tag-border-style) var(--tag-border-color);
    border-radius: 99px;
    background-color: var(--tag-background-color);
    transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;

    &:disabled {
        cursor: var(--disabled-cursor);
    }
}

.focused {
    @mixin focus-outline;
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &:first-child {
        margin-right: var(--gap-xs);
    }

    &:last-child {
        margin-left: var(--gap-xs);
    }

    &:only-child {
        margin: 0;
    }
}

.component {
    &:hover:not(:disabled) {
        border: var(--tag-border-width) var(--tag-border-style) var(--tag-border-color-hover);
        background-color: var(--tag-background-color-hover);
    }

    &:active:not(:disabled) {
        background-color: var(--tag-background-color-active);
        color: var(--tag-text-color);
    }
}

.checked {
    background-color: var(--tag-background-color-checked);
    color: var(--tag-text-color-checked);

    &:disabled {
        background-color: var(--tag-background-color-checked-disabled);
        border: var(--tag-border-width) var(--tag-border-style) var(--tag-border-color-disabled);
    }

    &:hover:not(:disabled):not(:active) {
        background-color: var(--tag-background-color-checked);
        color: var(--tag-text-color-checked-hover);
    }
}

.xs {
    min-width: 60px;
    min-height: 32px;
    padding: var(--gap-2xs) var(--gap-m);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 32px;
    }
}

.s {
    min-width: 80px;
    min-height: 48px;
    padding: var(--gap-2xs) var(--gap-m);
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 48px;
    }
}

.m {
    @mixin action_component;
    min-width: 96px;
    min-height: 56px;
    padding: var(--gap-2xs) var(--gap-xl);

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 56px;
    }
}

.l {
    @mixin action_primary_large;
    min-width: 120px;
    min-height: 64px;
    padding: var(--gap-2xs) var(--gap-2xl);

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 64px;
    }
}

.xl {
    @mixin action_primary_large;
    min-width: 120px;
    min-height: 72px;
    padding: var(--gap-2xs) var(--gap-2xl);

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 72px;
    }
}
