@import './vars.css';

.component {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font-family);
    text-decoration: none;
    border-width: var(--tag-border-width);
    border-style: solid;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;

    &:disabled {
        cursor: var(--disabled-cursor);
    }
}

.focused {
    @mixin focus-outline;
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &:first-child {
        margin-right: var(--gap-2xs);
    }

    &:last-child {
        margin-left: var(--gap-2xs);
    }

    &:only-child {
        margin: 0;
    }
}

.s,
.m {
    & .addons:first-child {
        margin-right: var(--gap-xs);
    }

    & .addons:last-child {
        margin-left: var(--gap-xs);
    }
}

.l,
.xl {
    & .addons:first-child {
        margin-right: var(--gap-s);
    }

    & .addons:last-child {
        margin-left: var(--gap-s);
    }
}

.xxs {
    min-width: 60px;
    min-height: var(--size-xs-height);
    padding: 0 var(--gap-m);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 32px;
    }
}

.xs {
    min-width: 72px;
    min-height: 40px;
    padding: 0 var(--gap-l);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 40px;
    }
}

.s {
    min-width: 80px;
    min-height: var(--size-s-height);
    padding: 0 var(--gap-xl);
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 48px;
    }
}

.m {
    @mixin action_component;
    min-width: 96px;
    min-height: var(--size-m-height);
    padding: 0 28px;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 56px;
    }
}

.l {
    @mixin action_primary_large;
    min-width: 120px;
    min-height: var(--size-l-height);
    padding: 0 var(--gap-2xl);

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 64px;
    }
}

.xl {
    @mixin action_primary_large;
    min-width: 120px;
    min-height: var(--size-xl-height);
    padding: 0 36px;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 72px;
    }
}

.withRightAddons {
    &.xxs {
        padding-right: var(--gap-s);
    }

    &.xs {
        padding-right: var(--gap-m);
    }

    &.s {
        padding-right: var(--gap-l);
    }

    &.m {
        padding-right: var(--gap-xl);
    }

    &.l {
        padding-right: 28px;
    }

    &.xl {
        padding-right: var(--gap-2xl);
    }
}

.withLeftAddons {
    &.xxs {
        padding-left: var(--gap-s);
    }

    &.xs {
        padding-left: var(--gap-m);
    }

    &.s {
        padding-left: var(--gap-l);
    }

    &.m {
        padding-left: var(--gap-xl);
    }

    &.l {
        padding-left: 28px;
    }

    &.xl {
        padding-left: var(--gap-2xl);
    }
}

.default {
    border-radius: var(--tag-border-radius);
}

.alt {
    border-radius: var(--tag-alt-border-radius);
}
