@import '../../themes/src/default.css';

:root {
    /* border */
    --tag-border-color: var(--color-light-border-underline);
    --tag-border-color-hover: var(--color-light-border-key);
    --tag-border-color-active: var(--color-light-border-key);
    --tag-border-color-checked: var(--color-light-border-key);
    --tag-border-color-disabled: var(--color-light-border-primary);
    --tag-border-color-checked-disabled: transparent;
    --tag-border-width: 1px;
    --tag-border-radius: var(--border-radius-pill);
    --tag-alt-border-radius: var(--border-radius-s);

    /* background-color */
    --tag-background-color: transparent;
    --tag-background-color-hover: transparent;
    --tag-background-color-active: var(--color-light-bg-primary-inverted-alpha-7);
    --tag-background-color-disabled: transparent;
    --tag-background-color-checked: var(--color-light-bg-primary-inverted);
    --tag-background-color-checked-hover: var(--color-light-bg-primary-inverted-tint-15);
    --tag-background-color-checked-active: var(--color-light-bg-primary-inverted-tint-20);
    --tag-background-color-checked-disabled: var(--color-light-bg-primary-inverted-alpha-30);

    /* text color */
    --tag-text-color: var(--color-light-text-primary);
    --tag-text-color-checked: var(--color-light-text-primary-inverted);
    --tag-text-color-disabled: var(--color-light-text-tertiary);
    --tag-text-color-checked-disabled: var(--color-light-text-primary-inverted);

    /* inverted */

    /* border */
    --tag-inverted-border-color: var(--color-dark-border-underline);
    --tag-inverted-border-color-hover: var(--color-dark-border-key);
    --tag-inverted-border-color-active: var(--color-dark-border-key);
    --tag-inverted-border-color-checked: var(--color-dark-border-key);
    --tag-inverted-border-color-disabled: var(--color-dark-border-primary);
    --tag-inverted-border-color-checked-disabled: transparent;

    /* background-color */
    --tag-inverted-background-color: transparent;
    --tag-inverted-background-color-hover: transparent;
    --tag-inverted-background-color-disabled: transparent;
    --tag-inverted-background-color-active: var(--color-dark-bg-primary-inverted-alpha-7);
    --tag-inverted-background-color-checked: var(--color-dark-bg-primary-inverted);
    --tag-inverted-background-color-checked-hover: var(--color-dark-bg-primary-inverted-shade-7);
    --tag-inverted-background-color-checked-active: var(--color-dark-bg-primary-inverted-shade-15);
    --tag-inverted-background-color-checked-disabled: var(
        --color-dark-bg-primary-inverted-alpha-30
    );

    /* text color */
    --tag-inverted-text-color: var(--color-dark-text-primary);
    --tag-inverted-text-color-checked: var(--color-dark-text-primary-inverted);
    --tag-inverted-text-color-disabled: var(--color-dark-text-tertiary);
    --tag-inverted-text-color-checked-disabled: var(--color-dark-text-primary-inverted);
}
