@import '../../themes/src/default.css';

.component {
    @mixin system_16-20_regular;

    display: inline-flex;
    box-sizing: border-box;
    color: var(--input-color);
    background-color: var(--form-control-bg-color);
    border-radius: var(--form-control-border-radius);
    transition: background 0.2s ease, box-shadow 0.2s ease, border 0.2s ease, color 0.2s ease;
    border: none;
    margin: 0;
    padding: var(--form-control-paddings);
    border-bottom: var(--form-control-border-bottom);
    outline: none;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.component::placeholder {
    text-overflow: ellipsis;
    color: var(--input-placeholder-color);
    transition: color 0.2s ease;
}

.block {
    width: 100%;
}

/* SIZE */

.s {
    height: 48px;
}

.m {
    height: 56px;
}

.l {
    height: 72px;
    padding: var(--form-control-l-paddings);
}

/* DISABLED STATE */

.component:disabled {
    cursor: var(--disabled-cursor);
    color: var(--input-disabled-color);
    border-bottom: var(--form-control-disabled-border-bottom);
    background-color: var(--form-control-disabled-bg-color);
}

/* FOCUS STATE */

.component:not(:disabled):focus {
    border-bottom: var(--form-control-focus-border-bottom);
    box-shadow: var(--form-control-focus-shadow);

    &::placeholder {
        color: var(--input-focus-placeholder-color);
    }
}

.focusVisible {
    @mixin focus-outline;
}

/* HOVER STATE */

.component:not(:disabled):hover {
    background-color: var(--form-control-hover-bg-color);
}

/* IE hide clear */

.component::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
