@import '../../themes/src/default.css';

:root {
    --pure-input-border-radius: 4px 4px 0 0;
    --pure-input-border-bottom: 1px solid var(--color-dark-indigo-30-flat);
    --pure-input-bg-color: var(--color-dark-indigo-07);

    /* paddings */
    --pure-input-paddings: 1px var(--gap-s) 0;
    --pure-input-l-paddings: 1px var(--gap-m) 0;

    /* disabled */
    --pure-input-disabled-bg-color: var(--color-dark-indigo-15);
    --pure-input-disabled-border-bottom: 1px dashed var(--color-dark-indigo-30-flat);

    /* focus */
    --pure-input-focus-shadow: inset 0 -1px var(--color-dark-indigo);
    --pure-input-focus-border-bottom: 1px solid var(--color-dark-indigo);

    /* hover */
    --pure-input-hover-bg-color: var(--color-dark-indigo-15);
}

.component {
    @mixin system_16-20_regular;

    display: inline-flex;
    box-sizing: border-box;
    color: var(--color-dark-indigo);
    background-color: var(--pure-input-bg-color);
    border-radius: var(--pure-input-border-radius);
    transition: background 0.2s ease, box-shadow 0.2s ease, border 0.2s ease, color 0.2s ease;
    border: none;
    margin: 0;
    padding: var(--pure-input-paddings);
    border-bottom: var(--pure-input-border-bottom);
    outline: none;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.component::placeholder {
    text-overflow: ellipsis;
    color: var(--color-dark-indigo-60-flat);
    transition: color 0.2s ease;
}

.block {
    width: 100%;
}

/* SIZE */

.s {
    height: 48px;
}

.m {
    height: 56px;
}

.l {
    height: 72px;
    padding: var(--pure-input-l-paddings);
}

/* DISABLED STATE */

.component:disabled {
    color: var(--color-dark-indigo-60-flat);
    border-bottom: var(--pure-input-disabled-border-bottom);
    background-color: var(--pure-input-disabled-bg-color);
}

/* FOCUS STATE */

.component:not(:disabled):focus {
    border-bottom: var(--pure-input-focus-border-bottom);
    box-shadow: var(--pure-input-focus-shadow);

    &::placeholder {
        color: var(--color-dark-indigo-30-flat);
    }
}

/* HOVER STATE */

.component:not(:disabled):hover {
    background-color: var(--pure-input-hover-bg-color);
}
