@import '../../themes/src/default.css';

.component {
    @mixin accent_secondary_small;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0 var(--gap-xs);
    border-radius: var(--border-radius-s);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    &:empty {
        padding: 0;
    }
}

.soft {
    &.green {
        background: var(--color-static-status-green-alpha-10);
        color: var(--color-static-status-green);
    }

    &.orange {
        background: var(--color-static-status-orange-alpha-10);
        color: var(--color-static-status-orange);
    }

    &.red {
        background: var(--color-static-status-red-alpha-10);
        color: var(--color-static-status-red);
    }

    &.blue {
        background: var(--color-static-status-blue-alpha-10);
        color: var(--color-static-status-blue);
    }

    &.grey {
        background: var(--color-static-status-grey-alpha-10);
        color: var(--color-static-status-grey);
    }

    &.teal {
        background: var(--color-static-status-teal-alpha-10);
        color: var(--color-static-status-teal);
    }

    &.purple {
        background: var(--color-static-status-purple-alpha-10);
        color: var(--color-static-status-purple);
    }
}

.contrast {
    color: var(--color-light-text-primary-inverted);

    &.green {
        background: var(--color-static-status-green);
    }

    &.orange {
        background: var(--color-static-status-orange);
    }

    &.red {
        background: var(--color-static-status-red);
    }

    &.blue {
        background: var(--color-static-status-blue);
    }

    &.grey {
        background: var(--color-static-status-grey);
    }

    &.teal {
        background: var(--color-static-status-teal);
    }

    &.purple {
        background: var(--color-static-status-purple);
    }
}
