@import '../../themes/src/default.css';

.component {
    /* TODO: как это будет собираться и работать в webView */
    --form-control-border-radius: 0;
    --form-control-border-bottom: 1px solid var(--color-black);
    --form-control-bg-color: transparent;

    /* focus */
    --form-control-focus-shadow: inset 0 -1px var(--color-black);
    --form-control-focus-border-bottom: 1px solid var(--color-black);

    /* hover */
    --form-control-hover-bg-color: transparent;

    position: relative;
    max-width: 343px;

    /* Эталонный размер 343x215 */
    padding-bottom: 62.6%;
    border-radius: 12px;

    font-family: var(--font-family-styrene);

    & .input {
        color: var(--color-black);

        /* TODO: убрать ff из миксинов */
        font-family: var(--font-family-styrene);

        /* Костылёк. TODO: обсудить с дизайнером, почему инпут не соответствует дизайн-системе, либо уменьшить каскад в form-control */
        padding-left: 0 !important;

        /* Переопределение, т.к. в либе нет такого стиля */
        font-size: 20px;
        line-height: 24px;

        /* TODO: Размер щрифта на этом отрезке должен меняться с 16px до 20px. Уточнить - это то, что реально нужно? */
        @media (min-width: 320px) and (max-width: 375px) {
            font-size: calc(16px + (100vw - 320px) * (4 / (375 - 320)));
        }
    }

    & .label {
        /* TODO: разобраться с цветами. Цвета сейчас не кастомизируются, а в данном кейсе цвет лейбла меняется еще и при фокусе */
        color: var(--color-black);
        left: 0;
    }

    &.focused .label,
    &.filled .label {
        font-size: 12px;
    }

    /* Костылёк. В макете - лейбл и инпут находятся на одной высоте, поэтому приходится двигать лейбл чуть ниже */
    &:not(.focused):not(.filled) .label {
        color: var(--color-black-60);
        transform: translateY(8px);
    }
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.bankLogo {
    position: absolute;
    top: 20px;
    left: 20px;

    & svg {
        display: block;
    }
}

.brandLogo {
    position: absolute;
    bottom: 4px;
    right: 20px;

    & svg {
        display: block;
    }
}

.usePhoto {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    margin-bottom: 4px;
    align-self: flex-end;

    /* Костылёк. В макете иконка прилегает к правому краю поля, а по дизайн-системе там должен быть отступ */
    margin-right: calc(var(--gap-s) * -1);

    & svg {
        display: block;
    }
}
