@import '../../vars.css';

.backdrop {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: var(--color-dark-bg-opaque);
    -webkit-tap-highlight-color: transparent; /* убирает хайлайт */
}

.invisible {
    background-color: transparent;
}

.appear,
.enter {
    opacity: 0;
}

.appearActive,
.enterActive {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.exit {
    opacity: 1;
}

.exitActive,
.exitDone {
    opacity: 0;
    transition: opacity 200ms ease-out;
}
