@import '../../../../vars/src/colors.css';

@define-mixin tag-click {
    --tag-background-color: var(--color-dark-indigo-07-flat);
    --tag-background-color-hover: color-mod(var(--color-dark-indigo-07-flat) blenda(black 10%));
    --tag-background-color-active: color-mod(var(--color-dark-indigo-07-flat) blenda(black 30%));
    --tag-text-color-checked-hover: color-mod(var(--color-white) blenda(black 30%));
    --tag-border-color: transparent;
    --tag-border-color-hover: transparent;
    --tag-border-color-active: transparent;
    --tag-border-color-disabled: transparent;
}
