@define-mixin tag-click {
    /* theme */
    --tag-background-color: var(--color-light-specialbg-component);
    --tag-background-color-hover: var(--color-light-specialbg-component-shade-10);
    --tag-background-color-active: var(--color-light-specialbg-component-shade-30);
    --tag-background-color-disabled: var(--color-light-specialbg-component);
    --tag-border-color: transparent;
    --tag-border-color-hover: transparent;
    --tag-border-color-active: transparent;
    --tag-border-color-checked: transparent;
    --tag-border-color-disabled: transparent;
}
