@define-mixin link-click {
    /* primary */
    --link-primary-hover-color: var(--color-light-text-primary-tint-30);
    --link-primary-active-color: var(--color-light-text-primary-tint-50);

    /* inverted primary */
    --link-inverted-primary-hover-color: color-mod(
        var(--color-light-text-primary-inverted) tint(30%)
    );
    --link-inverted-primary-active-color: color-mod(
        var(--color-light-text-primary-inverted) tint(50%)
    );

    /* secondary */
    --link-secondary-hover-color: var(--color-light-text-secondary-tint-30);
    --link-secondary-active-color: var(--color-light-text-secondary-tint-50);

    /* inverted secondary */
    --link-inverted-secondary-hover-color: color-mod(
        var(--color-light-text-secondary-inverted) tint(30%)
    );
    --link-inverted-secondary-active-color: color-mod(
        var(--color-light-text-secondary-inverted) tint(50%)
    );

    /* default */
    --link-default-hover-color: var(--color-light-text-link-tint-30);
    --link-default-active-color: var(--color-light-text-link-tint-50);

    /* inverted default */
    --link-inverted-default-hover-color: color-mod(var(--color-light-text-link) tint(30%));
    --link-inverted-default-active-color: color-mod(var(--color-light-text-link) tint(50%));
}
