@import '../../../../vars/src/index.css';

@define-mixin link-default-inverted {
    /* core vars */
    --color-light-text-primary-inverted: #fff;

    /* theme */
    --link-primary-color: var(--color-light-text-primary-inverted);
    --link-primary-hover-color: var(--link-primary-color);
    --link-primary-active-color: var(--link-primary-color);
}
