@import '../../themes/src/default.css';

:root {
    /* primary */
    --link-primary-color: var(--color-light-text-primary);
    --link-primary-hover-color: var(--color-light-text-primary-shade-20);
    --link-primary-active-color: var(--color-light-text-primary-shade-40);

    /* secondary */
    --link-secondary-color: var(--color-light-text-secondary);
    --link-secondary-hover-color: var(--color-light-text-secondary-shade-20);
    --link-secondary-active-color: var(--color-light-text-secondary-shade-40);

    /* default */
    --link-default-color: var(--color-light-text-link);
    --link-default-hover-color: var(--color-light-text-link-shade-20);
    --link-default-active-color: var(--color-light-text-link-shade-40);
}

.primary {
    color: var(--link-primary-color);
    border-bottom-color: var(--link-primary-color);

    &:hover {
        color: var(--link-primary-hover-color);
    }

    &:active {
        color: var(--link-primary-active-color);
    }
}

.secondary {
    color: var(--link-secondary-color);
    border-bottom-color: var(--link-secondary-color);

    &:hover {
        color: var(--link-secondary-hover-color);
    }

    &:active {
        color: var(--link-secondary-active-color);
    }
}

.default {
    color: var(--link-default-color);
    border-bottom-color: var(--link-default-color);

    &:hover {
        color: var(--link-default-hover-color);
    }

    &:active {
        color: var(--link-default-active-color);
    }
}
