@import '../../themes/src/default.css';

:root {
    /* primary */
    --link-primary-color: var(--color-light-text-primary);
    --link-primary-hover-color: color-mod(var(--link-primary-color) shade(20%));
    --link-primary-active-color: color-mod(var(--link-primary-color) shade(40%));

    /* secondary */
    --link-secondary-color: var(--color-light-text-secondary);
    --link-secondary-hover-color: color-mod(var(--link-secondary-color) shade(20%));
    --link-secondary-active-color: color-mod(var(--link-secondary-color) shade(40%));

    /* default */
    --link-default-color: var(--color-light-text-link);
    --link-default-hover-color: color-mod(var(--link-default-color) shade(20%));
    --link-default-active-color: color-mod(var(--link-default-color) shade(40%));
}

.component {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-family);
    cursor: pointer;
    outline: none;

    &:hover .link,
    &:active .link {
        border-bottom-color: rgba(0, 0, 0, 0);
    }
}

.link {
    padding-bottom: 1px;
    border-bottom: 1px solid;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.focused {
    @mixin focus-outline;
}

.primary {
    color: var(--link-primary-color);
    border-bottom-color: var(--link-primary-color);

    &:hover {
        color: var(--link-primary-hover-color);
    }

    &:active {
        color: var(--link-primary-active-color);
    }
}

.secondary {
    color: var(--link-secondary-color);
    border-bottom-color: var(--link-secondary-color);

    &:hover {
        color: var(--link-secondary-hover-color);
    }

    &:active {
        color: var(--link-secondary-active-color);
    }
}

.default {
    color: var(--link-default-color);
    border-bottom-color: var(--link-default-color);

    &:hover {
        color: var(--link-default-hover-color);
    }

    &:active {
        color: var(--link-default-active-color);
    }
}

.pseudo .link {
    border-bottom-style: dashed;
}

.slots {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.slots:first-child {
    margin-right: var(--gap-xs);
}

.slots:last-child {
    margin-left: var(--gap-xs);
}
