@import '../../../../../themes/src/default.css';
@import '../../../vars.css';

.center {
    & .phoneHintWrap {
        align-items: center;
    }

    & .hintWrap {
        align-items: center;
    }
}

.hintWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    @mixin _confirmation-title;
}

.text {
    @mixin _confirmation-text;

    margin-bottom: var(--gap-xl);
}

.phonesWrap {
    @mixin _confirmation-text;

    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-xl);
}

.phoneWrap {
    margin-bottom: var(--gap-xs);

    &:last-child {
        margin-bottom: 0;
    }
}

.phoneLink {
    @mixin action_primary_medium;

    & > span {
        border-bottom: none;
    }
}

.phoneDescription {
    color: var(--confirmation-text-color);
}

.hintButton {
    margin-top: var(--gap-2xl);
}
