@import '../../themes/src/default.css';

:root {
    --money-input-currency-color: var(--color-dark-indigo-60-flat);
}
/* stylelint-disable selector-pseudo-class-no-unknown */
:import('../../form-control/src/index.module.css') {
    filled: filled;
    focused: focused;
}

/*
* Задача:
* 1) Отобразить символ валюты сразу за последним введенным символом
* 2) Не дать возможность попасть кареткой за валюту
* 3) Не дать выделить символ валюты при выделении денежного значения
* 4) (ВОЗМОЖНОЕ будущее) Отображать символ валюты другим цветом
* 5) (ВОЗМОЖНОЕ будущее) Отображать копейки другим цветом
*
* Решение
* Делаем скрытый текст где держим то же значение, добавляем символ валюты
* Важно расположить этот текст ровно на месте инпута и чтобы он имел те же параметры что и текст в инпуте
*/
.fakeValueWithCurrency {
    @mixin system_16-20_regular;
    position: absolute;
    pointer-events: none;
    visibility: hidden;
}

.currency {
    color: var(--money-input-currency-color);
}

.bold .input,
.bold .fakeValueWithCurrency {
    font-weight: bold;
}

.filled .currency {
    visibility: visible;
}

.focused .input::placeholder {
    color: transparent;
    transition: none;
}
