@import '../../vars.css';

.footer {
    border-bottom-left-radius: var(--modal-border-radius);
    border-bottom-right-radius: var(--modal-border-radius);
}

.sticky {
    bottom: calc(var(--modal-vertical-padding) * -1);

    &.fullscreen {
        bottom: 0;
    }
}

.s,
.m {
    padding: var(--modal-s-footer-paddings);
}

.l,
.xl,
.fullscreen {
    padding: var(--gap-2xl) var(--gap-6xl) var(--gap-6xl);
}
