@import '../../vars.css';

.component {
    transition: box-shadow 0.3s ease, background 0.3s ease;
    background: var(--color-light-bg-primary);
    border-bottom-left-radius: var(--modal-border-radius);
    border-bottom-right-radius: var(--modal-border-radius);
}

.s {
    padding: var(--modal-s-footer-paddings);
}

.m {
    padding: var(--modal-m-footer-paddings);
}

.l {
    padding: var(--modal-l-footer-paddings);
}

.highlighted {
    background: var(--modal-footer-highlight-background);
    box-shadow: var(--modal-footer-highlight-box-shadow);
}
