@import '../../vars.css';

.footer {
    composes: footer from 'index.module.css';

    padding: var(--gap-xl) var(--gap-m);
}

.highlighted {
    composes: highlighted from 'index.module.css';
}

.sticky {
    composes: sticky from 'index.module.css';

    bottom: 0;
}
