@import '../../themes/src/default.css';

:root {
    /* paddings */
    --input-paddings: 1px var(--gap-s) 0;
    --input-l-paddings: 1px var(--gap-m) 0;
    --input-labeled-s-paddings: 23px var(--gap-s) 4px;
    --input-labeled-m-paddings: 28px var(--gap-s) 7px;
    --input-labeled-l-paddings: 34px var(--gap-m) 13px;
}

.input {
    @mixin system_16-20_regular;

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--color-dark-indigo);
    background: none;
    border: none;
    margin: 0;
    outline: none;
    padding: var(--input-paddings);
    text-overflow: ellipsis;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input::placeholder {
    transition: opacity 0.2s ease, color 0.2s ease;
    color: var(--color-dark-indigo-60-flat);
}

.hasLabel::placeholder {
    opacity: 0;
    color: var(--color-dark-indigo-30-flat);
}

.hasLabel {
    padding: var(--input-labeled-s-paddings);
}

.block {
    width: 100%;
}

/* SIZES */

.m.hasLabel {
    padding: var(--input-labeled-m-paddings);
}

.l {
    padding: var(--input-l-paddings);
}

.l.hasLabel {
    padding: var(--input-labeled-l-paddings);
}

.l.hasInputAddons {
    padding-left: var(--gap-s);
    padding-right: var(--gap-s);
}

/* DISABLED STATE */

.input:disabled {
    color: var(--color-dark-indigo-60-flat);
}

/* FOCUS STATE */

.input:focus.hasLabel::placeholder {
    opacity: 1;
}

.input:focus::placeholder {
    color: var(--color-dark-indigo-30-flat);
}
