@import '../../themes/src/default.css';

:root {
    --input-clear-icon: url('https://alfabank.st/icons/glyph_cross-circle_m.svg');
}

.input {
    @mixin system_16-20_regular;

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--color-dark-indigo);
    background: none;
    border: none;
    margin: 0;
    outline: none;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input::placeholder {
    transition: opacity 0.2s ease, color 0.2s ease;
    color: var(--color-dark-indigo-60-flat);
}

.hasLabel::placeholder {
    opacity: 0;
    color: var(--color-dark-indigo-30-flat);
}

.block {
    width: 100%;
}

.clearIcon {
    display: block;
    width: 24px;
    height: 24px;
    background-image: var(--input-clear-icon);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.3;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 1;
    }
}

/* DISABLED STATE */

.input:disabled {
    color: var(--color-dark-indigo-60-flat);
}

/* FOCUS STATE */

.input:focus.hasLabel::placeholder {
    opacity: 1;
}

.input:focus::placeholder {
    color: var(--color-dark-indigo-30-flat);
}

.focusVisible > div:first-child {
    @mixin focus-outline;
}

/* IE hide clear */

.input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
