@import '../../themes/src/default.css';

:root {
    --input-clear-icon: url('https://alfabank.st/icons/glyph_cross-circle_m.svg');
    --input-color: var(--color-light-text-primary);
    --input-placeholder-color: var(--color-light-text-secondary);
    --input-focus-placeholder-color: var(--color-light-text-tertiary);
    --input-with-label-placeholder-color: var(--color-light-text-tertiary);
    --input-error-icon-display: flex;
    --input-success-icon-display: flex;
    --input-error-icon: url('http://alfabank.st/icons/icon_error_s_color.svg');
    --input-success-icon: url('http://alfabank.st/icons/icon_ok_s_color.svg');

    /* disabled */
    --input-disabled-color: var(--color-light-text-secondary);
}

@define-mixin _input-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.input {
    @mixin system_16-20_regular;

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--input-color);
    background: none;
    border: none;
    margin: 0;
    outline: none;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input::placeholder {
    transition: opacity 0.2s ease, color 0.2s ease;
    color: var(--input-placeholder-color);
}

.hasLabel::placeholder {
    opacity: 0;
    color: var(--input-with-label-placeholder-color);
}

.block {
    width: 100%;
}

.clearIcon {
    @mixin _input-icon;

    display: block;
    background-image: var(--input-clear-icon);
    opacity: 0.3;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 1;
    }
}

.errorIcon {
    @mixin _input-icon;

    display: var(--input-error-icon-display);
    background-image: url('http://alfabank.st/icons/icon_error_s_color.svg');
}

.successIcon {
    @mixin _input-icon;

    display: var(--input-success-icon-display);
    background-image: url('http://alfabank.st/icons/icon_ok_s_color.svg');
}

/* DISABLED STATE */

.input:disabled {
    color: var(--input-disabled-color);
}

/* FOCUS STATE */

.input:focus.hasLabel::placeholder {
    opacity: 1;
}

.input:focus::placeholder {
    color: var(--input-focus-placeholder-color);
}

.focusVisible > div:first-child {
    @mixin focus-outline;
}

/* IE hide clear */

.input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
