@import '../../themes/default.css';

:root {
    --input-border-radius: 4px 4px 0 0;
    --input-border-bottom: 1px solid var(--color-dark-indigo-30-flat);
    --input-bg-color: var(--color-dark-indigo-07);

    /* paddings */
    --input-paddings: 1px var(--gap-s) 0;
    --input-l-paddings: 1px var(--gap-m) 0;
    --input-labeled-s-paddings: 23px var(--gap-s) 4px;
    --input-labeled-m-paddings: 28px var(--gap-s) 7px;
    --input-labeled-l-paddings: 34px var(--gap-m) 13px;

    /* disabled */
    --input-disabled-bg-color: var(--color-dark-indigo-15);
    --input-disabled-border-bottom: 1px dashed var(--color-dark-indigo-30-flat);

    /* focus */
    --input-focus-shadow: inset 0 -1px var(--color-dark-indigo);
    --input-focus-border-bottom: 1px solid var(--color-dark-indigo);

    /* hover */
    --input-hover-bg-color: var(--color-dark-indigo-15);

    /* error */
    --input-error-color: var(--color-red-brand-85-flat);
    --input-error-shadow: inset 0 -1px var(--input-error-color);
    --input-error-border-bottom: 1px solid var(--input-error-color);
}

.component {
    display: inline-block;
}

.inner {
    display: flex;
    position: relative;
    height: 100%;
    background-color: var(--input-bg-color);
    border-radius: var(--input-border-radius);
    border-bottom: var(--input-border-bottom);
    transition: background 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
    box-sizing: border-box;
}

.input {
    @mixin system_16-20_regular;

    position: relative;
    width: 100%;
    height: 100%;
    color: var(--color-dark-indigo);
    background: none;
    border: none;
    margin: 0;
    outline: none;
    padding: var(--input-paddings);
    text-overflow: ellipsis;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input::placeholder {
    transition: opacity 0.2s ease, color 0.2s ease;
    color: var(--color-dark-indigo-60-flat);
}

.input-wrapper {
    flex-grow: 1;
    position: relative;
}

.label {
    @mixin system_16-20_regular;

    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    left: var(--gap-s);
    color: var(--color-dark-indigo-60-flat);
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: translateY(0);
    transform-origin: 0 100%;
    transition-duration: 200ms;
    transition-property: color, transform, font-size;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.addons:first-child {
    padding-left: var(--gap-s);
}

.addons:last-child {
    padding-right: var(--gap-s);
}

.sub {
    @mixin system_14-18_regular;

    display: block;
    margin-top: var(--gap-2xs);
    color: var(--color-dark-indigo-60-flat);
}

.hasLabel .input::placeholder {
    opacity: 0;
    color: var(--color-dark-indigo-30-flat);
}

.hasLabel .input {
    padding: var(--input-labeled-s-paddings);
}

.block {
    width: 100%;
}

/* SIZES */

.s {
    height: 48px;
}

.m {
    height: 56px;
}

.m.hasLabel .input {
    padding: var(--input-labeled-m-paddings);
}

.l {
    height: 68px;
}

.l .input {
    padding: var(--input-l-paddings);
}

.l.hasLabel .input {
    padding: var(--input-labeled-l-paddings);
}

.l .label {
    left: var(--gap-m);
}

.l .addons:first-child {
    padding-left: var(--gap-m);
}

.l .addons:last-child {
    padding-right: var(--gap-m);
}

.l .addons:first-child + .input-wrapper .input {
    padding-left: var(--gap-s);
    padding-right: var(--gap-s);
}

.l .addons:first-child + .input-wrapper .label {
    left: var(--gap-s);
}

.l .sub {
    margin-top: var(--gap-xs);
}

/* DISABLED STATE */

.disabled .inner {
    border-bottom: var(--input-disabled-border-bottom);
    background-color: var(--input-disabled-bg-color);
}

.disabled .input {
    color: var(--color-dark-indigo-60-flat);
}

.disabled .label {
    color: var(--color-dark-indigo-60-flat);
}

/* FOCUS STATE */

.focused:not(.disabled):not(.hasError) .inner {
    border-bottom: var(--input-focus-border-bottom);
    box-shadow: var(--input-focus-shadow);
}

.focused.hasLabel .input::placeholder {
    opacity: 1;
}

.focused .label,
.filled .label {
    @mixin system_14-18_regular;

    transform: translateY(-10px);
}

.focused .input::placeholder {
    color: var(--color-dark-indigo-30-flat);
}

/* HOVER STATE */

.component:not(.disabled):hover .inner {
    background-color: var(--input-hover-bg-color);
}

/* ERROR STATE */

.hasError .sub {
    color: var(--input-error-color);
}

.hasError .inner {
    box-shadow: var(--input-error-shadow);
    border-bottom: var(--input-error-border-bottom);
}
