@import './amount/click.css';
@import './input/click.css';
@import './pure-input/click.css';
@import './button/click.css';

@define-mixin theme-click {
    @mixin amount-click;
    @mixin input-click;
    @mixin pure-input-click;
    @mixin button-click;
}
