@import './amount/click.css';
@import './form-control/click.css';
@import './pure-input/click.css';
@import './button/click.css';
@import './tabs/click.css';
@import './tag/click.css';

@define-mixin theme-click {
    @mixin amount-click;
    @mixin form-control-click;
    @mixin pure-input-click;
    @mixin button-click;
    @mixin tabs-click;
    @mixin tag-click;
}
