@import './button/mobile.css';
@import './form-control/mobile.css';
@import './input/mobile.css';
@import './tag/mobile.css';
@import './checkbox/mobile.css';
@import './radio/mobile.css';
@import './confirmation/mobile.css';
@import './form-control/mobile.css';
@import './input/mobile.css';
@import './slider/mobile.css';
@import './slider-input/mobile.css';

@define-mixin theme-mobile {
    @mixin button-mobile;
    @mixin tag-mobile;
    @mixin checkbox-mobile;
    @mixin radio-mobile;
    @mixin confirmation-mobile;
    @mixin form-control-mobile;
    @mixin input-mobile;
    @mixin slider-mobile;
    @mixin slider-input-mobile;
}
