.component {
    height: 100%;
    cursor: pointer;
    outline: none;
    position: relative;
    bottom: -1px;
}

.inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    outline: none;
    bottom: 1px;

    padding-left: var(--gap-s);
}

.l .inner {
    padding-left: var(--gap-m);
}

.focusVisible {
    @mixin focus-outline;
}
