.component {
    height: 100%;
    cursor: pointer;
    outline: none;
}

.inner {
    display: flex;
    align-items: center;
    height: 100%;
    outline: none;
}

.focusVisible {
    @mixin focus-outline;
}
