:root {
    --card-image-background: #e7e8ea;
    --card-image-border-radius: var(--border-radius-m);
}

.cardImage {
    position: relative;
    display: inline-block;
    background: var(--card-image-background);
    transition: background 0.2s ease;
}

.rounded {
    border-radius: var(--card-image-border-radius);

    & .image {
        border-radius: var(--card-image-border-radius);
    }
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.loaded {
    background: transparent;

    & .image {
        opacity: var(--opacity-active);
    }
}
