@import './vars.css';

.cardImage {
    position: relative;
    display: inline-block;
    background: var(--card-image-background);

    &.rounded {
        border-radius: 8px;

        & .image {
            border-radius: 8px;
        }
    }

    & .image {
        display: block;
        max-width: 100%;
        height: auto;
        opacity: 0;

        &.loaded {
            opacity: var(--opacity-active);
        }
    }
}
