@import './vars.css';

.cardImage {
    position: relative;
    display: inline-block;
    background: var(--card-image-background);
    background-color: #e7e8ea;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &.rounded {
        border-radius: 8px;

        & .image {
            border-radius: 8px;
        }
    }

    & .image {
        display: block;
        max-width: 100%;
        height: auto;
        opacity: 0;

        &.loaded {
            opacity: var(--opacity-active);
        }
    }
}
