@import '../../../../themes/src/default.css';

.component {
    min-height: 53px;
    height: 53px;
    padding-top: 1px;
    width: 100%;
    transition: background-color 0.2s;
    box-sizing: border-box;
    background: var(--color-light-bg-primary);

    &:first-child td {
        border-top: 0;
    }
}

.withoutBorder {
    td {
        border: none;
    }
}

.clickable {
    cursor: pointer;

    &:hover {
        background-color: var(--color-light-bg-secondary);
    }
}

.selected {
    background-color: #f2f8ff; /* нет цвета в палитре */

    &:hover {
        background-color: var(--color-static-graphic-solitude);
    }
}
