@define-mixin input-click {
    --input-border-radius: 4px;
    --input-border-bottom: 0;
    --input-bg-color: var(--color-dark-indigo-07-flat);

    /* paddings */
    --input-paddings: 0 var(--gap-s);
    --input-l-paddings: 0 var(--gap-m);

    /* paddings */
    --input-labeled-s-paddings: 23px var(--gap-s) 5px;
    --input-labeled-m-paddings: 28px var(--gap-s) 8px;
    --input-labeled-l-paddings: 34px var(--gap-m) 14px;

    /* disabled */
    --input-disabled-border-bottom: 0;
    --input-disabled-bg-color: var(--color-dark-indigo-07-flat);

    /* focus */
    --input-focus-shadow: none;
    --input-focus-border-bottom: 0;
    --input-hover-bg-color: var(--color-dark-indigo-07-flat);

    /* error */
    --input-error-shadow: inset 0 0 0 1px var(--input-error-color);
    --input-error-border-bottom: 0;
}
