@import '../../../../vars/src/index.css';

@define-mixin input-click {
    --input-error-icon-display: none;
    --input-success-icon-display: none;
    --input-disabled-color: var(--color-light-text-primary);
}
