@import '../../../../themes/src/default.css';

@define-mixin input-click {
    /* core vars */
    --color-light-text-primary: #0b1f35;

    /* theme */
    --input-error-icon-display: none;
    --input-success-icon-display: none;
    --input-disabled-color: var(--color-light-text-primary);
}
