@define-mixin input-mobile {
    /* theme */
    --input-error-color: var(--color-light-text-negative);
    --input-error-icon-display: none;
    --input-disabled-color: var(--color-light-text-primary);
    --input-focus-placeholder-color: var(--color-light-text-tertiary-transparent);
    --input-caret-color: var(--color-light-text-link);
}
