@import '../../../../themes/src/default.css';

@define-mixin input-mobile {
    /* core vars */
    --color-light-text-primary: #000;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-negative: #d91d0b;
    --color-light-text-accent: #ef3124;
    --color-light-text-tertiary-transparent: rgba(60, 60, 67, 0.3);
    --color-light-text-tertiary-inverted-transparent: rgba(255, 255, 255, 0.4);
    --color-light-text-link: #0072ef;

    /* theme */
    --input-error-color: var(--color-light-text-negative);
    --input-inverted-error-color: var(--color-light-text-accent);
    --input-error-icon-display: none;
    --input-disabled-color: var(--color-light-text-primary);
    --input-inverted-disabled-color: var(--color-light-text-primary-inverted);
    --input-focus-placeholder-color: var(--color-light-text-tertiary-transparent);
    --input-inverted-focus-placeholder-color: var(--color-light-text-tertiary-inverted-transparent);
    --input-caret-color: var(--color-light-text-link);
    --input-inverted-caret-color: var(--color-light-text-link);
    --input-error-icon-not-alone-display: none;
}
