@import '../../themes/src/default.css';

:root {
    --switch-label-color: var(--color-light-text-primary);
    --switch-hint-color: var(--color-light-text-secondary);
    --switch-bg-color: var(--color-light-graphic-secondary);
    --switch-border-color: var(--color-light-graphic-secondary);

    /* checked */
    --switch-checked-bg-color: var(--color-light-graphic-accent);
    --switch-checked-border-color: var(--color-light-graphic-accent);

    /* disabled */
    --switch-disabled-color: var(--color-light-text-tertiary);
    --switch-disabled-bg-color: var(--color-light-graphic-neutral);
    --switch-disabled-border-color: var(--color-light-graphic-neutral);
}

.component {
    display: inline-flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.component input {
    opacity: 0;
    position: absolute;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.addons {
    margin-left: auto;
    padding-left: var(--gap-m);
    line-height: 24px;
}

.block {
    width: 100%;
}

.switch {
    position: relative;
    border-radius: 16px;
    width: 36px;
    height: 20px;
    margin: var(--gap-3xs);
    flex-shrink: 0;
    background-color: var(--switch-bg-color);
    border: 2px solid var(--switch-border-color);
    transition: background-color 0.2s ease, border-color 0.2s ease;
    box-sizing: border-box;
}

.switch:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-light-graphic-primary-inverted);
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

.content {
    margin-left: var(--gap-s);
    flex-grow: 1;
}

.label {
    @mixin system_16-24_regular;
    display: block;
    color: var(--switch-label-color);
}

.label:not(:only-child) {
    margin-bottom: var(--gap-2xs);
}

.hint {
    @mixin system_14-18_regular;
    display: block;
    color: var(--switch-hint-color);
}

/* Reversed state */

.component.reversed {
    flex-direction: row-reverse;
}

.reversed .content {
    margin-right: var(--gap-m);
    margin-left: 0;
}

.reversed .addons {
    margin-left: 0;
    padding-left: 0;
    margin-right: auto;
    padding-right: var(--gap-m);
}

/* Checked state */

.checked .switch {
    background-color: var(--switch-checked-bg-color);
    border-color: var(--switch-checked-border-color);
}

.checked .switch:before {
    /* ширина компонента(36px + 2*2px) - отступы(2 * 2px) - размер кружка(20px) */
    transform: translateX(16px);
}

/* Disabled state */

.disabled {
    cursor: var(--disabled-cursor);
}

.disabled .switch {
    background-color: var(--switch-disabled-bg-color);
    border-color: var(--switch-disabled-border-color);
}

.disabled .label {
    color: var(--switch-disabled-color);
}

.disabled .hint {
    color: var(--switch-disabled-color);
}

/* Focused state */

.focused .switch {
    @mixin focus-outline;
}
