@import '../../../../themes/src/default.css';
@import '../../vars.css';

.optgroup {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--gap-m) var(--select-optgroup-right-padding) var(--gap-xs)
        var(--select-optgroup-left-padding);
    box-sizing: border-box;
    background: var(--select-optgroup-background);
    min-height: 40px;

    & + *[role='option']:before {
        display: none;
    }
}

.label {
    @mixin system_12-16_medium_caps;

    display: block;
    color: var(--select-optgroup-color);
}

.l,
.xl {
    padding-left: var(--select-optgroup-l-left-padding);
    padding-right: var(--select-optgroup-l-right-padding);
}
