@import '../../../../themes/src/default.css';

.optgroup {
    position: relative;
}

.label {
    @mixin system_14-18_regular;

    display: block;
    color: var(--color-dark-indigo-60-flat);
    padding: 4px var(--gap-s);
}
