@import '../../themes/src/default.css';

:root {
    --radio-hint-color: var(--color-light-text-secondary);
    --radio-label-color: var(--color-light-text-primary);

    /* unchecked */
    --radio-bg-color: var(--color-light-graphic-secondary-inverted);
    --radio-border-color: var(--color-light-border-tertiary-inverted);
    --radio-hover-bg-color: var(--color-light-graphic-tertiary);
    --radio-hover-border-color: var(--color-light-border-tertiary-inverted);
    --radio-active-bg-color: var(--color-light-graphic-tertiary);
    --radio-active-border-color: var(--color-light-border-key);

    /* checked */
    --radio-checked-bg-color: var(--color-light-graphic-accent);
    --radio-checked-border-color: transparent;
    --radio-checked-hover-bg-color: color-mod(var(--color-light-graphic-accent) shade(10%));
    --radio-checked-hover-border-color: transparent;
    --radio-checked-active-bg-color: color-mod(var(--color-light-graphic-accent) shade(30%));
    --radio-checked-active-border-color: transparent;

    /* disabled */
    --radio-disabled-color: var(--color-light-text-tertiary);
    --radio-disabled-bg-color: var(--color-light-graphic-primary-inverted);
    --radio-disabled-border-color: var(--color-light-graphic-neutral);

    /* disabled and checked */
    --radio-checked-disabled-bg-color: var(--color-light-graphic-neutral);
    --radio-checked-disabled-border-color: transparent;
}

.container {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;

    &:not(.checked):not(.disabled) {
        & .circle {
            background-color: var(--radio-bg-color);
            border: 1px solid var(--radio-border-color);
        }

        &:hover:not(:active) .circle {
            background-color: var(--radio-hover-bg-color);
            border-color: var(--radio-hover-border-color);
        }

        &:active .circle {
            background-color: var(--radio-active-bg-color);
            border-color: var(--radio-active-border-color);
        }
    }

    &.disabled {
        cursor: var(--disabled-cursor);

        & .circle {
            background-color: var(--radio-disabled-bg-color);
            border: 1px solid var(--radio-disabled-border-color);
        }

        & .label {
            color: var(--radio-disabled-color);
        }

        & .hint {
            color: var(--radio-disabled-color);
        }
    }

    &.checked:not(:active) .circle:before,
    &.checked.disabled:active .circle:before {
        opacity: 1;
    }

    &.checked {
        & .circle {
            background-color: var(--radio-checked-bg-color);
            border: 1px solid var(--radio-checked-border-color);
        }

        &:hover .circle {
            background-color: var(--radio-checked-hover-bg-color);
            border-color: var(--radio-checked-hover-border-color);
        }

        &:active .circle {
            background-color: var(--radio-checked-active-bg-color);
            border-color: var(--radio-checked-active-border-color);
        }
    }

    &.focused .circle {
        @mixin focus-outline;
    }

    &.disabled.checked .circle {
        background-color: var(--radio-checked-disabled-bg-color);
        border-color: var(--radio-checked-disabled-border-color);
    }

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.circle {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    margin: var(--gap-3xs);
    transition: background-color 0.2s ease, border 0.2s ease;

    &:before {
        content: '';
        background-color: white;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: opacity 0.2s ease;
        opacity: 0;
    }
}

.s .circle {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: var(--gap-2xs) var(--gap-3xs);
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: var(--gap-s);
}

.s .content {
    margin-left: var(--gap-xs);
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.addons {
    margin-left: auto;
    padding-left: var(--gap-m);
    line-height: 24px;
}

.block {
    width: 100%;
}

.label {
    @mixin system_16-24_regular;
    color: var(--radio-label-color);
}

.hint {
    @mixin system_14-18_regular;
    margin-top: var(--gap-2xs);
    color: var(--radio-hint-color);
}
