@import '../../themes/src/default.css';

:root {
    --radio-hint-color: var(--color-light-text-secondary);
    --radio-label-color: var(--color-light-text-primary);

    /* unchecked */
    --radio-bg-color: var(--color-light-bg-secondary);
    --radio-border-color: var(--color-light-border-tertiary-inverted);
    --radio-hover-bg-color: var(--color-light-graphic-tertiary);
    --radio-hover-border-color: var(--color-light-border-tertiary-inverted);
    --radio-active-bg-color: var(--color-light-graphic-tertiary);
    --radio-active-border-color: var(--color-light-border-key);

    /* checked */
    --radio-checked-bg-color: var(--color-red-brand-85-flat); /* TODO */
    --radio-checked-border-color: var(--color-red-dark); /* TODO */
    --radio-checked-hover-bg-color: var(--color-light-bg-accent);
    --radio-checked-hover-border-color: var(--color-red-dark); /* TODO */
    --radio-checked-active-bg-color: var(--color-light-bg-accent);
    --radio-checked-active-border-color: var(--color-light-border-key);

    /* disabled */
    --radio-disabled-bg-color: var(--color-light-bg-neutral);
    --radio-disabled-border-color: var(--color-light-border-primary);

    /* disabled and checked */
    --radio-checked-disabled-bg-color: var(--color-red-brand-30-flat); /* TODO */
    --radio-checked-disabled-border-color: var(--color-red-brand-30-flat); /* TODO */
}

.container {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;

    &:not(.checked):not(.disabled) {
        & .circle {
            background-color: var(--radio-bg-color);
            border: 1px solid var(--radio-border-color);
        }

        &:hover:not(:active) .circle {
            background-color: var(--radio-hover-bg-color);
            border-color: var(--radio-hover-border-color);
        }

        &:active .circle {
            background-color: var(--radio-active-bg-color);
            border-color: var(--radio-active-border-color);
        }
    }

    &.disabled {
        cursor: var(--disabled-cursor);

        & .circle {
            background-color: var(--radio-disabled-bg-color);
            border: 1px solid var(--radio-disabled-border-color);
        }
    }

    &.checked:not(:active) .circle:before,
    &.checked.disabled:active .circle:before {
        opacity: 1;
    }

    &.checked {
        & .circle {
            background-color: var(--radio-checked-bg-color);
            border: 1px solid var(--radio-checked-border-color);
        }

        &:hover .circle {
            background-color: var(--radio-checked-hover-bg-color);
            border-color: var(--radio-checked-hover-border-color);
        }

        &:active .circle {
            background-color: var(--radio-checked-active-bg-color);
            border-color: var(--radio-checked-active-border-color);
        }
    }

    &.focused .circle {
        @mixin focus-outline;
    }

    &.disabled.checked .circle {
        background-color: var(--radio-checked-disabled-bg-color);
        border-color: var(--radio-checked-disabled-border-color);
    }

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.circle {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    margin-right: var(--gap-xs);
    margin-top: var(--gap-2xs);
    transition: background-color 0.2s ease, border 0.2s ease;

    &:before {
        content: '';
        background-color: white;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: opacity 0.2s ease;
        opacity: 0;
    }
}

.m .circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: var(--gap-m);
    margin-top: 2px;
}

.content {
    display: flex;
    flex-direction: column;
}

.label {
    @mixin system_16-24_regular;
    color: var(--radio-label-color);
}

.hint {
    @mixin system_14-18_regular;
    margin-top: var(--gap-2xs);
    color: var(--radio-hint-color);
}
