@define-mixin pure-input-click {
    /* core vars */
    --color-light-specialbg-component: #eeeff1;
    --gap-s: 12px;
    --gap-m: 16px;

    /* theme */
    --pure-input-border-radius: 4px;
    --pure-input-border-bottom: 0;
    --pure-input-bg-color: var(--color-light-specialbg-component);

    /* paddings */
    --pure-input-paddings: 0 var(--gap-s);
    --pure-input-l-paddings: 0 var(--gap-m);

    /* disabled */
    --pure-input-disabled-border-bottom: 0;
    --pure-input-disabled-bg-color: var(--color-light-specialbg-component);

    /* focus */
    --pure-input-focus-shadow: none;
    --pure-input-focus-border-bottom: 0;
    --pure-input-hover-bg-color: var(--color-light-specialbg-component);
}
