.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    &.stretch {
        align-items: stretch;
    }

    &.left {
        align-items: flex-start;
    }

    &.center {
        align-items: center;
    }

    &.right {
        align-items: flex-end;
    }
}
