.row {
    display: flex;
    flex: 1 1 auto;
    margin: 24px 0 0;

    &:first-child {
        margin-top: 0;
    }

    &.top {
        align-items: flex-start;
    }

    &.middle {
        align-items: center;
    }

    &.bottom {
        align-items: flex-end;
    }
}
