@import '../../../../themes/src/default.css';
@import '../../vars.css';

.daysTable {
    border-collapse: separate;
    border-spacing: 0;

    & th {
        padding: 0;
    }

    & td {
        padding: var(--gap-2xs) 0 0;

        &:first-child .transitLeft {
            background: linear-gradient(
                270deg,
                var(--calendar-range-background) 0%,
                rgba(255, 255, 255, 0) 100%
            );

            &:after {
                display: none;
            }
        }

        &:last-child .transitRight {
            background: linear-gradient(
                270deg,
                rgba(255, 255, 255, 0) 0%,
                var(--calendar-range-background) 100%
            );

            &:after {
                display: none;
            }
        }
    }
}

.dayName {
    @mixin paragraph_primary_small;

    height: 40px;
    color: var(--color-light-text-secondary);
}
