@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    composes: component from './index.module.css';

    margin-bottom: var(--gap-2xl);
    margin-top: var(--gap-2xl);
}

.title {
    composes: title from './index.module.css';

    @mixin system_18-22_medium;
    font-weight: 300;
}

.default .title {
    margin-right: var(--gap-2xl);

    &:last-child {
        margin-right: 0;
    }
}

.wide .title {
    margin-right: var(--gap-4xl);

    &:last-child {
        margin-right: 0;
    }
}

.titleWrapper {
    composes: titleWrapper from './index.module.css';

    padding-bottom: var(--gap-m);
}
