@import '../../vars.css';

.title {
    composes: title from 'index.module.css';

    padding: var(--primary-tablist-mobile-padding);
    font-size: var(--primary-tablist-mobile-font-size);
    font-weight: var(--primary-tablist-mobile-font-weight);
    font-family: var(--primary-tablist-mobile-font-family);
    line-height: 24px;

    & + .title {
        margin-left: var(--primary-tablist-mobile-gaps);
    }
}
