.ac {
    width: 20px;
    height: 10px;
    background-position: -180px -213px;
}

.ad {
    width: 20px;
    height: 14px;
    background-position: -160px -14px;
}

.ae {
    width: 20px;
    height: 10px;
    background-position: -238px -70px;
}

.af {
    width: 20px;
    height: 14px;
    background-position: -160px 0;
}

.ag {
    width: 20px;
    height: 14px;
    background-position: -140px -130px;
}

.ai {
    width: 20px;
    height: 10px;
    background-position: -238px -120px;
}

.al {
    width: 20px;
    height: 15px;
    background-position: -20px -30px;
}

.am {
    width: 20px;
    height: 10px;
    background-position: -238px 0;
}

.ao {
    width: 20px;
    height: 14px;
    background-position: -20px -74px;
}

.aq {
    width: 20px;
    height: 14px;
    background-position: -20px -102px;
}

.ar {
    width: 20px;
    height: 13px;
    background-position: 0 -200px;
}

.as {
    width: 20px;
    height: 10px;
    background-position: -80px -224px;
}

.at {
    width: 20px;
    height: 14px;
    background-position: 0 -116px;
}

.au {
    width: 20px;
    height: 10px;
    background-position: -238px -30px;
}

.aw {
    width: 20px;
    height: 14px;
    background-position: -60px -130px;
}

.ax {
    width: 20px;
    height: 13px;
    background-position: -100px -186px;
}

.az {
    width: 20px;
    height: 10px;
    background-position: -20px -234px;
}

.ba {
    width: 20px;
    height: 10px;
    background-position: -258px -20px;
}

.bb {
    width: 20px;
    height: 14px;
    background-position: -160px -70px;
}

.bd {
    width: 20px;
    height: 12px;
    background-position: -218px -84px;
}

.be {
    width: 18px;
    height: 15px;
    background-position: -200px -15px;
}

.bf {
    width: 20px;
    height: 14px;
    background-position: -180px -126px;
}

.bg {
    width: 20px;
    height: 12px;
    background-position: -218px -120px;
}

.bh {
    width: 20px;
    height: 12px;
    background-position: -218px -108px;
}

.bi {
    width: 20px;
    height: 12px;
    background-position: -218px -96px;
}

.bj {
    width: 20px;
    height: 14px;
    background-position: -20px -60px;
}

.bl {
    width: 20px;
    height: 14px;
    background-position: -40px -60px;
}

.bm {
    width: 20px;
    height: 10px;
    background-position: -200px -213px;
}

.bn {
    width: 20px;
    height: 10px;
    background-position: -20px -224px;
}

.bo {
    width: 20px;
    height: 14px;
    background-position: -60px -60px;
}

.bq {
    width: 20px;
    height: 14px;
    background-position: -80px 0;
}

.br {
    width: 20px;
    height: 14px;
    background-position: -80px -14px;
}

.bs {
    width: 20px;
    height: 10px;
    background-position: -238px -50px;
}

.bt {
    width: 20px;
    height: 14px;
    background-position: -80px -28px;
}

.bv {
    width: 20px;
    height: 15px;
    background-position: -20px -15px;
}

.bw {
    width: 20px;
    height: 14px;
    background-position: -80px -56px;
}

.by {
    width: 20px;
    height: 10px;
    background-position: -60px -244px;
}

.bz {
    width: 20px;
    height: 14px;
    background-position: 0 -74px;
}

.ca {
    width: 20px;
    height: 10px;
    background-position: -258px -30px;
}

.cc {
    width: 20px;
    height: 10px;
    background-position: -258px -100px;
}

.cd {
    width: 20px;
    height: 15px;
    background-position: -40px 0;
}

.cf {
    width: 20px;
    height: 14px;
    background-position: -40px -74px;
}

.cg {
    width: 20px;
    height: 14px;
    background-position: -60px -74px;
}

.ch {
    width: 15px;
    height: 15px;
    background-position: -218px -183px;
}

.ci {
    width: 20px;
    height: 14px;
    background-position: -100px 0;
}

.ck {
    width: 20px;
    height: 10px;
    background-position: -238px -20px;
}

.cl {
    width: 20px;
    height: 14px;
    background-position: -100px -14px;
}

.cm {
    width: 20px;
    height: 14px;
    background-position: -100px -28px;
}

.cn {
    width: 20px;
    height: 14px;
    background-position: -100px -42px;
}

.co {
    width: 20px;
    height: 14px;
    background-position: -100px -56px;
}

.cp {
    width: 20px;
    height: 14px;
    background-position: -100px -70px;
}

.cr {
    width: 20px;
    height: 12px;
    background-position: -218px -60px;
}

.cu {
    width: 20px;
    height: 10px;
    background-position: -100px -244px;
}

.cv {
    width: 20px;
    height: 12px;
    background-position: -218px -48px;
}

.cw {
    width: 20px;
    height: 14px;
    background-position: -40px -88px;
}

.cx {
    width: 20px;
    height: 10px;
    background-position: -258px -60px;
}

.cy {
    width: 20px;
    height: 14px;
    background-position: -60px -88px;
}

.cz {
    width: 20px;
    height: 14px;
    background-position: -80px -88px;
}

.de {
    width: 20px;
    height: 12px;
    background-position: -218px -156px;
}

.dg {
    width: 20px;
    height: 10px;
    background-position: 0 -224px;
}

.dj {
    width: 20px;
    height: 14px;
    background-position: 0 -102px;
}

.dk {
    width: 20px;
    height: 15px;
    background-position: -40px -15px;
}

.dm {
    width: 20px;
    height: 10px;
    background-position: -180px -224px;
}

.do {
    width: 20px;
    height: 14px;
    background-position: -40px -102px;
}

.dz {
    width: 20px;
    height: 14px;
    background-position: -60px -102px;
}

.ea {
    width: 20px;
    height: 14px;
    background-position: -80px -102px;
}

.ec {
    width: 20px;
    height: 14px;
    background-position: -100px -102px;
}

.ee {
    width: 20px;
    height: 13px;
    background-position: -120px -186px;
}

.eg {
    width: 20px;
    height: 14px;
    background-position: -120px -14px;
}

.eh {
    width: 20px;
    height: 10px;
    background-position: -238px -150px;
}

.er {
    width: 20px;
    height: 10px;
    background-position: -238px -190px;
}

.es {
    width: 20px;
    height: 14px;
    background-position: -120px -28px;
}

.et {
    width: 20px;
    height: 10px;
    background-position: -160px -234px;
}

.eu {
    width: 20px;
    height: 14px;
    background-position: -120px -42px;
}

.fi {
    width: 20px;
    height: 12px;
    background-position: -218px -12px;
}

.fj {
    width: 20px;
    height: 10px;
    background-position: -180px -244px;
}

.fk {
    width: 20px;
    height: 10px;
    background-position: -220px -244px;
}

.fm {
    width: 20px;
    height: 11px;
    background-position: -218px -198px;
}

.fo {
    width: 20px;
    height: 15px;
    background-position: 0 -30px;
}

.fr {
    width: 20px;
    height: 14px;
    background-position: -120px -98px;
}

.ga {
    width: 20px;
    height: 15px;
    background-position: 0 0;
}

.gb {
    width: 20px;
    height: 10px;
    background-position: -258px -110px;
}

.gd {
    width: 20px;
    height: 12px;
    background-position: -180px -200px;
}

.ge {
    width: 20px;
    height: 14px;
    background-position: -40px -116px;
}

.gf {
    width: 20px;
    height: 14px;
    background-position: -60px -116px;
}

.gg {
    width: 20px;
    height: 14px;
    background-position: -80px -116px;
}

.gh {
    width: 20px;
    height: 14px;
    background-position: -100px -116px;
}

.gi {
    width: 20px;
    height: 10px;
    background-position: -100px -224px;
}

.gl {
    width: 20px;
    height: 14px;
    background-position: -120px -116px;
}

.gm {
    width: 20px;
    height: 14px;
    background-position: -140px 0;
}

.gn {
    width: 20px;
    height: 14px;
    background-position: -140px -14px;
}

.gp {
    width: 20px;
    height: 14px;
    background-position: -140px -28px;
}

.gq {
    width: 20px;
    height: 14px;
    background-position: -140px -42px;
}

.gr {
    width: 20px;
    height: 14px;
    background-position: -140px -56px;
}

.gs {
    width: 20px;
    height: 10px;
    background-position: -238px -110px;
}

.gt {
    width: 20px;
    height: 13px;
    background-position: -60px -186px;
}

.gu {
    width: 20px;
    height: 11px;
    background-position: -60px -213px;
}

.gw {
    width: 20px;
    height: 10px;
    background-position: -238px -180px;
}

.gy {
    width: 20px;
    height: 12px;
    background-position: -120px -200px;
}

.hk {
    width: 20px;
    height: 14px;
    background-position: -140px -112px;
}

.hm {
    width: 20px;
    height: 10px;
    background-position: -40px -234px;
}

.hn {
    width: 20px;
    height: 10px;
    background-position: -60px -234px;
}

.hr {
    width: 20px;
    height: 10px;
    background-position: -140px -234px;
}

.ht {
    width: 20px;
    height: 12px;
    background-position: -100px -200px;
}

.hu {
    width: 20px;
    height: 10px;
    background-position: -200px -234px;
}

.ic {
    width: 20px;
    height: 14px;
    background-position: -20px -130px;
}

.id {
    width: 20px;
    height: 14px;
    background-position: -40px -130px;
}

.ie {
    width: 20px;
    height: 10px;
    background-position: -160px -244px;
}

.il {
    width: 20px;
    height: 15px;
    background-position: -40px -30px;
}

.im {
    width: 20px;
    height: 10px;
    background-position: -200px -244px;
}

.in {
    width: 20px;
    height: 14px;
    background-position: -80px -130px;
}

.io {
    width: 20px;
    height: 10px;
    background-position: -258px 0;
}

.iq {
    width: 20px;
    height: 14px;
    background-position: -100px -130px;
}

.ir {
    width: 20px;
    height: 12px;
    background-position: -80px -200px;
}

.is {
    width: 20px;
    height: 15px;
    background-position: 0 -45px;
}

.it {
    width: 20px;
    height: 14px;
    background-position: 0 -144px;
}

.je {
    width: 20px;
    height: 12px;
    background-position: -60px -200px;
}

.jm {
    width: 20px;
    height: 10px;
    background-position: -258px -120px;
}

.jo {
    width: 20px;
    height: 10px;
    background-position: -258px -140px;
}

.jp {
    width: 20px;
    height: 14px;
    background-position: -40px -144px;
}

.ke {
    width: 20px;
    height: 14px;
    background-position: -60px -144px;
}

.kg {
    width: 20px;
    height: 12px;
    background-position: -40px -200px;
}

.kh {
    width: 20px;
    height: 13px;
    background-position: -180px -186px;
}

.ki {
    width: 20px;
    height: 10px;
    background-position: -60px -224px;
}

.km {
    width: 20px;
    height: 12px;
    background-position: -20px -200px;
}

.kn {
    width: 20px;
    height: 14px;
    background-position: -140px -144px;
}

.kp {
    width: 20px;
    height: 10px;
    background-position: -140px -224px;
}

.kr {
    width: 20px;
    height: 14px;
    background-position: -60px -30px;
}

.kw {
    width: 20px;
    height: 10px;
    background-position: -200px -224px;
}

.ky {
    width: 20px;
    height: 10px;
    background-position: -120px -213px;
}

.kz {
    width: 20px;
    height: 10px;
    background-position: -238px -10px;
}

.la {
    width: 20px;
    height: 14px;
    background-position: -160px -28px;
}

.lb {
    width: 20px;
    height: 14px;
    background-position: -160px -42px;
}

.lc {
    width: 20px;
    height: 10px;
    background-position: -238px -40px;
}

.li {
    width: 20px;
    height: 12px;
    background-position: -140px -200px;
}

.lk {
    width: 20px;
    height: 10px;
    background-position: -238px -60px;
}

.lr {
    width: 20px;
    height: 11px;
    background-position: -100px -213px;
}

.ls {
    width: 20px;
    height: 14px;
    background-position: -160px -84px;
}

.lt {
    width: 20px;
    height: 12px;
    background-position: -160px -200px;
}

.lu {
    width: 20px;
    height: 12px;
    background-position: -218px -24px;
}

.lv {
    width: 20px;
    height: 10px;
    background-position: -238px -160px;
}

.ly {
    width: 20px;
    height: 10px;
    background-position: -238px -170px;
}

.ma {
    width: 20px;
    height: 14px;
    background-position: -160px -126px;
}

.mc {
    width: 19px;
    height: 15px;
    background-position: -60px -15px;
}

.md {
    width: 20px;
    height: 10px;
    background-position: -238px -200px;
}

.me {
    width: 20px;
    height: 10px;
    background-position: -238px -210px;
}

.mf {
    width: 20px;
    height: 14px;
    background-position: 0 -158px;
}

.mg {
    width: 20px;
    height: 14px;
    background-position: -20px -158px;
}

.mh {
    width: 20px;
    height: 11px;
    background-position: -80px -213px;
}

.mk {
    width: 20px;
    height: 10px;
    background-position: -80px -234px;
}

.ml {
    width: 20px;
    height: 14px;
    background-position: -60px -158px;
}

.mm {
    width: 20px;
    height: 14px;
    background-position: -80px -158px;
}

.mn {
    width: 20px;
    height: 10px;
    background-position: -180px -234px;
}

.mo {
    width: 20px;
    height: 14px;
    background-position: -100px -158px;
}

.mp {
    width: 20px;
    height: 10px;
    background-position: -40px -244px;
}

.mq {
    width: 20px;
    height: 14px;
    background-position: -120px -158px;
}

.mr {
    width: 20px;
    height: 14px;
    background-position: -140px -158px;
}

.ms {
    width: 20px;
    height: 10px;
    background-position: -120px -244px;
}

.mt {
    width: 20px;
    height: 14px;
    background-position: -160px -158px;
}

.mu {
    width: 20px;
    height: 14px;
    background-position: -180px 0;
}

.mv {
    width: 20px;
    height: 14px;
    background-position: -180px -14px;
}

.mw {
    width: 20px;
    height: 14px;
    background-position: -180px -28px;
}

.mx {
    width: 20px;
    height: 12px;
    background-position: -218px -132px;
}

.my {
    width: 20px;
    height: 10px;
    background-position: -258px -10px;
}

.mz {
    width: 20px;
    height: 14px;
    background-position: -180px -56px;
}

.na {
    width: 20px;
    height: 14px;
    background-position: -180px -70px;
}

.nc {
    width: 20px;
    height: 10px;
    background-position: -258px -50px;
}

.ne {
    width: 18px;
    height: 15px;
    background-position: -200px 0;
}

.nf {
    width: 20px;
    height: 10px;
    background-position: -258px -70px;
}

.ng {
    width: 20px;
    height: 10px;
    background-position: -258px -90px;
}

.ni {
    width: 20px;
    height: 12px;
    background-position: -218px -72px;
}

.nl {
    width: 20px;
    height: 14px;
    background-position: -180px -112px;
}

.no {
    width: 20px;
    height: 15px;
    background-position: -40px -45px;
}

.np {
    width: 13px;
    height: 15px;
    background-position: -258px -180px;
}

.nr {
    width: 20px;
    height: 10px;
    background-position: -258px -150px;
}

.nu {
    width: 20px;
    height: 10px;
    background-position: -258px -160px;
}

.nz {
    width: 20px;
    height: 10px;
    background-position: -140px -213px;
}

.om {
    width: 20px;
    height: 10px;
    background-position: -160px -213px;
}

.pa {
    width: 20px;
    height: 14px;
    background-position: -180px -154px;
}

.pe {
    width: 20px;
    height: 14px;
    background-position: 0 -172px;
}

.pf {
    width: 20px;
    height: 14px;
    background-position: -20px -172px;
}

.pg {
    width: 20px;
    height: 15px;
    background-position: -20px 0;
}

.ph {
    width: 20px;
    height: 10px;
    background-position: -40px -224px;
}

.pk {
    width: 20px;
    height: 14px;
    background-position: -60px -172px;
}

.pl {
    width: 20px;
    height: 13px;
    background-position: -140px -186px;
}

.pm {
    width: 20px;
    height: 14px;
    background-position: -100px -172px;
}

.pn {
    width: 20px;
    height: 10px;
    background-position: -120px -224px;
}

.pr {
    width: 20px;
    height: 14px;
    background-position: -120px -172px;
}

.ps {
    width: 20px;
    height: 10px;
    background-position: -160px -224px;
}

.pt {
    width: 20px;
    height: 14px;
    background-position: -140px -172px;
}

.pw {
    width: 20px;
    height: 13px;
    background-position: -40px -186px;
}

.py {
    width: 20px;
    height: 11px;
    background-position: -20px -213px;
}

.qa {
    width: 20px;
    height: 8px;
    background-position: -258px -195px;
}

.re {
    width: 20px;
    height: 14px;
    background-position: -20px -186px;
}

.ro {
    width: 20px;
    height: 14px;
    background-position: -180px -172px;
}

.rs {
    width: 20px;
    height: 14px;
    background-position: -160px -172px;
}

.ru {
    width: 20px;
    height: 14px;
    background-position: -80px -172px;
}

.rw {
    width: 20px;
    height: 14px;
    background-position: -180px -98px;
}

.sa {
    width: 20px;
    height: 14px;
    background-position: -180px -84px;
}

.sb {
    width: 20px;
    height: 10px;
    background-position: -238px -80px;
}

.sc {
    width: 20px;
    height: 10px;
    background-position: -238px -90px;
}

.sd {
    width: 20px;
    height: 10px;
    background-position: -238px -100px;
}

.se {
    width: 20px;
    height: 13px;
    background-position: -80px -186px;
}

.sg {
    width: 20px;
    height: 14px;
    background-position: -180px -42px;
}

.sh {
    width: 20px;
    height: 10px;
    background-position: -238px -130px;
}

.si {
    width: 20px;
    height: 10px;
    background-position: -238px -140px;
}

.sj {
    width: 20px;
    height: 15px;
    background-position: -60px 0;
}

.sk {
    width: 20px;
    height: 14px;
    background-position: -160px -112px;
}

.sl {
    width: 20px;
    height: 14px;
    background-position: -160px -98px;
}

.sm {
    width: 20px;
    height: 15px;
    background-position: -20px -45px;
}

.sn {
    width: 20px;
    height: 14px;
    background-position: -160px -56px;
}

.so {
    width: 20px;
    height: 14px;
    background-position: -120px -144px;
}

.sr {
    width: 20px;
    height: 14px;
    background-position: -100px -144px;
}

.ss {
    width: 20px;
    height: 10px;
    background-position: -238px -220px;
}

.st {
    width: 20px;
    height: 10px;
    background-position: 0 -234px;
}

.sv {
    width: 20px;
    height: 12px;
    background-position: -218px -36px;
}

.sx {
    width: 20px;
    height: 14px;
    background-position: -80px -144px;
}

.sy {
    width: 20px;
    height: 14px;
    background-position: -20px -144px;
}

.sz {
    width: 20px;
    height: 14px;
    background-position: -120px -130px;
}

.ta {
    width: 20px;
    height: 10px;
    background-position: -100px -234px;
}

.tc {
    width: 20px;
    height: 10px;
    background-position: -120px -234px;
}

.td {
    width: 20px;
    height: 14px;
    background-position: 0 -130px;
}

.tf {
    width: 20px;
    height: 14px;
    background-position: -140px -98px;
}

.tg {
    width: 20px;
    height: 13px;
    background-position: -160px -186px;
}

.th {
    width: 20px;
    height: 14px;
    background-position: -140px -84px;
}

.tj {
    width: 20px;
    height: 10px;
    background-position: -220px -234px;
}

.tk {
    width: 20px;
    height: 10px;
    background-position: 0 -244px;
}

.tl {
    width: 20px;
    height: 10px;
    background-position: -20px -244px;
}

.tm {
    width: 20px;
    height: 14px;
    background-position: -140px -70px;
}

.tn {
    width: 20px;
    height: 14px;
    background-position: -20px -116px;
}

.to {
    width: 20px;
    height: 10px;
    background-position: -80px -244px;
}

.tr {
    width: 20px;
    height: 14px;
    background-position: -120px -70px;
}

.tt {
    width: 20px;
    height: 12px;
    background-position: -218px 0;
}

.tv {
    width: 20px;
    height: 10px;
    background-position: -140px -244px;
}

.tw {
    width: 20px;
    height: 14px;
    background-position: -120px -56px;
}

.tz {
    width: 20px;
    height: 14px;
    background-position: -120px 0;
}

.ua {
    width: 20px;
    height: 14px;
    background-position: -100px -88px;
}

.ug {
    width: 20px;
    height: 14px;
    background-position: -20px -88px;
}

.um {
    width: 20px;
    height: 11px;
    background-position: 0 -213px;
}

.un {
    width: 20px;
    height: 14px;
    background-position: 0 -88px;
}

.us {
    width: 20px;
    height: 11px;
    background-position: -40px -213px;
}

.uy {
    width: 20px;
    height: 14px;
    background-position: -80px -74px;
}

.uz {
    width: 20px;
    height: 10px;
    background-position: -258px -40px;
}

.va {
    width: 15px;
    height: 15px;
    background-position: -218px -168px;
}

.vc {
    width: 20px;
    height: 14px;
    background-position: 0 -60px;
}

.ve {
    width: 20px;
    height: 14px;
    background-position: -60px -44px;
}

.vg {
    width: 20px;
    height: 10px;
    background-position: -258px -80px;
}

.vi {
    width: 20px;
    height: 14px;
    background-position: -40px -172px;
}

.vn {
    width: 20px;
    height: 14px;
    background-position: -40px -158px;
}

.vu {
    width: 20px;
    height: 12px;
    background-position: -218px -144px;
}

.wf {
    width: 20px;
    height: 14px;
    background-position: -160px -140px;
}

.ws {
    width: 20px;
    height: 10px;
    background-position: -258px -130px;
}

.xk {
    width: 20px;
    height: 15px;
    background-position: 0 -15px;
}

.ye {
    width: 20px;
    height: 14px;
    background-position: -120px -84px;
}

.yt {
    width: 20px;
    height: 14px;
    background-position: -80px -42px;
}

.za {
    width: 20px;
    height: 14px;
    background-position: 0 -186px;
}

.zm {
    width: 20px;
    height: 14px;
    background-position: -180px -140px;
}

.zw {
    width: 20px;
    height: 10px;
    background-position: -258px -170px;
}
