.flagIcon {
    display: inline-flex;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px 0 rgba(11, 31, 53, 0.25);
}

.flat {
    box-shadow: none;
}

.s {
    background-image: url('./images/sprites/flag-icon_size_s@1x.png');
    background-size: 195px 189px;

    @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        background-image: url('./images/sprites/flag-icon_size_s@2x.png');
    }
}

.m {
    background-image: url('./images/sprites/flag-icon_size_m@1x.png');
    background-size: 278px 254px;

    @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        background-image: url('./images/sprites/flag-icon_size_m@2x.png');
    }
}

.l {
    background-image: url('./images/sprites/flag-icon_size_l@1x.png');
    background-size: 300px 275px;

    @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        background-image: url('./images/sprites/flag-icon_size_l@2x.png');
    }
}

.xl {
    background-image: url('./images/sprites/flag-icon_size_xl@1x.png');
    background-size: 335px 302px;

    @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
        background-image: url('./images/sprites/flag-icon_size_xl@2x.png');
    }
}
