.ac {
    width: 15px;
    height: 8px;
    background-position: -60px -50px;
}

.ad {
    width: 15px;
    height: 11px;
    background-position: -28px -24px;
}

.ae {
    width: 15px;
    height: 8px;
    background-position: -180px -24px;
}

.af {
    width: 15px;
    height: 10px;
    background-position: -75px -108px;
}

.ag {
    width: 15px;
    height: 10px;
    background-position: -105px -108px;
}

.ai {
    width: 15px;
    height: 8px;
    background-position: -180px -120px;
}

.al {
    width: 15px;
    height: 11px;
    background-position: -45px 0;
}

.am {
    width: 15px;
    height: 8px;
    background-position: -60px -165px;
}

.ao {
    width: 15px;
    height: 10px;
    background-position: -60px -10px;
}

.aq {
    width: 15px;
    height: 10px;
    background-position: -60px -30px;
}

.ar {
    width: 15px;
    height: 10px;
    background-position: -15px -58px;
}

.as {
    width: 15px;
    height: 8px;
    background-position: -120px -157px;
}

.at {
    width: 15px;
    height: 10px;
    background-position: -15px -78px;
}

.au {
    width: 15px;
    height: 8px;
    background-position: -120px -165px;
}

.aw {
    width: 15px;
    height: 10px;
    background-position: -90px -50px;
}

.ax {
    width: 15px;
    height: 10px;
    background-position: -90px -70px;
}

.az {
    width: 15px;
    height: 8px;
    background-position: -135px -173px;
}

.ba {
    width: 15px;
    height: 8px;
    background-position: -165px -111px;
}

.bb {
    width: 15px;
    height: 10px;
    background-position: -15px -98px;
}

.bd {
    width: 15px;
    height: 9px;
    background-position: -165px -18px;
}

.be {
    width: 14px;
    height: 12px;
    background-position: -14px -24px;
}

.bf {
    width: 15px;
    height: 10px;
    background-position: -120px -70px;
}

.bg {
    width: 15px;
    height: 9px;
    background-position: -165px -9px;
}

.bh {
    width: 15px;
    height: 9px;
    background-position: -165px 0;
}

.bi {
    width: 15px;
    height: 9px;
    background-position: -150px -148px;
}

.bj {
    width: 15px;
    height: 10px;
    background-position: -60px -138px;
}

.bl {
    width: 15px;
    height: 10px;
    background-position: -105px -138px;
}

.bm {
    width: 15px;
    height: 8px;
    background-position: -15px -157px;
}

.bn {
    width: 15px;
    height: 8px;
    background-position: -60px -157px;
}

.bo {
    width: 15px;
    height: 10px;
    background-position: -45px -47px;
}

.bq {
    width: 15px;
    height: 10px;
    background-position: -60px 0;
}

.br {
    width: 15px;
    height: 11px;
    background-position: 0 -36px;
}

.bs {
    width: 15px;
    height: 8px;
    background-position: -135px -165px;
}

.bt {
    width: 15px;
    height: 10px;
    background-position: -60px -20px;
}

.bv {
    width: 15px;
    height: 11px;
    background-position: -30px -36px;
}

.bw {
    width: 15px;
    height: 10px;
    background-position: -60px -40px;
}

.by {
    width: 15px;
    height: 8px;
    background-position: -15px -181px;
}

.bz {
    width: 15px;
    height: 10px;
    background-position: 0 -58px;
}

.ca {
    width: 15px;
    height: 8px;
    background-position: -165px -119px;
}

.cc {
    width: 15px;
    height: 8px;
    background-position: -90px -80px;
}

.cd {
    width: 15px;
    height: 12px;
    background-position: -30px -12px;
}

.cf {
    width: 15px;
    height: 10px;
    background-position: -30px -58px;
}

.cg {
    width: 15px;
    height: 10px;
    background-position: -45px -58px;
}

.ch {
    width: 12px;
    height: 12px;
    background-position: -150px -42px;
}

.ci {
    width: 15px;
    height: 10px;
    background-position: -75px 0;
}

.ck {
    width: 15px;
    height: 8px;
    background-position: -105px -165px;
}

.cl {
    width: 15px;
    height: 10px;
    background-position: -75px -10px;
}

.cm {
    width: 15px;
    height: 10px;
    background-position: -75px -20px;
}

.cn {
    width: 15px;
    height: 10px;
    background-position: -75px -30px;
}

.co {
    width: 15px;
    height: 10px;
    background-position: -75px -40px;
}

.cp {
    width: 15px;
    height: 10px;
    background-position: -75px -50px;
}

.cr {
    width: 15px;
    height: 9px;
    background-position: -105px -148px;
}

.cu {
    width: 15px;
    height: 8px;
    background-position: -75px -181px;
}

.cv {
    width: 15px;
    height: 9px;
    background-position: -90px -148px;
}

.cw {
    width: 15px;
    height: 10px;
    background-position: -30px -68px;
}

.cx {
    width: 15px;
    height: 8px;
    background-position: -135px -120px;
}

.cy {
    width: 15px;
    height: 10px;
    background-position: -45px -68px;
}

.cz {
    width: 15px;
    height: 10px;
    background-position: -60px -68px;
}

.de {
    width: 15px;
    height: 9px;
    background-position: -75px -148px;
}

.dg {
    width: 15px;
    height: 8px;
    background-position: -30px -157px;
}

.dj {
    width: 15px;
    height: 10px;
    background-position: 0 -78px;
}

.dk {
    width: 15px;
    height: 12px;
    background-position: -30px 0;
}

.dm {
    width: 15px;
    height: 8px;
    background-position: 0 -165px;
}

.do {
    width: 15px;
    height: 10px;
    background-position: -30px -78px;
}

.dz {
    width: 15px;
    height: 10px;
    background-position: -45px -78px;
}

.ea {
    width: 15px;
    height: 10px;
    background-position: -60px -78px;
}

.ec {
    width: 15px;
    height: 10px;
    background-position: -75px -78px;
}

.ee {
    width: 15px;
    height: 10px;
    background-position: -90px 0;
}

.eg {
    width: 15px;
    height: 10px;
    background-position: -90px -10px;
}

.eh {
    width: 15px;
    height: 8px;
    background-position: -180px -136px;
}

.er {
    width: 15px;
    height: 8px;
    background-position: -90px -173px;
}

.es {
    width: 15px;
    height: 10px;
    background-position: -90px -20px;
}

.et {
    width: 15px;
    height: 8px;
    background-position: -150px -173px;
}

.eu {
    width: 15px;
    height: 10px;
    background-position: -90px -30px;
}

.fi {
    width: 15px;
    height: 9px;
    background-position: -45px -148px;
}

.fj {
    width: 15px;
    height: 8px;
    background-position: -165px -43px;
}

.fk {
    width: 15px;
    height: 8px;
    background-position: -165px -51px;
}

.fm {
    width: 15px;
    height: 8px;
    background-position: -165px -103px;
}

.fo {
    width: 15px;
    height: 11px;
    background-position: 0 -47px;
}

.fr {
    width: 15px;
    height: 10px;
    background-position: -90px -60px;
}

.ga {
    width: 15px;
    height: 12px;
    background-position: 0 0;
}

.gb {
    width: 15px;
    height: 8px;
    background-position: -120px -110px;
}

.gd {
    width: 15px;
    height: 9px;
    background-position: -30px -148px;
}

.ge {
    width: 15px;
    height: 10px;
    background-position: -15px -88px;
}

.gf {
    width: 15px;
    height: 10px;
    background-position: -30px -88px;
}

.gg {
    width: 15px;
    height: 10px;
    background-position: -45px -88px;
}

.gh {
    width: 15px;
    height: 10px;
    background-position: -60px -88px;
}

.gi {
    width: 15px;
    height: 8px;
    background-position: -90px -157px;
}

.gl {
    width: 15px;
    height: 10px;
    background-position: -75px -88px;
}

.gm {
    width: 15px;
    height: 10px;
    background-position: -90px -88px;
}

.gn {
    width: 15px;
    height: 10px;
    background-position: -105px 0;
}

.gp {
    width: 15px;
    height: 10px;
    background-position: -105px -10px;
}

.gq {
    width: 15px;
    height: 10px;
    background-position: -105px -20px;
}

.gr {
    width: 15px;
    height: 10px;
    background-position: -105px -30px;
}

.gs {
    width: 15px;
    height: 8px;
    background-position: -180px -16px;
}

.gt {
    width: 15px;
    height: 10px;
    background-position: -105px -40px;
}

.gu {
    width: 15px;
    height: 8px;
    background-position: -180px -64px;
}

.gw {
    width: 15px;
    height: 8px;
    background-position: -180px -72px;
}

.gy {
    width: 15px;
    height: 9px;
    background-position: -150px -54px;
}

.hk {
    width: 15px;
    height: 10px;
    background-position: -105px -60px;
}

.hm {
    width: 15px;
    height: 8px;
    background-position: -180px -160px;
}

.hn {
    width: 15px;
    height: 8px;
    background-position: -15px -173px;
}

.hr {
    width: 15px;
    height: 8px;
    background-position: -30px -173px;
}

.ht {
    width: 15px;
    height: 9px;
    background-position: 0 -148px;
}

.hu {
    width: 15px;
    height: 8px;
    background-position: -120px -173px;
}

.ic {
    width: 15px;
    height: 10px;
    background-position: -105px -80px;
}

.id {
    width: 15px;
    height: 10px;
    background-position: 0 -98px;
}

.ie {
    width: 15px;
    height: 8px;
    background-position: -180px -173px;
}

.il {
    width: 15px;
    height: 11px;
    background-position: -45px -11px;
}

.im {
    width: 15px;
    height: 8px;
    background-position: -30px -181px;
}

.in {
    width: 15px;
    height: 10px;
    background-position: -30px -98px;
}

.io {
    width: 15px;
    height: 8px;
    background-position: -165px -35px;
}

.iq {
    width: 15px;
    height: 10px;
    background-position: -45px -98px;
}

.ir {
    width: 15px;
    height: 9px;
    background-position: -150px -135px;
}

.is {
    width: 15px;
    height: 11px;
    background-position: -45px -22px;
}

.it {
    width: 15px;
    height: 10px;
    background-position: -90px -98px;
}

.je {
    width: 15px;
    height: 9px;
    background-position: -150px -126px;
}

.jm {
    width: 15px;
    height: 8px;
    background-position: -165px -127px;
}

.jo {
    width: 15px;
    height: 8px;
    background-position: -165px -143px;
}

.jp {
    width: 15px;
    height: 10px;
    background-position: 0 -108px;
}

.ke {
    width: 15px;
    height: 10px;
    background-position: -15px -108px;
}

.kg {
    width: 15px;
    height: 9px;
    background-position: -150px -108px;
}

.kh {
    width: 15px;
    height: 10px;
    background-position: -45px -108px;
}

.ki {
    width: 15px;
    height: 8px;
    background-position: 0 -157px;
}

.km {
    width: 15px;
    height: 9px;
    background-position: -150px -99px;
}

.kn {
    width: 15px;
    height: 10px;
    background-position: -30px -47px;
}

.kp {
    width: 15px;
    height: 8px;
    background-position: -45px -157px;
}

.kr {
    width: 15px;
    height: 10px;
    background-position: -90px -108px;
}

.kw {
    width: 15px;
    height: 8px;
    background-position: -75px -157px;
}

.ky {
    width: 15px;
    height: 8px;
    background-position: -165px -27px;
}

.kz {
    width: 15px;
    height: 8px;
    background-position: -105px -157px;
}

.la {
    width: 15px;
    height: 10px;
    background-position: -120px 0;
}

.lb {
    width: 15px;
    height: 10px;
    background-position: -120px -10px;
}

.lc {
    width: 15px;
    height: 8px;
    background-position: -15px -165px;
}

.li {
    width: 15px;
    height: 9px;
    background-position: -150px -90px;
}

.lk {
    width: 15px;
    height: 8px;
    background-position: -75px -165px;
}

.lr {
    width: 15px;
    height: 8px;
    background-position: -90px -165px;
}

.ls {
    width: 15px;
    height: 10px;
    background-position: -120px -30px;
}

.lt {
    width: 15px;
    height: 9px;
    background-position: -150px -81px;
}

.lu {
    width: 15px;
    height: 9px;
    background-position: -150px -72px;
}

.lv {
    width: 15px;
    height: 8px;
    background-position: -150px -165px;
}

.ly {
    width: 15px;
    height: 8px;
    background-position: -180px -8px;
}

.ma {
    width: 15px;
    height: 10px;
    background-position: -120px -60px;
}

.mc {
    width: 15px;
    height: 12px;
    background-position: -15px -12px;
}

.md {
    width: 15px;
    height: 8px;
    background-position: -180px -32px;
}

.me {
    width: 15px;
    height: 8px;
    background-position: -180px -56px;
}

.mf {
    width: 15px;
    height: 10px;
    background-position: -120px -80px;
}

.mg {
    width: 15px;
    height: 10px;
    background-position: -120px -90px;
}

.mh {
    width: 15px;
    height: 8px;
    background-position: -180px -80px;
}

.mk {
    width: 15px;
    height: 8px;
    background-position: -180px -112px;
}

.ml {
    width: 15px;
    height: 10px;
    background-position: -120px -100px;
}

.mm {
    width: 15px;
    height: 10px;
    background-position: 0 -118px;
}

.mn {
    width: 15px;
    height: 8px;
    background-position: -180px -144px;
}

.mo {
    width: 15px;
    height: 10px;
    background-position: -15px -118px;
}

.mp {
    width: 15px;
    height: 8px;
    background-position: 0 -173px;
}

.mq {
    width: 15px;
    height: 10px;
    background-position: -30px -118px;
}

.mr {
    width: 15px;
    height: 10px;
    background-position: -45px -118px;
}

.ms {
    width: 15px;
    height: 8px;
    background-position: -60px -173px;
}

.mt {
    width: 15px;
    height: 10px;
    background-position: -60px -118px;
}

.mu {
    width: 15px;
    height: 10px;
    background-position: -75px -118px;
}

.mv {
    width: 15px;
    height: 10px;
    background-position: -90px -118px;
}

.mw {
    width: 15px;
    height: 10px;
    background-position: -105px -118px;
}

.mx {
    width: 15px;
    height: 9px;
    background-position: -150px -63px;
}

.my {
    width: 15px;
    height: 8px;
    background-position: 0 -181px;
}

.mz {
    width: 15px;
    height: 10px;
    background-position: -135px 0;
}

.na {
    width: 15px;
    height: 10px;
    background-position: -135px -10px;
}

.nc {
    width: 15px;
    height: 8px;
    background-position: -60px -181px;
}

.ne {
    width: 14px;
    height: 12px;
    background-position: 0 -24px;
}

.nf {
    width: 15px;
    height: 8px;
    background-position: -90px -181px;
}

.ng {
    width: 15px;
    height: 8px;
    background-position: -105px -181px;
}

.ni {
    width: 15px;
    height: 9px;
    background-position: -120px -148px;
}

.nl {
    width: 15px;
    height: 10px;
    background-position: -135px -40px;
}

.no {
    width: 15px;
    height: 11px;
    background-position: -45px -36px;
}

.np {
    width: 10px;
    height: 12px;
    background-position: -165px -59px;
}

.nr {
    width: 15px;
    height: 8px;
    background-position: -165px -71px;
}

.nu {
    width: 15px;
    height: 8px;
    background-position: -165px -79px;
}

.nz {
    width: 15px;
    height: 8px;
    background-position: -165px -87px;
}

.om {
    width: 15px;
    height: 8px;
    background-position: -165px -95px;
}

.pa {
    width: 15px;
    height: 10px;
    background-position: -135px -60px;
}

.pe {
    width: 15px;
    height: 10px;
    background-position: -135px -70px;
}

.pf {
    width: 15px;
    height: 10px;
    background-position: -135px -80px;
}

.pg {
    width: 15px;
    height: 12px;
    background-position: 0 -12px;
}

.ph {
    width: 15px;
    height: 8px;
    background-position: -165px -135px;
}

.pk {
    width: 15px;
    height: 10px;
    background-position: -135px -100px;
}

.pl {
    width: 15px;
    height: 10px;
    background-position: -135px -110px;
}

.pm {
    width: 15px;
    height: 10px;
    background-position: 0 -128px;
}

.pn {
    width: 15px;
    height: 8px;
    background-position: -105px -90px;
}

.pr {
    width: 15px;
    height: 10px;
    background-position: -15px -128px;
}

.ps {
    width: 15px;
    height: 8px;
    background-position: -75px -60px;
}

.pt {
    width: 15px;
    height: 10px;
    background-position: -30px -128px;
}

.pw {
    width: 15px;
    height: 10px;
    background-position: -45px -128px;
}

.py {
    width: 15px;
    height: 9px;
    background-position: -15px -148px;
}

.qa {
    width: 15px;
    height: 6px;
    background-position: -165px -151px;
}

.re {
    width: 15px;
    height: 10px;
    background-position: -90px -128px;
}

.ro {
    width: 15px;
    height: 10px;
    background-position: -105px -128px;
}

.rs {
    width: 15px;
    height: 10px;
    background-position: -120px -128px;
}

.ru {
    width: 15px;
    height: 10px;
    background-position: -135px -128px;
}

.rw {
    width: 15px;
    height: 10px;
    background-position: 0 -138px;
}

.sa {
    width: 15px;
    height: 10px;
    background-position: -15px -138px;
}

.sb {
    width: 15px;
    height: 8px;
    background-position: -135px -157px;
}

.sc {
    width: 15px;
    height: 8px;
    background-position: -150px -157px;
}

.sd {
    width: 15px;
    height: 8px;
    background-position: -165px -157px;
}

.se {
    width: 15px;
    height: 10px;
    background-position: -30px -138px;
}

.sg {
    width: 15px;
    height: 10px;
    background-position: -45px -138px;
}

.sh {
    width: 15px;
    height: 8px;
    background-position: -30px -165px;
}

.si {
    width: 15px;
    height: 8px;
    background-position: -45px -165px;
}

.sj {
    width: 15px;
    height: 11px;
    background-position: -15px -47px;
}

.sk {
    width: 15px;
    height: 10px;
    background-position: -75px -138px;
}

.sl {
    width: 15px;
    height: 10px;
    background-position: -90px -138px;
}

.sm {
    width: 15px;
    height: 12px;
    background-position: -15px 0;
}

.sn {
    width: 15px;
    height: 10px;
    background-position: -120px -138px;
}

.so {
    width: 15px;
    height: 10px;
    background-position: -135px -138px;
}

.sr {
    width: 15px;
    height: 10px;
    background-position: -150px 0;
}

.ss {
    width: 15px;
    height: 8px;
    background-position: -165px -165px;
}

.st {
    width: 15px;
    height: 8px;
    background-position: -180px 0;
}

.sv {
    width: 15px;
    height: 9px;
    background-position: -60px -148px;
}

.sx {
    width: 15px;
    height: 10px;
    background-position: -150px -20px;
}

.sy {
    width: 15px;
    height: 10px;
    background-position: -150px -10px;
}

.sz {
    width: 15px;
    height: 10px;
    background-position: -60px -128px;
}

.ta {
    width: 15px;
    height: 8px;
    background-position: -180px -40px;
}

.tc {
    width: 15px;
    height: 8px;
    background-position: -180px -48px;
}

.td {
    width: 15px;
    height: 10px;
    background-position: -135px -30px;
}

.tf {
    width: 15px;
    height: 10px;
    background-position: -120px -118px;
}

.tg {
    width: 15px;
    height: 10px;
    background-position: -120px -50px;
}

.th {
    width: 15px;
    height: 10px;
    background-position: -120px -40px;
}

.tj {
    width: 15px;
    height: 8px;
    background-position: -180px -88px;
}

.tk {
    width: 15px;
    height: 8px;
    background-position: -180px -96px;
}

.tl {
    width: 15px;
    height: 8px;
    background-position: -180px -104px;
}

.tm {
    width: 15px;
    height: 10px;
    background-position: -120px -20px;
}

.tn {
    width: 15px;
    height: 10px;
    background-position: -60px -108px;
}

.to {
    width: 15px;
    height: 8px;
    background-position: -180px -128px;
}

.tr {
    width: 15px;
    height: 10px;
    background-position: -30px -108px;
}

.tt {
    width: 15px;
    height: 9px;
    background-position: -150px -117px;
}

.tv {
    width: 15px;
    height: 8px;
    background-position: -180px -152px;
}

.tw {
    width: 15px;
    height: 10px;
    background-position: -105px -98px;
}

.tz {
    width: 15px;
    height: 10px;
    background-position: -60px -98px;
}

.ua {
    width: 15px;
    height: 10px;
    background-position: -105px -70px;
}

.ug {
    width: 15px;
    height: 10px;
    background-position: -105px -50px;
}

.um {
    width: 15px;
    height: 8px;
    background-position: -45px -173px;
}

.un {
    width: 15px;
    height: 10px;
    background-position: 0 -88px;
}

.us {
    width: 15px;
    height: 8px;
    background-position: -75px -173px;
}

.uy {
    width: 15px;
    height: 10px;
    background-position: -90px -40px;
}

.uz {
    width: 15px;
    height: 8px;
    background-position: -105px -173px;
}

.va {
    width: 12px;
    height: 12px;
    background-position: -150px -30px;
}

.vc {
    width: 15px;
    height: 10px;
    background-position: -75px -68px;
}

.ve {
    width: 15px;
    height: 10px;
    background-position: -15px -68px;
}

.vg {
    width: 15px;
    height: 8px;
    background-position: -165px -173px;
}

.vi {
    width: 15px;
    height: 10px;
    background-position: 0 -68px;
}

.vn {
    width: 15px;
    height: 10px;
    background-position: -60px -58px;
}

.vu {
    width: 15px;
    height: 9px;
    background-position: -135px -148px;
}

.wf {
    width: 15px;
    height: 10px;
    background-position: -135px -90px;
}

.ws {
    width: 15px;
    height: 8px;
    background-position: -45px -181px;
}

.xk {
    width: 15px;
    height: 11px;
    background-position: -15px -36px;
}

.ye {
    width: 15px;
    height: 10px;
    background-position: -135px -20px;
}

.yt {
    width: 15px;
    height: 10px;
    background-position: -75px -98px;
}

.za {
    width: 15px;
    height: 10px;
    background-position: -135px -50px;
}

.zm {
    width: 15px;
    height: 10px;
    background-position: -75px -128px;
}

.zw {
    width: 15px;
    height: 8px;
    background-position: -120px -181px;
}
