@import '../../themes/src/default.css';

:root {
    --checkbox-hint-color: var(--color-light-text-secondary);
    --checkbox-label-color: var(--color-light-text-primary);

    /* unchecked */
    --checkbox-bg-color: var(--color-light-graphic-secondary-inverted);
    --checkbox-border-color: var(--color-light-graphic-secondary);
    --checkbox-hover-bg-color: var(--color-light-graphic-tertiary);
    --checkbox-hover-border-color: var(--color-light-graphic-secondary);
    --checkbox-active-bg-color: var(--color-light-graphic-tertiary);
    --checkbox-active-border-color: var(--color-light-border-key);

    /* checked */
    --checkbox-checked-bg-color: var(--color-light-graphic-accent);
    --checkbox-checked-border-color: transparent;
    --checkbox-checked-hover-bg-color: color-mod(var(--color-light-graphic-accent) shade(10%));
    --checkbox-checked-hover-border-color: transparent;
    --checkbox-checked-active-bg-color: color-mod(var(--color-light-graphic-accent) shade(30%));
    --checkbox-checked-active-border-color: transparent;

    /* disabled */
    --checkbox-disabled-color: var(--color-light-text-tertiary);
    --checkbox-disabled-bg-color: var(--color-light-graphic-primary-inverted);
    --checkbox-disabled-border-color: var(--color-light-graphic-neutral);

    /* disabled and checked */
    --checkbox-checked-disabled-bg-color: var(--color-light-graphic-neutral);
    --checkbox-checked-disabled-border-color: transparent;
}

.component {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.addons {
    margin-left: auto;
    padding-left: var(--gap-m);
    line-height: 24px;
}

.block {
    width: 100%;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin: var(--gap-3xs);
    color: var(--color-light-graphic-primary-inverted);
    background-color: var(--checkbox-bg-color);
    border: 1px solid var(--checkbox-border-color);
    border-radius: var(--border-radius-s);
    transition: background-color 0.2s ease, border-color 0.2s ease;
    box-sizing: border-box;
    overflow: hidden;
}

.checkedIcon {
    position: absolute;
}

.s .box {
    width: 16px;
    height: 16px;
    margin: var(--gap-2xs) var(--gap-3xs);
}

.component:hover:not(.disabled) .box {
    background-color: var(--checkbox-hover-bg-color);
    border-color: var(--checkbox-hover-border-color);
}

.component:active:not(.disabled) .box {
    background-color: var(--checkbox-active-bg-color);
    border-color: var(--checkbox-active-border-color);
}

.checked .box {
    background-color: var(--checkbox-checked-bg-color);
    border-color: var(--checkbox-checked-border-color);
}

.checked:hover:not(.disabled) .box {
    background-color: var(--checkbox-checked-hover-bg-color);
    border-color: var(--checkbox-checked-hover-border-color);
}

.checked:active:not(.disabled) .box {
    background-color: var(--checkbox-checked-active-bg-color);
    border-color: var(--checkbox-checked-active-border-color);
}

.indeterminate .box {
    background-color: var(--checkbox-checked-bg-color);
    border-color: var(--checkbox-checked-border-color);
}

.indeterminate:hover:not(.disabled) .box {
    background-color: var(--checkbox-checked-hover-bg-color);
    border-color: var(--checkbox-checked-hover-border-color);
}

.indeterminate:active:not(.disabled) .box {
    background-color: var(--checkbox-checked-active-bg-color);
    border-color: var(--checkbox-checked-active-border-color);
}

.disabled {
    cursor: var(--disabled-cursor);
}

.disabled .box {
    background-color: var(--checkbox-disabled-bg-color);
    border-color: var(--checkbox-disabled-border-color);
}

.disabled.checked .box {
    background-color: var(--checkbox-checked-disabled-bg-color);
    border-color: var(--checkbox-checked-disabled-border-color);
}

.disabled.indeterminate .box {
    background-color: var(--checkbox-checked-disabled-bg-color);
    border-color: var(--checkbox-checked-disabled-border-color);
}

.disabled .label {
    color: var(--checkbox-disabled-color);
}

.disabled .hint {
    color: var(--checkbox-disabled-color);
}

.focused .box {
    @mixin focus-outline;
}

.content {
    flex-grow: 1;
    margin-left: var(--gap-s);
}

.s .content {
    margin-left: var(--gap-xs);
}

.label {
    @mixin system_16-24_regular;
    display: block;
    color: var(--checkbox-label-color);
}

.label:not(:only-child) {
    margin-bottom: var(--gap-2xs);
}

.hint {
    @mixin system_14-18_regular;
    display: block;
    color: var(--checkbox-hint-color);
}

.indeterminateLine {
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: var(--color-light-graphic-primary-inverted);
}

.component input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
