@define-mixin select-click {
    /* theme */
    --select-options-list-border-radius: var(--border-radius-s);
    --select-options-list-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);
    --select-options-list-offset: 8px;

    /* options list */

    --select-option-divider-display: block;

    /* checkmark */

    --select-checkmark-margin: 0 0 0 var(--gap-m);
    --select-checkmark-size: 24px;
    --select-checkmark-before-display: none;
    --select-checkmark-after-display: 'flex';
    --select-checkmark-background: url('https://alfabank.gcdn.co/icons/glyph_checkmark-circle_m_color.svg');
    --select-checkmark-border-radius: 0;
    --select-mobile-checkmark-background: url('https://alfabank.gcdn.co/icons/glyph_checkmark-circle_m_color.svg');

    /* select mobile footer */

    --select-mobile-footer-border-top: none;
    --select-mobile-footer-background-color: var(--color-light-bg-secondary);
}
