@import '../../themes/src/default.css';

:root {
    --divider-color: var(--color-light-border-primary);
}

.component {
    border: none;
    border-bottom: 1px solid var(--divider-color);
    margin: 0;
}
