@import '../../vars/src/colors.css';

:root {
    --divider-color: var(--color-light-text-disabled-transparent);
}

.component {
    border: none;
    border-bottom: 1px solid var(--divider-color);
    margin: 0;
}
