@import '../../vars/src/colors-indigo.css';

:root {
    /* bg */
    --circular-progress-bar-bg-color: var(--color-light-bg-tertiary);

    /* positive */
    --circular-progress-bar-positive-color: var(--color-light-graphic-positive);

    /* negative */
    --circular-progress-bar-negative-color: var(--color-light-graphic-negative);
}

.component {
    position: relative;
}

.svg {
    display: block;
    width: 100%;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.caption {
    min-height: 20px;
    max-height: 40px;
    overflow: hidden;
}

.l {
    width: 140px;
    height: 140px;

    & .label {
        max-width: 116px;
    }

    & .headline {
        height: 40px;
    }
}

.s {
    width: 116px;
    height: 116px;

    & .label {
        max-width: 92px;
    }

    & .headline {
        height: 32px;
    }
}

.label {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backgroundCircle,
.progressCircle {
    width: 100%;
    height: 100%;
    fill: transparent;
}

.progressCircle {
    stroke-width: 8;
    stroke-linecap: round;
}

.positive {
    stroke: var(--circular-progress-bar-positive-color);
}

.negative {
    stroke: var(--circular-progress-bar-negative-color);
}

.backgroundCircle {
    stroke: var(--circular-progress-bar-bg-color);
    stroke-width: 8;
}
