@import '../../themes/src/default.css';

:root {
    --notification-desktop-content-width: 278px;
}

.notificationComponent {
    visibility: hidden;
    position: fixed;
    right: var(--gap-s);
    transform: translate(0, -500px);
    display: inline-flex;
    width: calc(100% - var(--gap-xl));
    max-width: calc(100vw - var(--gap-xl));
    user-select: none;
    transition: transform 0.4s ease-out;

    @media screen and (min-width: 600px) {
        right: var(--gap-4xl);
        width: auto;
        transform: translate(var(--notification-desktop-content-width), 0);
    }

    &.isVisible {
        visibility: visible;
        transform: translate(0, 0);
    }

    &.isClosing {
        transition: transform 0.1s ease-out;
        transform: translate(100vw, 0);

        @media screen and (min-width: 600px) {
            transform: translate(
                calc(var(--notification-desktop-content-width) + var(--gap-4xl)),
                0
            );
        }
    }
}

.toastContent {
    @media screen and (min-width: 600px) {
        width: var(--notification-desktop-content-width);
    }
}
