@import '../../../vars/src/typography.css';

.component {
    margin: 0;
    padding: 0;
}

.xlarge {
    @mixin headline-classic_xlarge;
}

.large {
    @mixin headline-classic_large;
}

.normal {
    @mixin headline-classic_normal;
}

.small {
    @mixin headline-classic_small;
}

.xsmall {
    @mixin headline-classic_xsmall;
}

.bold {
    font-weight: bold;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: normal;
}
