@import '../../themes/src/default.css';

:root {
    --tooltip-border-color: var(--color-light-border-primary);
}

.component {
    @mixin paragraph_primary_small;
    padding: var(--gap-s) var(--gap-m);
}

.popper {
    border-radius: var(--border-radius-m);
}

.target {
    cursor: pointer;
}
