@import '../../themes/default.css';

:root {
    --tooltip-border-color: var(--color-dark-indigo-15-flat);
    --tooltip-z-index: 1;
}

.component {
    @mixin system_14-18_regular;
    padding: var(--gap-s) var(--gap-m);
}

.popper {
    border-radius: 8px;
}

.target {
    cursor: pointer;
}
