@import '../../themes/src/default.css';

:root {
    --plate-closer-icon: url('https://alfabank.st/icons/glyph_cross_m.svg');
    --plate-arrow-icon: url('https://alfabank.st/icons/glyph_chevron-down_m.svg');
}

.component {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    border-radius: var(--border-radius-m);
    border: 1px solid;
    color: var(--color-light-text-primary);
    width: 100%;
    min-height: 56px;
    padding: var(--gap-m);
    outline: none;

    &.isFolded {
        cursor: pointer;
    }
}

.component * {
    box-sizing: border-box;
}

.focused {
    @mixin focus-outline;
}

.inner {
    position: relative;
    width: 100%;
    display: flex;
}

.common {
    background-color: var(--color-light-bg-secondary);
    border-color: var(--color-static-status-grey);
}

.negative {
    background-color: var(--color-light-bg-negative-muted);
    border-color: var(--color-static-status-red);
}

.positive {
    background-color: var(--color-light-bg-positive-muted);
    border-color: var(--color-static-status-green);
}

.attention {
    background-color: var(--color-light-bg-attention-muted);
    border-color: var(--color-static-status-orange);
}

.isHidden {
    display: none;
}

.leftAddons {
    flex-shrink: 0;
    min-width: 24px;
    margin-right: var(--gap-xs);
}

.title {
    @mixin accent_primary_large;

    word-break: break-word;
}

.content {
    @mixin paragraph_primary_small;

    max-height: 300vh;
    overflow: hidden;
    transition: max-height 2s ease-in-out;
    padding: var(--gap-2xs);
    margin: var(--gap-2xs-neg);

    &.isFolded {
        max-height: 0;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    }
}

.contentContainer {
    flex: 1;

    &.withoutTitle {
        padding-top: var(--gap-3xs);
    }
}

.title + .content .contentInner {
    padding-top: var(--gap-xs);
}

.closer,
.folder {
    display: block;
    height: 24px;
    width: 24px;
    opacity: 1;
    transition: opacity 0.2s ease;
    cursor: pointer;
    margin-left: var(--gap-m);

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }
}

.closer {
    background: var(--plate-closer-icon) center no-repeat;
}

.folder {
    background: var(--plate-arrow-icon) center no-repeat;
    transition: transform 0.15s ease-in-out, opacity 0.2s ease;
    transform: var(--arrow-transform);

    &.isFolded {
        transform: rotate(0deg);
    }
}

.buttons {
    margin-top: var(--gap-xl);
}

.button {
    margin-right: var(--gap-s);

    &:last-child {
        margin-right: 0;
    }
}
