@import '../../../../themes/src/default.css';
@import '../../../../vars/src/colors-indigo.css';

.component {
    @mixin paragraph_primary_normal;

    display: flex;
    flex-direction: column;
    min-height: 32px;
    font-family: var(--font-family);
    color: var(--color-light-text-secondary);
}

.info {
    margin-bottom: var(--gap-s);
}
