:root {
    --color-light-bg-overlay: rgba(0, 0, 0, 0.6);
    --color-light-graphic-attention: rgba(229, 137, 51, 1);
    --color-light-text-tertiary: rgba(182, 188, 195, 1);
    --color-light-border-primary: rgba(219, 222, 225, 1);
    --color-light-text-disabled-transparent: rgba(11, 31, 53, 0.15);
    --color-light-graphic-accent: rgba(239, 49, 36, 1);
    --color-light-border-tertiary: rgba(243, 244, 245, 1);
    --color-light-border-accent: rgba(239, 49, 36, 1);
    --color-light-bg-secondary-inverted: rgba(35, 53, 73, 1);
    --color-light-bg-positive-muted: rgba(235, 249, 241, 1);
    --color-light-graphic-neutral: rgba(219, 222, 225, 1);
    --color-light-bg-tertiary: rgba(231, 233, 235, 1);
    --color-light-text-disabled: rgba(219, 222, 225, 1);
    --color-light-border-key: rgba(11, 31, 53, 1);
    --color-light-specialbg-secondary-grouped: rgba(255, 255, 255, 1);
    --color-light-text-accent: rgba(239, 49, 36, 1);
    --color-light-text-tertiary-inverted-transparent: rgba(255, 255, 255, 0.4);
    --color-light-graphic-positive: rgba(47, 194, 110, 1);
    --color-light-specialbg-primary-grouped: rgba(243, 244, 245, 1);
    --color-light-text-primary: rgba(11, 31, 53, 1);
    --color-light-text-secondary-transparent: rgba(11, 31, 53, 0.6);
    --color-light-text-secondary-inverted-transparent: rgba(255, 255, 255, 0.7);
    --color-light-graphic-negative: rgba(241, 80, 69, 1);
    --color-light-text-attention: rgba(222, 106, 0, 1);
    --color-light-text-positive: rgba(19, 164, 99, 1);
    --color-light-bg-primary: rgba(255, 255, 255, 1);
    --color-light-graphic-secondary: rgba(109, 121, 134, 1);
    --color-light-graphic-link: rgba(0, 122, 255, 1);
    --color-light-text-secondary: rgba(109, 121, 134, 1);
    --color-light-graphic-tertiary: rgba(182, 188, 195, 1);
    --color-light-text-tertiary-inverted: rgba(109, 121, 134, 1);
    --color-light-text-tertiary-transparent: rgba(11, 31, 53, 0.3);
    --color-light-bg-opaque: rgba(255, 255, 255, 0.6);
    --color-light-bg-neutral: rgba(219, 222, 225, 1);
    --color-light-bg-tertiary-inverted: rgba(60, 76, 93, 1);
    --color-light-specialbg-tertiary-grouped: rgba(243, 244, 245, 1);
    --color-light-text-primary-inverted: rgba(255, 255, 255, 1);
    --color-light-text-secondary-inverted: rgba(182, 188, 195, 1);
    --color-light-bg-accent: rgba(239, 49, 36, 1);
    --color-light-specialbg-nulled: rgba(255, 255, 255, 0);
    --color-light-border-secondary: rgba(231, 233, 235, 1);
    --color-light-bg-secondary: rgba(243, 244, 245, 1);
    --color-light-text-link: rgba(0, 122, 255, 1);
    --color-light-text-negative: rgba(217, 29, 11, 1);
    --color-light-graphic-primary: rgba(11, 31, 53, 1);
    --color-light-bg-attention-muted: rgba(255, 243, 224, 1);
    --color-light-bg-primary-inverted: rgba(11, 31, 53, 1);
    --color-light-bg-negative-muted: rgba(254, 235, 234, 1);
    --color-light-graphic-primary-inverted: rgba(243, 244, 245, 1);
    --color-dark-bg-opaque: rgba(11, 31, 53, 0.6);
    --color-dark-bg-overlay: rgba(0, 0, 0, 0.6);
    --color-dark-graphic-link: rgba(0, 122, 255, 1);
    --color-dark-text-primary: rgba(255, 255, 255, 1);
    --color-dark-bg-primary: rgba(11, 31, 53, 1);
    --color-dark-bg-positive-muted: rgba(6, 49, 30, 1);
    --color-dark-border-secondary: rgba(60, 76, 93, 1);
    --color-dark-specialbg-nulled: rgba(11, 31, 53, 0);
    --color-dark-text-secondary-transparent: rgba(255, 255, 255, 0.7);
    --color-dark-bg-tertiary: rgba(60, 76, 93, 1);
    --color-dark-text-disabled: rgba(72, 87, 103, 1);
    --color-dark-border-key: rgba(255, 255, 255, 1);
    --color-dark-graphic-secondary: rgba(182, 188, 195, 1);
    --color-dark-graphic-positive: rgba(47, 194, 110, 1);
    --color-dark-text-tertiary-inverted-transparent: rgba(11, 31, 53, 0.3);
    --color-dark-text-disabled-transparent: rgba(255, 255, 255, 0.25);
    --color-dark-text-attention: rgba(222, 106, 0, 1);
    --color-dark-graphic-neutral: rgba(72, 87, 103, 1);
    --color-dark-graphic-negative: rgba(241, 80, 69, 1);
    --color-dark-text-tertiary-transparent: rgba(255, 255, 255, 0.4);
    --color-dark-graphic-accent: rgba(239, 49, 36, 1);
    --color-dark-graphic-primary-inverted: rgba(35, 53, 73, 1);
    --color-dark-border-accent: rgba(239, 49, 36, 1);
    --color-dark-text-tertiary: rgba(109, 121, 134, 1);
    --color-dark-text-secondary-inverted-transparent: rgba(11, 31, 53, 0.6);
    --color-dark-bg-accent: rgba(239, 49, 36, 1);
    --color-dark-bg-attention-muted: rgba(67, 32, 0, 1);
    --color-dark-text-accent: rgba(239, 49, 36, 1);
    --color-dark-border-primary: rgba(72, 87, 103, 1);
    --color-dark-text-tertiary-inverted: rgba(182, 188, 195, 1);
    --color-dark-text-secondary-inverted: rgba(109, 121, 134, 1);
    --color-dark-text-secondary: rgba(182, 188, 195, 1);
    --color-dark-specialbg-tertiary-grouped: rgba(60, 76, 93, 1);
    --color-dark-graphic-tertiary: rgba(109, 121, 134, 1);
    --color-dark-specialbg-secondary-grouped: rgba(35, 53, 73, 1);
    --color-dark-graphic-attention: rgba(229, 137, 51, 1);
    --color-dark-border-tertiary: rgba(35, 53, 73, 1);
    --color-dark-specialbg-primary-grouped: rgba(11, 31, 53, 1);
    --color-dark-bg-neutral: rgba(72, 87, 103, 1);
    --color-dark-text-primary-inverted: rgba(11, 31, 53, 1);
    --color-dark-text-positive: rgba(19, 164, 99, 1);
    --color-dark-bg-secondary-inverted: rgba(182, 188, 195, 1);
    --color-dark-bg-primary-inverted: rgba(255, 255, 255, 1);
    --color-dark-text-negative: rgba(217, 29, 11, 1);
    --color-dark-text-link: rgba(0, 122, 255, 1);
    --color-dark-graphic-primary: rgba(255, 255, 255, 1);
    --color-dark-bg-tertiary-inverted: rgba(109, 121, 134, 1);
    --color-dark-bg-secondary: rgba(35, 53, 73, 1);
    --color-dark-bg-negative-muted: rgba(65, 9, 3, 1);
    --color-static-text-tertiary-light-transparent: rgba(255, 255, 255, 0.4);
    --color-static-bg-dark: rgba(0, 0, 0, 1);
    --color-static-text-secondary-dark: rgba(109, 121, 134, 1);
    --color-static-bg-accent: rgba(239, 49, 36, 1);
    --color-static-border-accent: rgba(239, 49, 36, 1);
    --color-static-graphic-dark: rgba(11, 31, 53, 1);
    --color-static-text-secondary-light-transparent: rgba(255, 255, 255, 0.7);
    --color-static-text-primary-dark: rgba(11, 31, 53, 1);
    --color-static-bg-light: rgba(255, 255, 255, 1);
    --color-static-text-tertiary-dark: rgba(182, 188, 195, 1);
    --color-static-graphic-accent: rgba(239, 49, 36, 1);
    --color-static-text-tertiary-dark-transparent: rgba(11, 31, 53, 0.3);
    --color-static-text-secondary-dark-transparent: rgba(11, 31, 53, 0.6);
    --color-static-text-accent: rgba(239, 49, 36, 1);
    --color-static-text-tertiary-light: rgba(109, 121, 134, 1);
    --color-static-text-secondary-light: rgba(182, 188, 195, 1);
    --color-static-text-primary-light: rgba(255, 255, 255, 1);
    --color-static-graphic-light: rgba(255, 255, 255, 1);
}
