:root {
    --color-dark-bg-accent: #ef3124;
    --color-dark-bg-attention-muted: #432000;
    --color-dark-bg-info: #001c3c;
    --color-dark-bg-negative-muted: #410903;
    --color-dark-bg-neutral: #485767;
    --color-dark-bg-opaque: rgba(11, 31, 53, 0.6);
    --color-dark-bg-overlay: rgba(0, 0, 0, 0.6);
    --color-dark-bg-positive-muted: #06311e;
    --color-dark-bg-primary: #0b1f35;
    --color-dark-bg-primary-inverted: #fff;
    --color-dark-bg-secondary: #233549;
    --color-dark-bg-secondary-inverted: #b6bcc3;
    --color-dark-bg-tertiary: #3c4c5d;
    --color-dark-bg-tertiary-inverted: #6d7986;
    --color-dark-border-accent: #ef3124;
    --color-dark-border-key: #fff;
    --color-dark-border-key-inverted: #0b1f35;
    --color-dark-border-link: #007aff;
    --color-dark-border-primary: #485767;
    --color-dark-border-secondary: #3c4c5d;
    --color-dark-border-secondary-inverted: #6d7986;
    --color-dark-border-tertiary: #233549;
    --color-dark-border-tertiary-inverted: #b6bcc3;
    --color-dark-border-underline: #6d7986;
    --color-dark-border-underline-inverted: #b6bcc3;
    --color-dark-graphic-accent: #ef3124;
    --color-dark-graphic-attention: #e58933;
    --color-dark-graphic-link: #007aff;
    --color-dark-graphic-negative: #f15045;
    --color-dark-graphic-neutral: #485767;
    --color-dark-graphic-positive: #2fc26e;
    --color-dark-graphic-primary: #fff;
    --color-dark-graphic-primary-inverted: #0b1f35;
    --color-dark-graphic-secondary: #b6bcc3;
    --color-dark-graphic-secondary-inverted: #233549;
    --color-dark-graphic-tertiary: #6d7986;
    --color-dark-specialbg-component: #485767;
    --color-dark-specialbg-component-inverted: rgba(11, 31, 53, 0.07);
    --color-dark-specialbg-nulled: rgba(11, 31, 53, 0);
    --color-dark-specialbg-primary-grouped: #0b1f35;
    --color-dark-specialbg-secondary-grouped: #233549;
    --color-dark-specialbg-tertiary-grouped: #3c4c5d;
    --color-dark-text-accent: #ef3124;
    --color-dark-text-attention: #de6a00;
    --color-dark-text-disabled: #485767;
    --color-dark-text-disabled-transparent: rgba(255, 255, 255, 0.25);
    --color-dark-text-link: #007aff;
    --color-dark-text-negative: #d91d0b;
    --color-dark-text-positive: #13a463;
    --color-dark-text-primary: #fff;
    --color-dark-text-primary-inverted: #0b1f35;
    --color-dark-text-secondary: #b6bcc3;
    --color-dark-text-secondary-inverted: #6d7986;
    --color-dark-text-secondary-inverted-transparent: rgba(11, 31, 53, 0.6);
    --color-dark-text-secondary-transparent: rgba(255, 255, 255, 0.7);
    --color-dark-text-tertiary: #6d7986;
    --color-dark-text-tertiary-inverted: #b6bcc3;
    --color-dark-text-tertiary-inverted-transparent: rgba(11, 31, 53, 0.3);
    --color-dark-text-tertiary-transparent: rgba(255, 255, 255, 0.4);
    --color-light-bg-accent: #ef3124;
    --color-light-bg-attention-muted: #fff3e0;
    --color-light-bg-info: #d6e8fc;
    --color-light-bg-negative-muted: #feebea;
    --color-light-bg-neutral: #dbdee1;
    --color-light-bg-opaque: rgba(255, 255, 255, 0.6);
    --color-light-bg-overlay: rgba(0, 0, 0, 0.6);
    --color-light-bg-positive-muted: #ebf9f1;
    --color-light-bg-primary: #fff;
    --color-light-bg-primary-inverted: #0b1f35;
    --color-light-bg-secondary: #f3f4f5;
    --color-light-bg-secondary-inverted: #233549;
    --color-light-bg-tertiary: #e7e9eb;
    --color-light-bg-tertiary-inverted: #3c4c5d;
    --color-light-border-accent: #ef3124;
    --color-light-border-key: #0b1f35;
    --color-light-border-key-inverted: #fff;
    --color-light-border-link: #007aff;
    --color-light-border-primary: #dbdee1;
    --color-light-border-secondary: #e7e9eb;
    --color-light-border-secondary-inverted: #b6bcc3;
    --color-light-border-tertiary: #f3f4f5;
    --color-light-border-tertiary-inverted: #6d7986;
    --color-light-border-underline: #b6bcc3;
    --color-light-border-underline-inverted: #6d7986;
    --color-light-graphic-accent: #ef3124;
    --color-light-graphic-attention: #e58933;
    --color-light-graphic-link: #007aff;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-neutral: #dbdee1;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-secondary: #6d7986;
    --color-light-graphic-secondary-inverted: #f3f4f5;
    --color-light-graphic-tertiary: #b6bcc3;
    --color-light-specialbg-component: rgba(11, 31, 53, 0.07);
    --color-light-specialbg-component-inverted: rgba(255, 255, 255, 0.15);
    --color-light-specialbg-nulled: rgba(255, 255, 255, 0);
    --color-light-specialbg-primary-grouped: #f3f4f5;
    --color-light-specialbg-secondary-grouped: #fff;
    --color-light-specialbg-tertiary-grouped: #f3f4f5;
    --color-light-text-accent: #ef3124;
    --color-light-text-attention: #de6a00;
    --color-light-text-disabled: #dbdee1;
    --color-light-text-disabled-transparent: rgba(11, 31, 53, 0.15);
    --color-light-text-link: #007aff;
    --color-light-text-negative: #d91d0b;
    --color-light-text-positive: #13a463;
    --color-light-text-primary: #0b1f35;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-secondary: #546272;
    --color-light-text-secondary-inverted: #b6bcc3;
    --color-light-text-secondary-inverted-transparent: rgba(255, 255, 255, 0.7);
    --color-light-text-secondary-transparent: rgba(11, 31, 53, 0.7);
    --color-light-text-tertiary: #b6bcc3;
    --color-light-text-tertiary-inverted: #6d7986;
    --color-light-text-tertiary-inverted-transparent: rgba(255, 255, 255, 0.4);
    --color-light-text-tertiary-transparent: rgba(11, 31, 53, 0.3);
    --color-static-bg-accent: #ef3124;
    --color-static-bg-primary-dark: #000;
    --color-static-bg-primary-light: #fff;
    --color-static-bg-secondary-dark: #2b2b2b;
    --color-static-bg-secondary-light: #f3f4f5;
    --color-static-border-accent: #ef3124;
    --color-static-graphic-accent: #ef3124;
    --color-static-graphic-dark: #0b1f35;
    --color-static-graphic-light: #fff;
    --color-static-text-accent: #ef3124;
    --color-static-text-primary-dark: #0b1f35;
    --color-static-text-primary-light: #fff;
    --color-static-text-secondary-dark: #6d7986;
    --color-static-text-secondary-dark-transparent: rgba(11, 31, 53, 0.6);
    --color-static-text-secondary-light: #b6bcc3;
    --color-static-text-secondary-light-transparent: rgba(255, 255, 255, 0.7);
    --color-static-text-tertiary-dark: #b6bcc3;
    --color-static-text-tertiary-dark-transparent: rgba(11, 31, 53, 0.3);
    --color-static-text-tertiary-light: #6d7986;
    --color-static-text-tertiary-light-transparent: rgba(255, 255, 255, 0.4);
    --color-dark-bg-accent-alpha-30: color-mod(#ef3124 alpha(30%));
    --color-dark-bg-accent-tint-7: color-mod(#ef3124 tint(7%));
    --color-dark-bg-accent-tint-10: color-mod(#ef3124 tint(10%));
    --color-dark-bg-accent-tint-15: color-mod(#ef3124 tint(15%));
    --color-dark-bg-accent-tint-30: color-mod(#ef3124 tint(30%));
    --color-dark-bg-neutral-alpha-30: color-mod(#485767 alpha(30%));
    --color-dark-bg-neutral-tint-7: color-mod(#485767 tint(7%));
    --color-dark-bg-neutral-tint-10: color-mod(#485767 tint(10%));
    --color-dark-bg-neutral-tint-15: color-mod(#485767 tint(15%));
    --color-dark-bg-neutral-tint-30: color-mod(#485767 tint(30%));
    --color-dark-bg-primary-inverted-alpha-3: color-mod(#fff alpha(3%));
    --color-dark-bg-primary-inverted-alpha-7: color-mod(#fff alpha(7%));
    --color-dark-bg-primary-inverted-alpha-10: color-mod(#fff alpha(10%));
    --color-dark-bg-primary-inverted-alpha-15: color-mod(#fff alpha(15%));
    --color-dark-bg-primary-inverted-alpha-20: color-mod(#fff alpha(20%));
    --color-dark-bg-primary-inverted-alpha-40: color-mod(#fff alpha(40%));
    --color-dark-bg-secondary-inverted-alpha-7: color-mod(#b6bcc3 alpha(7%));
    --color-dark-bg-secondary-inverted-alpha-15: color-mod(#b6bcc3 alpha(15%));
    --color-dark-bg-tertiary-tint-7: color-mod(#3c4c5d tint(7%));
    --color-dark-border-tertiary-inverted-alpha-30: color-mod(#b6bcc3 alpha(30%));
    --color-dark-graphic-accent-alpha-30: color-mod(#ef3124 alpha(30%));
    --color-dark-graphic-accent-tint-10: color-mod(#ef3124 tint(10%));
    --color-dark-graphic-accent-tint-30: color-mod(#ef3124 tint(30%));
    --color-dark-graphic-negative-shade-30: color-mod(#f15045 shade(30%));
    --color-dark-graphic-negative-shade-50: color-mod(#f15045 shade(50%));
    --color-dark-graphic-neutral-tint-10: color-mod(#485767 tint(10%));
    --color-dark-graphic-positive-tint-10: color-mod(#2fc26e tint(10%));
    --color-dark-graphic-positive-tint-30: color-mod(#2fc26e tint(30%));
    --color-dark-graphic-primary-alpha-30: color-mod(#fff alpha(30%));
    --color-dark-graphic-primary-alpha-40: color-mod(#fff alpha(40%));
    --color-dark-graphic-primary-alpha-50: color-mod(#fff alpha(50%));
    --color-dark-graphic-primary-shade-30: color-mod(#fff shade(30%));
    --color-dark-graphic-primary-shade-50: color-mod(#fff shade(50%));
    --color-dark-graphic-primary-tint-10: color-mod(#fff tint(10%));
    --color-dark-graphic-primary-tint-30: color-mod(#fff tint(30%));
    --color-dark-graphic-secondary-alpha-30: color-mod(#b6bcc3 alpha(30%));
    --color-dark-graphic-secondary-tint-30: color-mod(#b6bcc3 tint(30%));
    --color-dark-graphic-secondary-tint-50: color-mod(#b6bcc3 tint(50%));
    --color-dark-specialbg-component-tint-7: color-mod(#485767 tint(7%));
    --color-dark-specialbg-component-tint-10: color-mod(#485767 tint(10%));
    --color-dark-specialbg-component-tint-30: color-mod(#485767 tint(30%));
    --color-dark-text-link-shade-30: color-mod(#007aff shade(30%));
    --color-dark-text-link-shade-50: color-mod(#007aff shade(50%));
    --color-dark-text-link-tint-20: color-mod(#007aff tint(20%));
    --color-dark-text-link-tint-40: color-mod(#007aff tint(40%));
    --color-dark-text-primary-alpha-30: color-mod(#fff alpha(30%));
    --color-dark-text-primary-shade-30: color-mod(#fff shade(30%));
    --color-dark-text-primary-shade-50: color-mod(#fff shade(50%));
    --color-dark-text-primary-tint-20: color-mod(#fff tint(20%));
    --color-dark-text-primary-tint-40: color-mod(#fff tint(40%));
    --color-dark-text-secondary-shade-30: color-mod(#b6bcc3 shade(30%));
    --color-dark-text-secondary-shade-50: color-mod(#b6bcc3 shade(50%));
    --color-dark-text-secondary-tint-20: color-mod(#b6bcc3 tint(20%));
    --color-dark-text-secondary-tint-40: color-mod(#b6bcc3 tint(40%));
    --color-light-bg-accent-alpha-30: color-mod(#ef3124 alpha(30%));
    --color-light-bg-accent-shade-7: color-mod(#ef3124 shade(7%));
    --color-light-bg-accent-shade-10: color-mod(#ef3124 shade(10%));
    --color-light-bg-accent-shade-15: color-mod(#ef3124 shade(15%));
    --color-light-bg-accent-shade-30: color-mod(#ef3124 shade(30%));
    --color-light-bg-neutral-alpha-30: color-mod(#dbdee1 alpha(30%));
    --color-light-bg-neutral-shade-7: color-mod(#dbdee1 shade(7%));
    --color-light-bg-neutral-shade-10: color-mod(#dbdee1 shade(10%));
    --color-light-bg-neutral-shade-15: color-mod(#dbdee1 shade(15%));
    --color-light-bg-neutral-shade-30: color-mod(#dbdee1 shade(30%));
    --color-light-bg-primary-inverted-alpha-3: color-mod(#0b1f35 alpha(3%));
    --color-light-bg-primary-inverted-alpha-7: color-mod(#0b1f35 alpha(7%));
    --color-light-bg-primary-inverted-alpha-10: color-mod(#0b1f35 alpha(10%));
    --color-light-bg-primary-inverted-alpha-15: color-mod(#0b1f35 alpha(15%));
    --color-light-bg-primary-inverted-alpha-20: color-mod(#0b1f35 alpha(20%));
    --color-light-bg-primary-inverted-alpha-40: color-mod(#0b1f35 alpha(40%));
    --color-light-bg-secondary-inverted-alpha-7: color-mod(#233549 alpha(7%));
    --color-light-bg-secondary-inverted-alpha-15: color-mod(#233549 alpha(15%));
    --color-light-bg-tertiary-shade-7: color-mod(#e7e9eb shade(7%));
    --color-light-border-tertiary-inverted-alpha-30: color-mod(#6d7986 alpha(30%));
    --color-light-graphic-accent-alpha-30: color-mod(#ef3124 alpha(30%));
    --color-light-graphic-accent-shade-10: color-mod(#ef3124 shade(10%));
    --color-light-graphic-accent-shade-30: color-mod(#ef3124 shade(30%));
    --color-light-graphic-negative-tint-30: color-mod(#f15045 tint(30%));
    --color-light-graphic-negative-tint-50: color-mod(#f15045 tint(50%));
    --color-light-graphic-neutral-shade-10: color-mod(#dbdee1 shade(10%));
    --color-light-graphic-positive-shade-10: color-mod(#2fc26e shade(10%));
    --color-light-graphic-positive-shade-30: color-mod(#2fc26e shade(30%));
    --color-light-graphic-primary-alpha-30: color-mod(#0b1f35 alpha(30%));
    --color-light-graphic-primary-alpha-40: color-mod(#0b1f35 alpha(40%));
    --color-light-graphic-primary-alpha-50: color-mod(#0b1f35 alpha(50%));
    --color-light-graphic-primary-tint-30: color-mod(#0b1f35 tint(30%));
    --color-light-graphic-primary-tint-50: color-mod(#0b1f35 tint(50%));
    --color-light-graphic-primary-shade-10: color-mod(#0b1f35 shade(10%));
    --color-light-graphic-primary-shade-30: color-mod(#0b1f35 shade(30%));
    --color-light-graphic-secondary-alpha-30: color-mod(#6d7986 alpha(30%));
    --color-light-graphic-secondary-shade-30: color-mod(#6d7986 shade(30%));
    --color-light-graphic-secondary-shade-50: color-mod(#6d7986 shade(50%));
    --color-light-specialbg-component-shade-7: color-mod(rgba(11, 31, 53, 0.07) blenda(black 7%));
    --color-light-specialbg-component-shade-10: color-mod(rgba(11, 31, 53, 0.07) blenda(black 10%));
    --color-light-specialbg-component-shade-30: color-mod(rgba(11, 31, 53, 0.07) blenda(black 30%));
    --color-light-specialbg-component-inverted-tint-15: color-mod(
        rgba(255, 255, 255, 0.15) blenda(white 15%)
    );
    --color-light-text-link-tint-30: color-mod(#007aff tint(30%));
    --color-light-text-link-tint-50: color-mod(#007aff tint(50%));
    --color-light-text-link-shade-20: color-mod(#007aff shade(20%));
    --color-light-text-link-shade-40: color-mod(#007aff shade(40%));
    --color-light-text-primary-alpha-30: color-mod(#0b1f35 alpha(30%));
    --color-light-text-primary-tint-30: color-mod(#0b1f35 tint(30%));
    --color-light-text-primary-tint-50: color-mod(#0b1f35 tint(50%));
    --color-light-text-primary-shade-20: color-mod(#0b1f35 shade(20%));
    --color-light-text-primary-shade-40: color-mod(#0b1f35 shade(40%));
    --color-light-text-secondary-tint-30: color-mod(#546272 tint(30%));
    --color-light-text-secondary-tint-50: color-mod(#546272 tint(50%));
    --color-light-text-secondary-shade-20: color-mod(#546272 shade(20%));
    --color-light-text-secondary-shade-40: color-mod(#546272 shade(40%));

    /* TODO: цвета добавлены руками. Обновить токены */
    --color-light-border-underline-inverted: #6d7986;
    --color-light-text-secondary-inverted-transparent: rgba(255, 255, 255, 0.7);
}
