:root {
    --color-dark-bg-accent: #ef3124;
    --color-dark-bg-attention-muted: #332104;
    --color-dark-bg-info: #001c3c;
    --color-dark-bg-negative-muted: #35110d;
    --color-dark-bg-neutral: #3a3a3c;
    --color-dark-bg-opaque: rgba(255, 255, 255, 0.8);
    --color-dark-bg-overlay: rgba(0, 0, 0, 0.8);
    --color-dark-bg-positive-muted: #042117;
    --color-dark-bg-primary: #121212;
    --color-dark-bg-primary-inverted: #fff;
    --color-dark-bg-secondary: #202022;
    --color-dark-bg-secondary-inverted: #f3f4f5;
    --color-dark-bg-tertiary: #2c2c2e;
    --color-dark-bg-tertiary-inverted: #e9e9eb;
    --color-dark-border-accent: #ef3124;
    --color-dark-border-key: #fff;
    --color-dark-border-key-inverted: #121212;
    --color-dark-border-primary: #2b2b2e;
    --color-dark-border-secondary: #262629;
    --color-dark-border-secondary-inverted: #e9e9eb;
    --color-dark-border-tertiary: #1c1c1e;
    --color-dark-border-tertiary-inverted: #f3f4f5;
    --color-dark-graphic-accent: #ef3124;
    --color-dark-graphic-attention: #f6bf65;
    --color-dark-graphic-link: #0072ef;
    --color-dark-graphic-negative: #d91d0b;
    --color-dark-graphic-neutral: #2a2a2c;
    --color-dark-graphic-positive: #2fc26e;
    --color-dark-graphic-primary: #fff;
    --color-dark-graphic-primary-inverted: #121212;
    --color-dark-graphic-secondary: #8d8d93;
    --color-dark-graphic-tertiary: #464649;
    --color-dark-specialbg-nulled: rgba(255, 255, 255, 0);
    --color-dark-specialbg-primary-grouped: #202022;
    --color-dark-specialbg-secondary-grouped: #2c2c2e;
    --color-dark-specialbg-tertiary-grouped: #3a3a3c;
    --color-dark-text-accent: #ef3124;
    --color-dark-text-attention: #cb830f;
    --color-dark-text-disabled: #2a2a2c;
    --color-dark-text-disabled-transparent: rgba(235, 235, 245, 0.18);
    --color-dark-text-link: #0072ef;
    --color-dark-text-negative: #f15045;
    --color-dark-text-positive: #13a463;
    --color-dark-text-primary: #fff;
    --color-dark-text-primary-inverted: #000;
    --color-dark-text-secondary: #8d8d93;
    --color-dark-text-secondary-inverted: #8a8a8e;
    --color-dark-text-secondary-inverted-transparent: rgba(60, 60, 67, 0.6);
    --color-dark-text-secondary-transparent: rgba(235, 235, 245, 0.6);
    --color-dark-text-tertiary: #464649;
    --color-dark-text-tertiary-inverted: #c5c5c7;
    --color-dark-text-tertiary-inverted-transparent: rgba(60, 60, 67, 0.3);
    --color-dark-text-tertiary-transparent: rgba(235, 235, 245, 0.3);
    --color-light-bg-accent: #ef3124;
    --color-light-bg-attention-muted: #f7ebd9;
    --color-light-bg-info: #d6e8fc;
    --color-light-bg-negative-muted: #fbe8e7;
    --color-light-bg-neutral: #dcdcdd;
    --color-light-bg-opaque: rgba(255, 255, 255, 0.8);
    --color-light-bg-overlay: rgba(0, 0, 0, 0.6);
    --color-light-bg-positive-muted: #e7f6ef;
    --color-light-bg-primary: #fff;
    --color-light-bg-primary-inverted: #121212;
    --color-light-bg-secondary: #f3f4f5;
    --color-light-bg-secondary-inverted: #202022;
    --color-light-bg-tertiary: #e9e9eb;
    --color-light-bg-tertiary-inverted: #2c2c2e;
    --color-light-border-accent: #ef3124;
    --color-light-border-key: #000;
    --color-light-border-key-inverted: #fff;
    --color-light-border-primary: #dcdcdd;
    --color-light-border-secondary: #e9e9eb;
    --color-light-border-secondary-inverted: #262629;
    --color-light-border-tertiary: #f3f4f5;
    --color-light-border-tertiary-inverted: #1c1c1e;
    --color-light-graphic-accent: #ef3124;
    --color-light-graphic-attention: #f6bf65;
    --color-light-graphic-link: #0072ef;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-neutral: #dcdcdd;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #000;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-secondary: #8a8a8e;
    --color-light-graphic-tertiary: #c5c5c7;
    --color-light-specialbg-nulled: rgba(255, 255, 255, 0);
    --color-light-specialbg-primary-grouped: #f3f4f5;
    --color-light-specialbg-secondary-grouped: #fff;
    --color-light-specialbg-tertiary-grouped: #f3f4f5;
    --color-light-text-accent: #ef3124;
    --color-light-text-attention: #cb830f;
    --color-light-text-disabled: #dcdcdd;
    --color-light-text-disabled-transparent: rgba(60, 60, 67, 0.18);
    --color-light-text-link: #0072ef;
    --color-light-text-negative: #d91d0b;
    --color-light-text-positive: #13a463;
    --color-light-text-primary: #000;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-secondary: #8a8a8e;
    --color-light-text-secondary-inverted: #8d8d93;
    --color-light-text-secondary-inverted-transparent: rgba(235, 235, 245, 0.6);
    --color-light-text-secondary-transparent: rgba(60, 60, 67, 0.6);
    --color-light-text-tertiary: #c5c5c7;
    --color-light-text-tertiary-inverted: #464649;
    --color-light-text-tertiary-inverted-transparent: rgba(235, 235, 245, 0.3);
    --color-light-text-tertiary-transparent: rgba(60, 60, 67, 0.3);
    --color-static-bg-accent: #ef3124;
    --color-static-bg-neutral-dark: #3a3a3c;
    --color-static-bg-neutral-light: #dcdcdd;
    --color-static-bg-primary-dark: #121212;
    --color-static-bg-primary-light: #fff;
    --color-static-bg-secondary-dark: #202022;
    --color-static-bg-secondary-light: #f3f4f5;
    --color-static-border-accent: #ef3124;
    --color-static-graphic-accent: #ef3124;
    --color-static-graphic-dark: #000;
    --color-static-graphic-light: #fff;
    --color-static-text-accent: #ef3124;
    --color-static-text-primary-dark: #000;
    --color-static-text-primary-light: #fff;
    --color-static-text-secondary-dark: #8a8a8e;
    --color-static-text-secondary-dark-transparent: rgba(60, 60, 67, 0.6);
    --color-static-text-secondary-light: #8d8d93;
    --color-static-text-secondary-light-transparent: rgba(235, 235, 245, 0.6);
    --color-static-text-tertiary-dark: #c5c5c7;
    --color-static-text-tertiary-dark-transparent: rgba(60, 60, 67, 0.3);
    --color-static-text-tertiary-light: #464649;
    --color-static-text-tertiary-light-transparent: rgba(235, 235, 245, 0.3);
    --color-dark-bg-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-dark-bg-accent-tint-7: rgb(240, 63, 51);
    --color-dark-bg-accent-tint-10: rgb(241, 70, 58);
    --color-dark-bg-accent-tint-15: rgb(241, 80, 69);
    --color-dark-bg-accent-tint-30: rgb(244, 111, 102);
    --color-dark-bg-neutral-alpha-30: rgba(58, 58, 60, 0.3);
    --color-dark-bg-neutral-tint-7: rgb(72, 72, 74);
    --color-dark-bg-neutral-tint-10: rgb(78, 78, 80);
    --color-dark-bg-neutral-tint-15: rgb(88, 88, 89);
    --color-dark-bg-neutral-tint-30: rgb(117, 117, 119);
    --color-dark-bg-neutral-shade-15: rgb(49, 49, 51);
    --color-dark-bg-primary-alpha-8: rgba(18, 18, 18, 0.08);
    --color-dark-bg-primary-inverted-alpha-3: rgba(255, 255, 255, 0.03);
    --color-dark-bg-primary-inverted-alpha-7: rgba(255, 255, 255, 0.07);
    --color-dark-bg-primary-inverted-alpha-10: rgba(255, 255, 255, 0.1);
    --color-dark-bg-primary-inverted-alpha-15: rgba(255, 255, 255, 0.15);
    --color-dark-bg-primary-inverted-alpha-20: rgba(255, 255, 255, 0.2);
    --color-dark-bg-primary-inverted-alpha-40: rgba(255, 255, 255, 0.4);
    --color-dark-bg-primary-inverted-alpha-50: rgba(255, 255, 255, 0.5);
    --color-dark-bg-secondary-inverted-alpha-7: rgba(243, 244, 245, 0.07);
    --color-dark-bg-secondary-inverted-alpha-15: rgba(243, 244, 245, 0.15);
    --color-dark-bg-tertiary-tint-7: rgb(59, 59, 61);
    --color-dark-border-tertiary-inverted-alpha-30: rgba(243, 244, 245, 0.3);
    --color-dark-graphic-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-dark-graphic-accent-tint-10: rgb(241, 70, 58);
    --color-dark-graphic-accent-tint-30: rgb(244, 111, 102);
    --color-dark-graphic-negative-shade-30: rgb(152, 20, 8);
    --color-dark-graphic-negative-shade-50: rgb(109, 15, 6);
    --color-dark-graphic-neutral-tint-10: rgb(63, 63, 65);
    --color-dark-graphic-positive-tint-10: rgb(68, 200, 125);
    --color-dark-graphic-positive-tint-30: rgb(109, 212, 154);
    --color-dark-graphic-primary-alpha-30: rgba(255, 255, 255, 0.3);
    --color-dark-graphic-primary-alpha-40: rgba(255, 255, 255, 0.4);
    --color-dark-graphic-primary-alpha-50: rgba(255, 255, 255, 0.5);
    --color-dark-graphic-primary-shade-30: rgb(179, 179, 179);
    --color-dark-graphic-primary-shade-50: rgb(128, 128, 128);
    --color-dark-graphic-primary-tint-10: rgb(255, 255, 255);
    --color-dark-graphic-primary-tint-30: rgb(255, 255, 255);
    --color-dark-graphic-secondary-alpha-30: rgba(141, 141, 147, 0.3);
    --color-dark-graphic-secondary-tint-30: rgb(175, 175, 179);
    --color-dark-graphic-secondary-tint-50: rgb(198, 198, 201);
    --color-dark-text-link-shade-30: rgb(0, 80, 167);
    --color-dark-text-link-shade-50: rgb(0, 57, 120);
    --color-dark-text-link-tint-20: rgb(51, 142, 242);
    --color-dark-text-link-tint-40: rgb(102, 170, 245);
    --color-dark-text-primary-alpha-30: rgba(255, 255, 255, 0.3);
    --color-dark-text-primary-shade-30: rgb(179, 179, 179);
    --color-dark-text-primary-shade-50: rgb(128, 128, 128);
    --color-dark-text-primary-tint-20: rgb(255, 255, 255);
    --color-dark-text-primary-tint-40: rgb(255, 255, 255);
    --color-dark-text-primary-inverted-alpha-40: rgba(0, 0, 0, 0.4);
    --color-dark-text-primary-inverted-shade-30: rgb(0, 0, 0);
    --color-dark-text-primary-inverted-shade-50: rgb(0, 0, 0);
    --color-dark-text-secondary-shade-30: rgb(99, 99, 103);
    --color-dark-text-secondary-shade-50: rgb(71, 71, 74);
    --color-dark-text-secondary-tint-20: rgb(164, 164, 169);
    --color-dark-text-secondary-tint-40: rgb(187, 187, 190);
    --color-dark-text-secondary-inverted-shade-30: rgb(97, 97, 99);
    --color-dark-text-secondary-inverted-shade-50: rgb(69, 69, 71);
    --color-light-bg-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-light-bg-accent-shade-7: rgb(222, 46, 33);
    --color-light-bg-accent-shade-10: rgb(215, 44, 32);
    --color-light-bg-accent-shade-15: rgb(203, 42, 31);
    --color-light-bg-accent-shade-30: rgb(167, 34, 25);
    --color-light-bg-neutral-alpha-30: rgba(220, 220, 221, 0.3);
    --color-light-bg-neutral-shade-7: rgb(205, 205, 206);
    --color-light-bg-neutral-shade-10: rgb(198, 198, 199);
    --color-light-bg-neutral-shade-15: rgb(187, 187, 188);
    --color-light-bg-neutral-shade-30: rgb(154, 154, 155);
    --color-light-bg-neutral-tint-15: rgb(225, 225, 226);
    --color-light-bg-primary-alpha-8: rgba(255, 255, 255, 0.08);
    --color-light-bg-primary-inverted-alpha-3: rgba(18, 18, 18, 0.03);
    --color-light-bg-primary-inverted-alpha-7: rgba(18, 18, 18, 0.07);
    --color-light-bg-primary-inverted-alpha-10: rgba(18, 18, 18, 0.1);
    --color-light-bg-primary-inverted-alpha-15: rgba(18, 18, 18, 0.15);
    --color-light-bg-primary-inverted-alpha-20: rgba(18, 18, 18, 0.2);
    --color-light-bg-primary-inverted-alpha-40: rgba(18, 18, 18, 0.4);
    --color-light-bg-primary-inverted-alpha-50: rgba(18, 18, 18, 0.5);
    --color-light-bg-secondary-inverted-alpha-7: rgba(32, 32, 34, 0.07);
    --color-light-bg-secondary-inverted-alpha-15: rgba(32, 32, 34, 0.15);
    --color-light-bg-tertiary-shade-7: rgb(217, 217, 219);
    --color-light-border-tertiary-inverted-alpha-30: rgba(28, 28, 30, 0.3);
    --color-light-graphic-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-light-graphic-accent-shade-10: rgb(215, 44, 32);
    --color-light-graphic-accent-shade-30: rgb(167, 34, 25);
    --color-light-graphic-negative-tint-30: rgb(245, 133, 125);
    --color-light-graphic-negative-tint-50: rgb(248, 168, 162);
    --color-light-graphic-neutral-shade-10: rgb(198, 198, 199);
    --color-light-graphic-positive-shade-10: rgb(42, 175, 99);
    --color-light-graphic-positive-shade-30: rgb(33, 136, 77);
    --color-light-graphic-primary-alpha-30: rgba(0, 0, 0, 0.3);
    --color-light-graphic-primary-alpha-40: rgba(0, 0, 0, 0.4);
    --color-light-graphic-primary-alpha-50: rgba(0, 0, 0, 0.5);
    --color-light-graphic-primary-tint-30: rgb(77, 77, 77);
    --color-light-graphic-primary-tint-50: rgb(128, 128, 128);
    --color-light-graphic-primary-shade-10: rgb(0, 0, 0);
    --color-light-graphic-primary-shade-30: rgb(0, 0, 0);
    --color-light-graphic-secondary-alpha-30: rgba(138, 138, 142, 0.3);
    --color-light-graphic-secondary-shade-30: rgb(97, 97, 99);
    --color-light-graphic-secondary-shade-50: rgb(69, 69, 71);
    --color-light-text-link-tint-30: rgb(77, 156, 244);
    --color-light-text-link-tint-50: rgb(128, 185, 247);
    --color-light-text-link-shade-20: rgb(0, 91, 191);
    --color-light-text-link-shade-40: rgb(0, 68, 143);
    --color-light-text-primary-alpha-30: rgba(0, 0, 0, 0.3);
    --color-light-text-primary-tint-30: rgb(77, 77, 77);
    --color-light-text-primary-tint-50: rgb(128, 128, 128);
    --color-light-text-primary-shade-20: rgb(0, 0, 0);
    --color-light-text-primary-shade-40: rgb(0, 0, 0);
    --color-light-text-primary-inverted-alpha-40: rgba(255, 255, 255, 0.4);
    --color-light-text-primary-inverted-tint-30: rgb(255, 255, 255);
    --color-light-text-primary-inverted-tint-50: rgb(255, 255, 255);
    --color-light-text-secondary-tint-30: rgb(173, 173, 176);
    --color-light-text-secondary-tint-50: rgb(197, 197, 199);
    --color-light-text-secondary-shade-20: rgb(110, 110, 114);
    --color-light-text-secondary-shade-40: rgb(83, 83, 85);
    --color-light-text-secondary-inverted-tint-30: rgb(175, 175, 179);
    --color-light-text-secondary-inverted-tint-50: rgb(198, 198, 201);
    --color-static-bg-primary-dark-alpha-10: rgba(18, 18, 18, 0.1);
    --color-static-bg-primary-dark-alpha-20: rgba(18, 18, 18, 0.2);
}
