:root {
    --color-static-graphic-amethyst: #a489aa;
    --color-static-graphic-lavender: #8888ad;
    --color-static-graphic-blue-moody: #7879cf;
    --color-static-graphic-persimmon: #ff5c5c;
    --color-static-graphic-green-jungle: #2fc26e;
    --color-static-graphic-sand: #f6bf65;
    --color-static-graphic-blue-maya: #7eb3ff;
}
