:root {
    --color-static-graphic-amethyst: #a489aa;
    --color-static-graphic-blue-maya: #7eb3ff;
    --color-static-graphic-blue-moody: #7879cf;
    --color-static-graphic-botticelli: #cee5e5;
    --color-static-graphic-gallery: #eee;
    --color-static-graphic-green-jungle: #2fc26e;
    --color-static-graphic-lavender: #8888ad;
    --color-static-graphic-persimmon: #ff5c5c;
    --color-static-graphic-salomie: #fee984;
    --color-static-graphic-sand: #f6bf65;
    --color-static-graphic-soft-peach: #f3eaeb;
    --color-static-graphic-solitude: #e8f2fe;
}
