:root {
    --color-dark-bg-accent: #ef3124;
    --color-dark-bg-attention-muted: #432000;
    --color-dark-bg-info: #001c3c;
    --color-dark-bg-negative-muted: #410903;
    --color-dark-bg-neutral: #485767;
    --color-dark-bg-opaque: rgba(11, 31, 53, 0.6);
    --color-dark-bg-overlay: rgba(0, 0, 0, 0.6);
    --color-dark-bg-positive-muted: #06311e;
    --color-dark-bg-primary: #0b1f35;
    --color-dark-bg-primary-inverted: #fff;
    --color-dark-bg-secondary: #233549;
    --color-dark-bg-secondary-inverted: #b6bcc3;
    --color-dark-bg-tertiary: #3c4c5d;
    --color-dark-bg-tertiary-inverted: #6d7986;
    --color-dark-border-accent: #ef3124;
    --color-dark-border-key: #fff;
    --color-dark-border-key-inverted: #0b1f35;
    --color-dark-border-link: #007aff;
    --color-dark-border-primary: #485767;
    --color-dark-border-secondary: #3c4c5d;
    --color-dark-border-secondary-inverted: #6d7986;
    --color-dark-border-tertiary: #233549;
    --color-dark-border-tertiary-inverted: #b6bcc3;
    --color-dark-border-underline: #6d7986;
    --color-dark-border-underline-inverted: #b6bcc3;
    --color-dark-graphic-accent: #ef3124;
    --color-dark-graphic-attention: #e58933;
    --color-dark-graphic-link: #007aff;
    --color-dark-graphic-negative: #f15045;
    --color-dark-graphic-neutral: #485767;
    --color-dark-graphic-positive: #2fc26e;
    --color-dark-graphic-primary: #fff;
    --color-dark-graphic-primary-inverted: #0b1f35;
    --color-dark-graphic-secondary: #b6bcc3;
    --color-dark-graphic-secondary-inverted: #233549;
    --color-dark-graphic-tertiary: #6d7986;
    --color-dark-specialbg-component: #485767;
    --color-dark-specialbg-component-inverted: rgba(11, 31, 53, 0.07);
    --color-dark-specialbg-nulled: rgba(11, 31, 53, 0);
    --color-dark-specialbg-primary-grouped: #0b1f35;
    --color-dark-specialbg-secondary-grouped: #233549;
    --color-dark-specialbg-tertiary-grouped: #3c4c5d;
    --color-dark-text-accent: #ef3124;
    --color-dark-text-attention: #de6a00;
    --color-dark-text-disabled: #485767;
    --color-dark-text-disabled-transparent: rgba(255, 255, 255, 0.25);
    --color-dark-text-link: #007aff;
    --color-dark-text-negative: #d91d0b;
    --color-dark-text-positive: #13a463;
    --color-dark-text-primary: #fff;
    --color-dark-text-primary-inverted: #0b1f35;
    --color-dark-text-secondary: #b6bcc3;
    --color-dark-text-secondary-inverted: #6d7986;
    --color-dark-text-secondary-inverted-transparent: rgba(11, 31, 53, 0.6);
    --color-dark-text-secondary-transparent: rgba(255, 255, 255, 0.7);
    --color-dark-text-tertiary: #6d7986;
    --color-dark-text-tertiary-inverted: #b6bcc3;
    --color-dark-text-tertiary-inverted-transparent: rgba(11, 31, 53, 0.3);
    --color-dark-text-tertiary-transparent: rgba(255, 255, 255, 0.4);
    --color-light-bg-accent: #ef3124;
    --color-light-bg-attention-muted: #fff3e0;
    --color-light-bg-info: #d6e8fc;
    --color-light-bg-negative-muted: #feebea;
    --color-light-bg-neutral: #dbdee1;
    --color-light-bg-opaque: rgba(255, 255, 255, 0.6);
    --color-light-bg-overlay: rgba(0, 0, 0, 0.6);
    --color-light-bg-positive-muted: #ebf9f1;
    --color-light-bg-primary: #fff;
    --color-light-bg-primary-inverted: #0b1f35;
    --color-light-bg-secondary: #f3f4f5;
    --color-light-bg-secondary-inverted: #233549;
    --color-light-bg-tertiary: #e7e9eb;
    --color-light-bg-tertiary-inverted: #3c4c5d;
    --color-light-border-accent: #ef3124;
    --color-light-border-key: #0b1f35;
    --color-light-border-key-inverted: #fff;
    --color-light-border-link: #007aff;
    --color-light-border-primary: #dbdee1;
    --color-light-border-secondary: #e7e9eb;
    --color-light-border-secondary-inverted: #b6bcc3;
    --color-light-border-tertiary: #f3f4f5;
    --color-light-border-tertiary-inverted: #6d7986;
    --color-light-border-underline: #b6bcc3;
    --color-light-border-underline-inverted: #6d7986;
    --color-light-graphic-accent: #ef3124;
    --color-light-graphic-attention: #e58933;
    --color-light-graphic-link: #007aff;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-neutral: #dbdee1;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-secondary: #6d7986;
    --color-light-graphic-secondary-inverted: #f3f4f5;
    --color-light-graphic-tertiary: #b6bcc3;
    --color-light-specialbg-component: rgba(11, 31, 53, 0.07);
    --color-light-specialbg-component-inverted: rgba(255, 255, 255, 0.15);
    --color-light-specialbg-nulled: rgba(255, 255, 255, 0);
    --color-light-specialbg-primary-grouped: #f3f4f5;
    --color-light-specialbg-secondary-grouped: #fff;
    --color-light-specialbg-tertiary-grouped: #f3f4f5;
    --color-light-text-accent: #ef3124;
    --color-light-text-attention: #de6a00;
    --color-light-text-disabled: #dbdee1;
    --color-light-text-disabled-transparent: rgba(11, 31, 53, 0.15);
    --color-light-text-link: #007aff;
    --color-light-text-negative: #d91d0b;
    --color-light-text-positive: #13a463;
    --color-light-text-primary: #0b1f35;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-secondary: #546272;
    --color-light-text-secondary-inverted: #b6bcc3;
    --color-light-text-secondary-inverted-transparent: rgba(255, 255, 255, 0.7);
    --color-light-text-secondary-transparent: rgba(11, 31, 53, 0.7);
    --color-light-text-tertiary: #b6bcc3;
    --color-light-text-tertiary-inverted: #6d7986;
    --color-light-text-tertiary-inverted-transparent: rgba(255, 255, 255, 0.4);
    --color-light-text-tertiary-transparent: rgba(11, 31, 53, 0.3);
    --color-static-bg-accent: #ef3124;
    --color-static-bg-primary-dark: #000;
    --color-static-bg-primary-light: #fff;
    --color-static-bg-secondary-dark: #2b2b2b;
    --color-static-bg-secondary-light: #f3f4f5;
    --color-static-border-accent: #ef3124;
    --color-static-graphic-accent: #ef3124;
    --color-static-graphic-dark: #0b1f35;
    --color-static-graphic-light: #fff;
    --color-static-text-accent: #ef3124;
    --color-static-text-primary-dark: #0b1f35;
    --color-static-text-primary-light: #fff;
    --color-static-text-secondary-dark: #6d7986;
    --color-static-text-secondary-dark-transparent: rgba(11, 31, 53, 0.6);
    --color-static-text-secondary-light: #b6bcc3;
    --color-static-text-secondary-light-transparent: rgba(255, 255, 255, 0.7);
    --color-static-text-tertiary-dark: #b6bcc3;
    --color-static-text-tertiary-dark-transparent: rgba(11, 31, 53, 0.3);
    --color-static-text-tertiary-light: #6d7986;
    --color-static-text-tertiary-light-transparent: rgba(255, 255, 255, 0.4);
    --color-dark-bg-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-dark-bg-accent-tint-7: rgb(240, 63, 51);
    --color-dark-bg-accent-tint-10: rgb(241, 70, 58);
    --color-dark-bg-accent-tint-15: rgb(241, 80, 69);
    --color-dark-bg-accent-tint-30: rgb(244, 111, 102);
    --color-dark-bg-neutral-alpha-30: rgba(72, 87, 103, 0.3);
    --color-dark-bg-neutral-tint-7: rgb(85, 99, 114);
    --color-dark-bg-neutral-tint-10: rgb(90, 104, 118);
    --color-dark-bg-neutral-tint-15: rgb(99, 112, 126);
    --color-dark-bg-neutral-tint-30: rgb(127, 137, 149);
    --color-dark-bg-neutral-shade-15: rgb(61, 74, 88);
    --color-dark-bg-primary-alpha-8: rgba(11, 31, 53, 0.08);
    --color-dark-bg-primary-alpha-40: rgba(11, 31, 53, 0.4);
    --color-dark-bg-primary-inverted-alpha-3: rgba(255, 255, 255, 0.03);
    --color-dark-bg-primary-inverted-alpha-7: rgba(255, 255, 255, 0.07);
    --color-dark-bg-primary-inverted-alpha-10: rgba(255, 255, 255, 0.1);
    --color-dark-bg-primary-inverted-alpha-15: rgba(255, 255, 255, 0.15);
    --color-dark-bg-primary-inverted-alpha-20: rgba(255, 255, 255, 0.2);
    --color-dark-bg-primary-inverted-alpha-30: rgba(255, 255, 255, 0.3);
    --color-dark-bg-primary-inverted-alpha-40: rgba(255, 255, 255, 0.4);
    --color-dark-bg-primary-inverted-alpha-50: rgba(255, 255, 255, 0.5);
    --color-dark-bg-primary-inverted-alpha-60: rgba(255, 255, 255, 0.6);
    --color-dark-bg-primary-inverted-alpha-80: rgba(255, 255, 255, 0.8);
    --color-dark-bg-primary-inverted-shade-7: rgb(237, 237, 237);
    --color-dark-bg-primary-inverted-shade-15: rgb(217, 217, 217);
    --color-dark-bg-primary-inverted-shade-20: rgb(204, 204, 204);
    --color-dark-bg-secondary-alpha-30: rgba(35, 53, 73, 0.3);
    --color-dark-bg-secondary-tint-7: rgb(50, 67, 86);
    --color-dark-bg-secondary-tint-15: rgb(68, 83, 100);
    --color-dark-bg-secondary-inverted-alpha-7: rgba(182, 188, 195, 0.07);
    --color-dark-bg-secondary-inverted-alpha-15: rgba(182, 188, 195, 0.15);
    --color-dark-bg-secondary-inverted-alpha-30: rgba(182, 188, 195, 0.3);
    --color-dark-bg-secondary-inverted-shade-7: rgb(169, 175, 181);
    --color-dark-bg-secondary-inverted-shade-15: rgb(155, 160, 166);
    --color-dark-bg-secondary-inverted-shade-20: rgb(146, 150, 156);
    --color-dark-bg-tertiary-tint-7: rgb(74, 89, 104);
    --color-dark-border-tertiary-inverted-alpha-30: rgba(182, 188, 195, 0.3);
    --color-dark-graphic-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-dark-graphic-accent-shade-15: rgb(203, 42, 31);
    --color-dark-graphic-accent-tint-10: rgb(241, 70, 58);
    --color-dark-graphic-accent-tint-30: rgb(244, 111, 102);
    --color-dark-graphic-negative-shade-30: rgb(169, 56, 48);
    --color-dark-graphic-negative-shade-50: rgb(121, 40, 35);
    --color-dark-graphic-neutral-tint-10: rgb(90, 104, 118);
    --color-dark-graphic-positive-tint-10: rgb(68, 200, 125);
    --color-dark-graphic-positive-tint-30: rgb(109, 212, 154);
    --color-dark-graphic-primary-alpha-30: rgba(255, 255, 255, 0.3);
    --color-dark-graphic-primary-alpha-40: rgba(255, 255, 255, 0.4);
    --color-dark-graphic-primary-alpha-50: rgba(255, 255, 255, 0.5);
    --color-dark-graphic-primary-shade-15: rgb(217, 217, 217);
    --color-dark-graphic-primary-shade-30: rgb(179, 179, 179);
    --color-dark-graphic-primary-shade-50: rgb(128, 128, 128);
    --color-dark-graphic-primary-tint-10: rgb(255, 255, 255);
    --color-dark-graphic-primary-tint-30: rgb(255, 255, 255);
    --color-dark-graphic-secondary-alpha-30: rgba(182, 188, 195, 0.3);
    --color-dark-graphic-secondary-tint-30: rgb(204, 208, 213);
    --color-dark-graphic-secondary-tint-50: rgb(219, 222, 225);
    --color-dark-specialbg-component-tint-7: rgb(85, 99, 114);
    --color-dark-specialbg-component-tint-10: rgb(90, 104, 118);
    --color-dark-specialbg-component-tint-30: rgb(127, 137, 149);
    --color-dark-specialbg-component-alpha-2: rgba(72, 87, 103, 0.02);
    --color-dark-specialbg-component-alpha-14: rgba(72, 87, 103, 0.14);
    --color-dark-specialbg-component-alpha-23: rgba(72, 87, 103, 0.23);
    --color-dark-specialbg-component-inverted-shade-15: rgba(9, 26, 45, 0.2095);
    --color-dark-text-link-shade-30: rgb(0, 85, 179);
    --color-dark-text-link-shade-50: rgb(0, 61, 128);
    --color-dark-text-link-tint-20: rgb(51, 149, 255);
    --color-dark-text-link-tint-40: rgb(102, 175, 255);
    --color-dark-text-primary-alpha-30: rgba(255, 255, 255, 0.3);
    --color-dark-text-primary-shade-30: rgb(179, 179, 179);
    --color-dark-text-primary-shade-50: rgb(128, 128, 128);
    --color-dark-text-primary-tint-20: rgb(255, 255, 255);
    --color-dark-text-primary-tint-40: rgb(255, 255, 255);
    --color-dark-text-primary-inverted-alpha-40: rgba(11, 31, 53, 0.4);
    --color-dark-text-primary-inverted-shade-30: rgb(8, 22, 37);
    --color-dark-text-primary-inverted-shade-50: rgb(6, 16, 26);
    --color-dark-text-secondary-shade-30: rgb(127, 132, 136);
    --color-dark-text-secondary-shade-50: rgb(91, 94, 98);
    --color-dark-text-secondary-tint-20: rgb(197, 201, 207);
    --color-dark-text-secondary-tint-40: rgb(211, 215, 219);
    --color-dark-text-secondary-inverted-shade-30: rgb(76, 85, 94);
    --color-dark-text-secondary-inverted-shade-50: rgb(55, 61, 67);
    --color-light-bg-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-light-bg-accent-shade-7: rgb(222, 46, 33);
    --color-light-bg-accent-shade-10: rgb(215, 44, 32);
    --color-light-bg-accent-shade-15: rgb(203, 42, 31);
    --color-light-bg-accent-shade-30: rgb(167, 34, 25);
    --color-light-bg-neutral-alpha-30: rgba(219, 222, 225, 0.3);
    --color-light-bg-neutral-shade-7: rgb(204, 206, 209);
    --color-light-bg-neutral-shade-10: rgb(197, 200, 203);
    --color-light-bg-neutral-shade-15: rgb(186, 189, 191);
    --color-light-bg-neutral-shade-30: rgb(153, 155, 157);
    --color-light-bg-neutral-tint-15: rgb(224, 227, 230);
    --color-light-bg-primary-alpha-8: rgba(255, 255, 255, 0.08);
    --color-light-bg-primary-alpha-40: rgba(255, 255, 255, 0.4);
    --color-light-bg-primary-inverted-alpha-3: rgba(11, 31, 53, 0.03);
    --color-light-bg-primary-inverted-alpha-7: rgba(11, 31, 53, 0.07);
    --color-light-bg-primary-inverted-alpha-10: rgba(11, 31, 53, 0.1);
    --color-light-bg-primary-inverted-alpha-15: rgba(11, 31, 53, 0.15);
    --color-light-bg-primary-inverted-alpha-20: rgba(11, 31, 53, 0.2);
    --color-light-bg-primary-inverted-alpha-30: rgba(11, 31, 53, 0.3);
    --color-light-bg-primary-inverted-alpha-40: rgba(11, 31, 53, 0.4);
    --color-light-bg-primary-inverted-alpha-50: rgba(11, 31, 53, 0.5);
    --color-light-bg-primary-inverted-alpha-60: rgba(11, 31, 53, 0.6);
    --color-light-bg-primary-inverted-alpha-80: rgba(11, 31, 53, 0.8);
    --color-light-bg-primary-inverted-tint-7: rgb(28, 47, 67);
    --color-light-bg-primary-inverted-tint-15: rgb(48, 65, 83);
    --color-light-bg-primary-inverted-tint-20: rgb(60, 76, 93);
    --color-light-bg-secondary-alpha-30: rgba(243, 244, 245, 0.3);
    --color-light-bg-secondary-shade-7: rgb(226, 227, 228);
    --color-light-bg-secondary-shade-15: rgb(207, 207, 208);
    --color-light-bg-secondary-inverted-alpha-7: rgba(35, 53, 73, 0.07);
    --color-light-bg-secondary-inverted-alpha-15: rgba(35, 53, 73, 0.15);
    --color-light-bg-secondary-inverted-alpha-30: rgba(35, 53, 73, 0.3);
    --color-light-bg-secondary-inverted-tint-7: rgb(50, 67, 86);
    --color-light-bg-secondary-inverted-tint-15: rgb(68, 83, 100);
    --color-light-bg-secondary-inverted-tint-20: rgb(79, 93, 109);
    --color-light-bg-tertiary-shade-7: rgb(215, 217, 219);
    --color-light-border-tertiary-inverted-alpha-30: rgba(109, 121, 134, 0.3);
    --color-light-graphic-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-light-graphic-accent-tint-15: rgb(241, 80, 69);
    --color-light-graphic-accent-shade-10: rgb(215, 44, 32);
    --color-light-graphic-accent-shade-30: rgb(167, 34, 25);
    --color-light-graphic-negative-tint-30: rgb(245, 133, 125);
    --color-light-graphic-negative-tint-50: rgb(248, 168, 162);
    --color-light-graphic-neutral-shade-10: rgb(197, 200, 203);
    --color-light-graphic-positive-shade-10: rgb(42, 175, 99);
    --color-light-graphic-positive-shade-30: rgb(33, 136, 77);
    --color-light-graphic-primary-alpha-30: rgba(11, 31, 53, 0.3);
    --color-light-graphic-primary-alpha-40: rgba(11, 31, 53, 0.4);
    --color-light-graphic-primary-alpha-50: rgba(11, 31, 53, 0.5);
    --color-light-graphic-primary-tint-15: rgb(48, 65, 83);
    --color-light-graphic-primary-tint-30: rgb(84, 98, 114);
    --color-light-graphic-primary-tint-50: rgb(133, 143, 154);
    --color-light-graphic-primary-shade-10: rgb(10, 28, 48);
    --color-light-graphic-primary-shade-30: rgb(8, 22, 37);
    --color-light-graphic-secondary-alpha-30: rgba(109, 121, 134, 0.3);
    --color-light-graphic-secondary-shade-30: rgb(76, 85, 94);
    --color-light-graphic-secondary-shade-50: rgb(55, 61, 67);
    --color-light-specialbg-component-shade-7: rgba(10, 29, 49, 0.1351);
    --color-light-specialbg-component-shade-10: rgba(10, 28, 48, 0.163);
    --color-light-specialbg-component-shade-30: rgba(8, 22, 37, 0.349);
    --color-light-specialbg-component-alpha-2: rgba(11, 31, 53, 0.02);
    --color-light-specialbg-component-alpha-14: rgba(11, 31, 53, 0.14);
    --color-light-specialbg-component-alpha-23: rgba(11, 31, 53, 0.23);
    --color-light-specialbg-component-inverted-tint-15: rgba(255, 255, 255, 0.2775);
    --color-light-text-link-tint-30: rgb(77, 162, 255);
    --color-light-text-link-tint-50: rgb(128, 189, 255);
    --color-light-text-link-shade-20: rgb(0, 98, 204);
    --color-light-text-link-shade-40: rgb(0, 73, 153);
    --color-light-text-primary-alpha-30: rgba(11, 31, 53, 0.3);
    --color-light-text-primary-tint-30: rgb(84, 98, 114);
    --color-light-text-primary-tint-50: rgb(133, 143, 154);
    --color-light-text-primary-shade-20: rgb(9, 25, 42);
    --color-light-text-primary-shade-40: rgb(7, 19, 32);
    --color-light-text-primary-inverted-alpha-40: rgba(255, 255, 255, 0.4);
    --color-light-text-primary-inverted-tint-30: rgb(255, 255, 255);
    --color-light-text-primary-inverted-tint-50: rgb(255, 255, 255);
    --color-light-text-secondary-tint-30: rgb(135, 145, 156);
    --color-light-text-secondary-tint-50: rgb(170, 177, 185);
    --color-light-text-secondary-shade-20: rgb(67, 78, 91);
    --color-light-text-secondary-shade-40: rgb(50, 59, 68);
    --color-light-text-secondary-inverted-tint-30: rgb(204, 208, 213);
    --color-light-text-secondary-inverted-tint-50: rgb(219, 222, 225);
    --color-static-bg-primary-dark-alpha-10: rgba(0, 0, 0, 0.1);
    --color-static-bg-primary-dark-alpha-20: rgba(0, 0, 0, 0.2);
}
