@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    display: inline-block;
    min-width: 240px;
    position: relative;
    outline: 0;
}

.popover {
    padding-top: var(--select-options-list-offset);
    padding-bottom: var(--select-options-list-offset);
    box-shadow: none;
    border: none;
    background: transparent;
    border-radius: 0;
    position: relative;

    /* TODO: перейти на систему */
    z-index: 9999;
}

.optionsList {
    padding-top: var(--select-options-list-top-padding);
    padding-bottom: var(--select-options-list-bottom-padding);
    box-shadow: var(--select-options-list-box-shadow);
    border-radius: var(--select-options-list-border-radius);
    background: var(--select-option-background);
    overflow: hidden;
}

.nativeSelect {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.block {
    width: 100%;
    min-width: auto;
}
