@import '../../vars.css';

.component {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: auto;
    outline: none;
    background: var(--color-light-bg-primary);
}

/* WRAPPER */

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: var(--modal-z-index);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 0;

    padding-top: var(--gap-xl);
    padding-bottom: var(--gap-xl);
}

.hidden {
    display: none;
}

/* FULLSCREEN */

.fullscreen {
    padding: 0;
    overflow: hidden;

    & .component {
        position: fixed;
        margin: 0;
        height: 100%;
        will-change: transform;
        border-radius: 0;
    }
}

/* CONTENT */

.content {
    flex: 1 1 auto;
    overflow: auto;
}
