@import '../../vars.css';

.component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: var(--modal-z-index);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 0;
}

.hidden {
    display: none;
}
