@import '../../vars.css';

.component {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: auto;
    outline: none;
    background: var(--color-light-bg-primary);
}

/* WRAPPER */

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: var(--modal-z-index);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 0;
    background-color: var(--modal-backdrop-visible-background);

    padding-top: var(--modal-vertical-padding);
    padding-bottom: var(--modal-vertical-padding);
}

.hidden {
    display: none;
}

/* FULLSCREEN */

.fullscreen {
    padding: 0;
    overflow: hidden;

    & .component {
        position: fixed;
        margin: 0;
        height: 100%;
        will-change: transform;
        border-radius: 0;
        overflow: auto;
    }

    & .stickyHeader {
        top: 0;
    }

    & .stickyFooter {
        bottom: 0;
    }
}

/* CONTENT */

.flexContent {
    flex: 1 1 auto;
}

/* HEADER */

.stickyHeader {
    position: sticky;

    /* равен верхнему отступу wrapper'а */
    top: calc(var(--modal-vertical-padding) * -1);
}

/* FOOTER */

.stickyFooter {
    position: sticky;

    /* равен верхнему отступу wrapper'а */
    bottom: calc(var(--modal-vertical-padding) * -1);
}

/* ANIMATION */

.appear,
.enter {
    background-color: var(--modal-backdrop-hidden-background);
}

.appearActive,
.enterActive {
    background-color: var(--modal-backdrop-visible-background);
    transition: background-color 200ms ease-in;
}

.exit {
    background-color: var(--modal-backdrop-visible-background);
}

.exitActive {
    background-color: var(--modal-backdrop-hidden-background);
    transition: background-color 200ms ease-out;
}

.hideBackdrop {
    background-color: var(--modal-backdrop-hidden-background);
}
