@import '../../../../themes/src/default.css';
@import '../../vars.css';

.monthsTable {
    display: flex;
    flex-wrap: wrap;
    width: 318px;
    margin: auto -3px;
    justify-content: flex-start;

    @media (max-width: 374px) {
        /* 2 кнопки по 125px + 2 отступа по 6px */
        width: 262px;
    }
}

.button {
    width: var(--calendar-selector-button-width);
    margin: 0 3px var(--gap-xs);

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    @media (max-width: 374px) {
        margin: 0 3px var(--gap-2xs);
        width: 125px;
        height: 36px;
    }
}
