@import '../../../../themes/src/default.css';
@import '../../vars.css';

.arrow {
    display: block;
    width: 24px;
    height: 24px;

    background: var(--select-arrow-background);
    background-size: cover;
    background-position: center;
    transition: transform 0.15s ease-in-out, opacity 0.2s ease;
}

.open {
    transform: var(--arrow-transform);
}
