@import '../../../../themes/src/default.css';
@import '../../vars.css';

.arrow {
    display: block;
    width: 24px;
    height: 24px;

    background: var(--select-arrow-background);
    background-size: cover;
}

.open {
    transform: rotate(180deg);
}
