@for $i from 8 to 24 by 8 {
    .row.gutter-$(i) {
        /* stylelint-disable-next-line prettier/prettier */
        margin-left: calc(-$(i) px / 2);
        /* stylelint-disable-next-line prettier/prettier */
        margin-right: calc(-$(i) px / 2);

        & > .col {
            /* stylelint-disable-next-line prettier/prettier */
            padding-left: calc($(i) px / 2);
            /* stylelint-disable-next-line prettier/prettier */
            padding-right: calc($(i) px / 2);
        }
    }
}

@each $breakpoint in mobile, mobile-s, mobile-m, mobile-l, tablet, tablet-s, tablet-m, desktop,
    desktop-s, desktop-m, desktop-l, desktop-xl
{
    @media (--$(breakpoint)) {
        @for $i from 8 to 24 by 8 {
            .row.gutter-$(breakpoint)-$(i) {
                /* stylelint-disable-next-line prettier/prettier */
                margin-left: calc(-$(i) px / 2);
                /* stylelint-disable-next-line prettier/prettier */
                margin-right: calc(-$(i) px / 2);

                & > .col {
                    /* stylelint-disable-next-line prettier/prettier */
                    padding-left: calc($(i) px / 2);
                    /* stylelint-disable-next-line prettier/prettier */
                    padding-right: calc($(i) px / 2);
                }
            }
        }
    }
}
