@define-mixin form-control-click {
    /* theme */
    --form-control-border-radius: var(--border-radius-s);
    --form-control-border-bottom: 0;
    --form-control-inverted-border-bottom: 0;
    --form-control-bg-color: var(--color-light-bg-tertiary);
    --form-control-inverted-bg-color: var(--color-light-bg-tertiary-inverted);

    /* disabled */
    --form-control-disabled-opacity: 0.5;
    --form-control-disabled-border-bottom: 0;
    --form-control-inverted-disabled-border-bottom: 0;
    --form-control-disabled-bg-color: var(--color-light-bg-tertiary);
    --form-control-inverted-disabled-bg-color: var(--color-light-bg-tertiary-inverted);

    /* focus */
    --form-control-focus-border-bottom: 0;
    --form-control-inverted-focus-border-bottom: 0;
    --form-control-focus-bg-color: var(--color-light-bg-tertiary);
    --form-control-inverted-focus-bg-color: var(--color-light-bg-tertiary-inverted);
    --form-control-hover-bg-color: var(--color-light-bg-tertiary);
    --form-control-inverted-hover-bg-color: var(--color-light-bg-tertiary-inverted);

    /* error */
    --form-control-error-label-color: var(--color-light-text-negative);
    --form-control-inverted-error-label-color: var(--color-light-text-accent);
    --form-control-error-shadow: inset 0 0 0 1px var(--color-light-border-accent);
    --form-control-inverted-error-shadow: inset 0 0 0 1px var(--color-light-border-accent);
    --form-control-error-border-bottom: 0;
    --form-control-inverted-error-border-bottom: 0;
}
