@import '../../../../themes/src/default.css';
@import '../../vars.css';

.checkmark {
    flex-shrink: 0;
    margin: var(--select-checkmark-margin);
}

.single {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: var(--select-checkmark-unselected-opacity);
    background: var(--select-checkmark-background);
    background-size: cover;
    border-radius: var(--select-checkmark-border-radius);
    width: var(--select-checkmark-size);
    height: var(--select-checkmark-size);

    &.selected {
        opacity: 1;
    }
}

.before {
    display: var(--select-checkmark-before-display);

    &.multiple {
        margin-right: var(--gap-s);
    }
}

.after {
    display: var(--select-checkmark-after-display);
}
