@import '../../themes/src/default.css';

:root {
    --badge-icon-bg-color: var(--color-light-bg-primary);
}

.component {
    @mixin accent_secondary_medium;

    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: var(--border-radius-pill);
    background-color: var(--color-light-bg-accent);
    color: var(--color-light-text-primary-inverted);
    overflow: hidden;
}

.s {
    height: 16px;
    min-width: 16px;
    padding: 0 var(--gap-2xs);
}

.m {
    height: 20px;
    min-width: 20px;
    padding: 0 6px;
}

.l {
    height: 24px;
    min-width: 24px;
    padding: 0 6px;
}

.icon {
    height: auto;
    min-width: 0;
    padding: 0;
    color: var(--color-light-graphic-positive);
    background-color: transparent;

    &.positive {
        color: var(--color-light-graphic-positive);
    }

    &.attention {
        color: var(--color-light-graphic-attention);
    }

    &.negative {
        color: var(--color-light-graphic-negative);
    }

    &.tertiary {
        color: var(--color-light-graphic-tertiary);
    }

    &.secondary {
        color: var(--color-light-graphic-secondary);
    }

    &.primary {
        color: var(--color-light-graphic-primary);
    }
}

.icon:before {
    position: absolute;
    z-index: -1;
    left: 16%;
    right: 16%;
    top: 16%;
    bottom: 16%;
    background-color: var(--badge-icon-bg-color);
    border-radius: var(--border-radius-pill);
    content: '';
}

.outline:before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dot {
    width: 8px;
    height: 8px;
    min-width: 0;
    padding: 0;
}

.isHidden {
    display: none;
}
