@import '../../../../themes/src/default.css';

.tickText {
    fill: var(--color-light-text-primary);
    font-size: 16px;
    line-height: 22px;
}

.circle {
    opacity: 0.3;
    fill: var(--color-dark-bg-primary);
}
