@define-mixin checkbox-click {
    /* theme */
    --checkbox-checked-bg-color: var(--color-light-graphic-positive);
    --checkbox-checked-border-color: transparent;
    --checkbox-checked-hover-bg-color: var(--color-light-graphic-positive-shade-10);
    --checkbox-checked-hover-border-color: transparent;
    --checkbox-checked-active-bg-color: var(--color-light-graphic-positive-shade-30);
    --checkbox-checked-active-border-color: transparent;
}
