@import '../../themes/src/default.css';

.collapse {
    font-family: var(--font-family);
}

.collapse *,
.collapse:before,
.collapse:after {
    box-sizing: border-box;
}

.content {
    position: relative;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    transition: height 0.2s;
}

.expandedContent {
    visibility: visible;
    height: auto;
    margin-bottom: 15px;
}

.link {
    outline: none;
}

.icon {
    vertical-align: text-bottom;
}
