@import '../../themes/src/default.css';

.collapse {
    font-family: var(--font-family);
}

.collapse *,
.collapse:before,
.collapse:after {
    box-sizing: border-box;
}

.content {
    position: relative;
    overflow: hidden;
}

.enter {
    height: 0;
}

.enterActive,
.enterDone {
    height: auto;
    transition: height 300ms ease-in-out;
}

.exit {
    height: auto;
}

.exitActive,
.exitDone {
    height: 0;
    transition: height 300ms ease-in-out;
}

.collapsed {
    height: 0;
}

.expandedLabel {
    margin-top: 15px;
}

.contentCase {
    overflow: hidden;
}
