@import '../../vars.css';

:root {
    --modal-closer-bg-color: var(--color-light-bg-primary-alpha-40);
}

.closer {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background: var(--modal-closer-bg-color);
    backdrop-filter: blur(10px);
    border-radius: 50px;
}

.sticky {
    position: sticky;
    top: calc(var(--modal-vertical-padding) * -1);
}
