@import '../../vars.css';

.closer {
    flex-shrink: 0;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 50px;
}

.left,
.right {
    position: sticky;
    top: calc(var(--modal-vertical-padding) * -1);
}

.right {
    margin-left: auto;
}

.fullscreen {
    top: 0;
}
