@import '../../vars.css';

.closer {
    width: 48px;
    height: 48px;
    background-image: var(--modal-closer-icon);
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    transition: opacity 0.2s ease-out;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }
}

.left,
.right {
    position: sticky;
    top: calc(var(--modal-vertical-padding) * -1);
}

.right {
    margin-left: auto;
}

.fullscreen {
    top: 0;
}
