@import '../../../../themes/src/default.css';
@import '../../../../vars/src/colors-indigo.css';

.component {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.header {
    @mixin headline_small;

    margin-bottom: var(--gap-2xl);
    color: var(--color-light-text-primary);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-2xl);
}

.hidden {
    display: none;
}

.smsComeLinkWrap {
    margin-top: var(--gap-2xl);
}

.smsComeLink {
    @mixin paragraph_primary_small;
}

.error {
    @mixin paragraph_primary_normal;

    margin-top: var(--gap-s);
    color: var(--color-light-text-negative);
}

.loaderWrap {
    display: flex;
    align-items: center;
}

.loaderText {
    @mixin paragraph_primary_normal;

    margin-left: var(--gap-s);
    color: var(--color-light-text-secondary);
}
