@import '../../vars.css';
@import '../../../../vars/src/index.css';

.component {
    display: flex;
    flex-direction: column;
}

.countdown {
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.15s ease;
}

.hidden {
    opacity: 0;
    max-height: 0;
}

.header {
    @mixin _confirmation-title;

    margin-bottom: var(--gap-3xl);
    color: var(--confirmation-title-color);
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.smsComeLinkWrap {
    margin-top: var(--gap-l);
}

.smsComeLink {
    @mixin paragraph_primary_small;
}

.error {
    @mixin paragraph_primary_small;

    margin-top: var(--gap-xs);
    color: var(--confirmation-error-color);
}

.loaderWrap {
    display: flex;
    align-items: center;
    margin: var(--gap-3xl) 0 var(--gap-xs);
}

.loaderText {
    @mixin _confirmation-text;

    margin-left: var(--gap-s);
    color: var(--confirmation-text-color);
}

.center {
    & .codeInput,
    & .loaderWrap {
        justify-content: center;
    }
}
