@import '../../vars.css';

.component {
    display: flex;
    flex-direction: column;
}

.header {
    @mixin title;

    margin-bottom: var(--gap-2xl);
    color: var(--confirmation-title-color);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-2xl);
}

.hidden {
    display: none;
}

.smsComeLinkWrap {
    margin-top: var(--gap-2xl);
}

.smsComeLink {
    @mixin text;
}

.error {
    @mixin text;

    margin-top: var(--gap-s);
    color: var(--confirmation-error-color);
}

.loaderWrap {
    display: flex;
    align-items: center;
}

.loaderText {
    @mixin text;

    margin-left: var(--gap-s);
    color: var(--confirmation-text-color);
}

.center {
    & .codeInput,
    & .loaderWrap {
        justify-content: center;
    }
}
