@import '../../themes/src/default.css';

.wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    outline: 0;
}

.component {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 72px);
    max-width: 600px;
    padding-top: var(--gap-2xl);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background: var(--color-light-bg-primary);
    overflow: auto;
    will-change: transform;
}

.marker {
    position: absolute;
    top: var(--gap-2xs);
    left: 50%;
    width: 36px;
    height: 4px;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: var(--color-light-graphic-neutral);
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 var(--gap-m);
    will-change: transform;
}

.actionButtonWrapper {
    position: sticky;
    bottom: 0;
    padding: var(--gap-2xl) var(--gap-m) var(--gap-3xl);
    background-color: var(--color-light-bg-primary);
}

.title {
    margin-bottom: var(--gap-xl);
    padding: 0 var(--gap-m);
}

.enter,
.appear {
    transform: translateY(100%);
}

.enterActive,
.appearActive {
    transform: translateY(0);
}

.exit {
    transform: translateY(0);
}

.exitActive,
.exitDone {
    transform: translateY(100%);
}
