@import '../../../themes/src/default.css';

.iconContainer {
    display: flex;
    transition: transform 0.15s ease-in-out;
}

.open {
    transform: var(--arrow-transform);
}

.component:not(.primary)[disabled] svg {
    opacity: 0.3;
}
