@import '../../themes/src/default.css';
@import '../../calendar/src/vars.css';

:root {
    --calendar-input-icon-color: var(--color-light-graphic-primary);
    --calendar-input-popover-border-color: var(--color-light-border-primary);
    --calendar-input-popover-border-radius: var(--border-radius-m);
}

.component {
    display: inline-block;
    outline: none;
    position: relative;
}

.block {
    width: 100%;
}

.calendarContainer {
    display: inline-block;
    box-sizing: border-box;
    box-shadow: var(--shadow-s);
    border: 1px solid var(--calendar-input-popover-border-color);
    border-radius: var(--calendar-input-popover-border-radius);
}

.calendarIcon {
    width: 24px;
    height: 24px;
    display: block;
    color: var(--calendar-input-icon-color);

    &:not(:only-child) {
        margin-right: var(--gap-2xs);
    }
}

.nativeInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    z-index: 1;

    &::-webkit-calendar-picker-indicator {
        display: none;
    }
    &::-webkit-inner-spin-button {
        display: none;
    }
}
