@import '../../../packages/themes/src/mixins/click.css';
@import '../../../packages/themes/src/mixins/site.css';
@import '../../../packages/themes/src/mixins/corp.css';
@import '../../../packages/themes/src/mixins/mobile.css';
@import '../../../packages/themes/src/mixins/default-inverted.css';
@import '../../../packages/themes/src/mixins/corp-inverted.css';

.tool {
    margin-top: auto;
    margin-bottom: auto;
}

.label {
    display: inline-block;
    margin-right: 8px;
    font-size: 13px;
}

body[data-theme='click'] {
    @mixin theme-click;
}

body[data-theme='site'] {
    @mixin theme-site;
}

body[data-theme='corp'] {
    @mixin theme-corp;
}

body[data-theme='mobile'] {
    @mixin theme-mobile;
}

body[data-theme='default-inverted'] {
    @mixin theme-default-inverted;
}

body[data-theme='corp-inverted'] {
    @mixin theme-corp-inverted;
}
