@import '../../../packages/themes/src/mixins/click.css';
@import '../../../packages/themes/src/mixins/site.css';
@import '../../../packages/themes/src/mixins/corp.css';
@import '../../../packages/themes/src/mixins/mobile.css';

.tool {
    margin-top: auto;
    margin-bottom: auto;
}

.select {
    background: red;
}

.click {
    @mixin theme-click;
}

.site {
    @mixin theme-site;
}

.corp {
    @mixin theme-corp;
}

.mobile {
    @mixin theme-mobile;
}
