@import '../../../../themes/src/default.css';

.virtualOptionsList {
    position: relative;
    overflow: auto;
    width: 100%;
    outline: none;
    padding: var(--gap-xs) 0;
}

.s {
    height: 240px;
}

.m {
    height: 280px;
}

.l {
    height: 340px;
}

.virtualRow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
