@import '../../../../themes/src/default.css';

.virtualOptionsList {
    overflow: auto;
    width: 100%;
    outline: none;
    padding-top: var(--select-options-list-top-padding);
    padding-bottom: var(--select-options-list-bottom-padding);
    box-sizing: border-box;
    position: relative;
}

.s {
    height: var(--select-options-list-s-height);
}

.m {
    height: var(--select-options-list-m-height);
}

.l {
    height: var(--select-options-list-l-height);
}

.virtualRow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
