@import '../../../../themes/src/default.css';
@import '../../vars.css';

.virtualOptionsList {
    overflow: auto;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    position: relative;
}

.s {
    height: var(--select-options-list-s-height);
}

.m {
    height: var(--select-options-list-m-height);
}

.l {
    height: var(--select-options-list-l-height);
}

.virtualRow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: var(--select-option-left-padding);
        right: var(--select-option-right-padding);
        top: 0;
        height: 1px;
        background: var(--select-option-divider-background);
        display: var(--select-option-divider-display);
    }

    &:first-child:before {
        display: none;
    }
}

.highlighted {
    &:before,
    & + .virtualRow:before {
        display: none;
    }
}
