@import '../../../../vars/src/index.css';

.field {
    cursor: pointer;
}

.field .contentWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: var(--gap-l) var(--gap-m) 18px;
    margin: var(--gap-2xs-neg);
}

.input {
    @mixin system_16-20_regular;
    flex-grow: 1;
    flex-basis: 50px;
    min-width: 50px;
    padding: 0;
    margin: var(--gap-2xs);
    background-color: transparent;
    outline: none;
    border: none;
}

.tag {
    padding: 0;
    padding-left: var(--gap-m);
    margin: var(--gap-2xs);
    cursor: default;

    &:active:not(:disabled) {
        background-color: var(--tag-background-color-checked);
        color: var(--tag-text-color-checked);
    }

    &:hover:not(:disabled):not(:active) {
        background-color: var(--tag-background-color-checked);
        color: var(--tag-text-color-checked);
    }

    & > span {
        width: 100%;
        height: 100%;
    }
}

.tagContentWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.tagCross {
    height: 100%;
    padding-right: var(--gap-xs);

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }
}

.focusVisible {
    @mixin focus-outline;
}

.placeholder {
    color: var(--color-light-text-secondary);
}

.addons {
    align-self: flex-start;
    padding-top: var(--gap-l);
}

.addons-size-l {
    padding-top: var(--gap-xl);
}
