@import '../../../../vars/src/index.css';

.component.xl .contentWrapper {
    padding: var(--gap-l) var(--gap-m);
}

.component.l .contentWrapper {
    padding: var(--gap-m) var(--gap-m);
}

.component.m .contentWrapper {
    padding: var(--gap-m) var(--gap-s);
}

.component.s .contentWrapper {
    padding: var(--gap-s) var(--gap-s);
}

.component.xl .contentWrapperVertical {
    padding-top: var(--gap-l);
    padding-bottom: var(--gap-l);
}

.component.l .contentWrapperVertical {
    padding-top: var(--gap-m);
    padding-bottom: var(--gap-m);
}

.component.m .contentWrapperVertical {
    padding-top: var(--gap-s);
    padding-bottom: var(--gap-s);
}

.component.s .contentWrapperVertical {
    padding-top: var(--gap-xs);
    padding-bottom: var(--gap-xs);
}

.component .contentWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: var(--gap-2xs-neg);

    &:not(.contentWrapperVertical):not(.hasLabel) {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.hasLabel {
        margin-top: var(--gap-xs);
        padding-bottom: var(--gap-xs);
    }

    &.hasTags.hasLabel {
        margin-top: var(--gap-m);
        padding-bottom: var(--gap-s);
    }
}

.component:hover .addons {
    opacity: 0.7;
}

.field {
    cursor: pointer;
}

.input {
    @mixin system_16-20_regular;
    flex-grow: 1;
    flex-basis: 50px;
    min-width: 50px;
    padding: 0;
    margin: var(--gap-2xs);
    background-color: transparent;
    outline: none;
    border: none;
    font-family: var(--font-family);
    color: var(--color-light-text-primary);

    &:disabled {
        color: var(--color-light-text-secondary);
    }

    &::placeholder {
        color: var(--color-light-text-secondary);
    }

    &:focus::placeholder {
        color: var(--color-light-text-tertiary);
    }
}

.block {
    min-width: 100%;
}

.focusVisible {
    @mixin focus-outline;
}

.placeholder {
    display: flex;
    align-items: center;
    min-height: 28px;
    padding-left: var(--gap-2xs);
    color: var(--color-light-text-tertiary);
}

.addons {
    align-self: flex-start;
    padding-top: var(--gap-s);
}

.addons-size-m {
    padding-top: var(--gap-m);
}

.addons-size-l {
    padding-top: var(--gap-l);
}

.addons-size-xl {
    padding-top: var(--gap-xl);
}

.component.s .label {
    top: 5px;
    left: 12px;
}

.component.m .label {
    top: 8px;
    left: 12px;
}

.component.l .label {
    top: 10px;
    left: 16px;
}

.component.xl .label {
    top: 14px;
    left: 16px;
}

.component .label {
    top: 14px;
    align-items: flex-start;
    height: auto;
    transform: none;
    font-size: 14px;
}
