@import '../../../vars/src/typography.css';

.component {
    margin: 0 0 var(--gap-m);
    padding: 0;
}

.primary-large {
    @mixin paragraph_primary_large;
}

.primary-normal {
    @mixin paragraph_primary_normal;
}

.primary-small {
    @mixin paragraph_primary_small;
}

.secondary-large {
    @mixin paragraph_secondary_large;
}

.secondary-normal {
    @mixin paragraph_secondary_normal;
}

.secondary-small {
    @mixin paragraph_secondary_small;
}

.bold {
    font-weight: bold;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: normal;
}
