@import '../../../themes/src/default.css';

:root {
    --text-paragraph-margin-bottom: 0 0 var(--gap-s);
}

.paragraph {
    margin: var(--text-paragraph-margin-bottom);
    padding: 0;
}

.primary-large {
    @mixin paragraph_primary_large;
}

.primary-medium {
    @mixin paragraph_primary_medium;
}

.primary-small {
    @mixin paragraph_primary_small;
}

.secondary-large {
    @mixin paragraph_secondary_large;
}

.secondary-medium {
    @mixin paragraph_secondary_medium;
}

.secondary-small {
    @mixin paragraph_secondary_small;
}

.component {
    @mixin paragraph_component;
}

.caps {
    @mixin paragraph_caps;
}

.bold {
    font-weight: bold;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: normal;
}

.monospace {
    font-variant-numeric: tabular-nums;
}
