@import './vars.css';

.wrapper {
    padding-top: var(--modal-vertical-padding);
    padding-bottom: var(--modal-vertical-padding);
}

.component {
    border-radius: var(--modal-border-radius);
}

.fullscreen {
    padding-top: 0;
    padding-bottom: 0;

    & .component {
        flex: 1;
        border-radius: 0;
    }
}

.s {
    width: var(--modal-s-width);
}

.m {
    width: var(--modal-m-width);
}

.l {
    width: var(--modal-l-width);
}
