@import './vars.css';

.component {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: auto;
    outline: none;
    background: var(--color-light-bg-primary);
}

/* WRAPPER */

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: var(--modal-z-index);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 0;
    background-color: var(--modal-backdrop-visible-background);

    padding-top: var(--modal-vertical-padding);
    padding-bottom: var(--modal-vertical-padding);
}

.hidden {
    display: none;
}

/* FULLSCREEN */

.wrapperFullscreen {
    padding: 0;
    overflow: hidden;
}

.fullscreen {
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    will-change: transform;
    border-radius: 0;
    overflow: auto;
}

.hideBackdrop {
    background-color: var(--modal-backdrop-hidden-background);
}
