@import './vars.css';

.component {
    position: relative;
    box-sizing: border-box;
    width: 600px;
    display: flex;
    flex: 0 0 auto;

    border-radius: calc(var(--modal-border-radius) * 2);
    padding: var(--gap-xl) var(--gap-4xl) calc(var(--gap-xl) + 6px);

    border: 0;
    outline: none;
    background: var(--color-dark-bg-primary-inverted);
    overflow: auto;
    margin: auto;
}

.s {
    width: 476px;
    padding: var(--gap-l) var(--gap-3xl) calc(var(--gap-l) + 6px);
}

.l {
    width: 800px;
    padding: var(--gap-2xl) var(--gap-5xl) calc(var(--gap-2xl) + 6px);
}

.fullscreen {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: var(--gap-3xl) var(--gap-5xl) calc(var(--gap-3xl) + 6px);
    border-radius: 0;
}

.small {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    transform: none;
}

.wrapper {
    padding-top: var(--gap-xl);
    padding-bottom: var(--gap-xl);
}

.noPaddings {
    padding: 0;
}

.flexContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    outline: none;
}

.flexContainerSmall {
    height: 100%;
}

.content {
    flex: 1 1 auto;
    overflow: auto;
}

.contentSmall {
    margin: 0;
    padding: calc(var(--gap-4xl) + var(--gap-2xs)) var(--gap-m) var(--gap-l);
}

.footer {
    flex: 0 0 auto;
    margin: var(--gap-xl) 0 0;
    border-top: 1px solid transparent;
    transition: border-top 0.4s;
}

.footerSmall {
    margin: 0;
    padding: var(--gap-s) var(--gap-m);
}

.footerHighlight {
    border-top: 1px solid;
    border-color: var(--color-static-quinary-dark);
}

.closerWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 48px;
    transition: border-bottom 0.4s;
}

.small .closerWrapper {
    background: rgba(255, 255, 255, 0.95);
}

.closerWrapperHighlight {
    border-bottom: 1px solid;
    border-color: var(--color-static-quinary-dark);
}

.closer {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    transition: opacity 0.1s ease-out;
    cursor: pointer;
}

.closerSmall {
    right: auto;
    left: 0;
}

.appear,
.enter {
    opacity: 0;
    transform: translateY(15px);
}

.appearActive,
.enterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.exit {
    opacity: 1;
    transform: translateY(0);
}

.exitActive,
.exitDone {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 200ms ease-out, transform 200ms ease-out;
}
