@import './vars.css';

.header-s {
    padding: 0 var(--gap-m) 0;
}

.content-s {
    padding: 0 var(--gap-m) 0;
}

.footer-s {
    padding: var(--gap-m);
}

.header-m {
    padding: 0 var(--gap-2xl) 0;
}

.content-m {
    padding: 0 var(--gap-2xl) 0;
}

.footer-m {
    padding: var(--gap-m) var(--gap-2xl) var(--gap-2xl);
}

.header {
    min-height: auto;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: var(--gap-4xl);
    padding-left: 0;
}
