@import '../../themes/src/default.css';

:root {
    --modal-border-radius: var(--border-radius-m);
    --modal-vertical-padding: var(--gap-3xl);
    --modal-header-background: var(--color-light-bg-primary);
    --modal-footer-background: var(--color-light-bg-primary);

    /* sizes */
    --modal-s-width: 476px;
    --modal-m-width: 600px;
    --modal-l-width: 800px;
    --modal-header-min-height: 72px;

    /* paddings */
    --modal-s-header-paddings: 0 0 0 var(--gap-4xl);
    --modal-m-header-paddings: 0 0 0 var(--gap-4xl);
    --modal-l-header-paddings: 0 0 0 var(--gap-6xl);
    --modal-s-content-paddings: 0 var(--gap-4xl) 0;
    --modal-m-content-paddings: 0 var(--gap-4xl) 0;
    --modal-l-content-paddings: 0 var(--gap-6xl) 0;
    --modal-s-footer-paddings: var(--gap-xl) var(--gap-4xl) var(--gap-4xl);
    --modal-m-footer-paddings: var(--gap-xl) var(--gap-4xl) var(--gap-4xl);
    --modal-l-footer-paddings: var(--gap-xl) var(--gap-6xl) var(--gap-6xl);
    --modal-content-no-footer-bottom-padding: var(--gap-3xl);
    --modal-content-no-header-top-padding: var(--gap-2xl);

    /* closer */
    --modal-closer-icon: url('https://alfabank.st/icons/glyph_cross_m.svg');

    /* scroll */
    --modal-header-highlight-box-shadow: var(--shadow-s);
    --modal-header-highlight-background: var(--color-light-bg-primary);
    --modal-footer-highlight-box-shadow: var(--shadow-s-up);
    --modal-footer-highlight-background: var(--color-light-bg-primary);
}
