@import '../../../packages/vars/src/colors-indigo.css';
@import '../../../packages/vars/src/colors-addons.css';

.status {
    /* position: absolute;
    right: 0;
    top: 8px; */
    margin: 4px 0 0;
}

.link {
    display: inline-block;
    padding: var(--gap-xs) var(--gap-m);
    @mixin paragraph_caps;
    font-family: var(--font-family);
    color: var(--color-light-text-primary-inverted);
    text-decoration: none;

    /* TODO */

    /* background-color: var(--color-static-graphic-sand); */
    background-color: #007aff;

    border-radius: 99px;
}
