@import '../../../packages/vars/src/colors-indigo.css';
@import '../../../packages/vars/src/colors-addons.css';

.status {
    margin: var(--gap-xs) 0 0;
}

.link {
    display: inline-block;
    padding: var(--gap-xs) var(--gap-m);
    @mixin paragraph_caps;
    font-family: var(--font-family);
    color: var(--color-light-text-primary-inverted);
    text-decoration: none;
    border-radius: var(--border-radius-pill);
}

.stage1 {
    background-color: var(--color-light-graphic-tertiary);
}

.stage2 {
    background-color: var(--color-light-graphic-link);
}

.stage3 {
    /* background-color: #13a463; */
    background: linear-gradient(to right, var(--color-light-graphic-link) 0%, #13a463 100%);
}
