.tag {
    padding: 0;
    padding-left: var(--gap-m);
    margin: var(--gap-2xs);
    cursor: default;

    &:active:not(:disabled) {
        background-color: var(--tag-background-color-checked);
        color: var(--tag-text-color-checked);
    }

    &:hover:not(:disabled):not(:active) {
        background-color: var(--tag-background-color-checked);
        color: var(--tag-text-color-checked);
    }

    & > span {
        width: 100%;
        height: 100%;
    }
}

.tagNoClose {
    padding-right: var(--gap-m);
}

.tagContentWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.tagCross {
    padding-right: var(--gap-xs);
    height: 100%;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }

    & svg {
        height: 100%;
    }
}
