@define-mixin button-click {
    /* primary */
    --button-primary-base-bg-color: var(--color-light-bg-accent);
    --button-primary-hover-bg-color: var(--color-light-bg-accent-shade-10);
    --button-primary-active-bg-color: var(--color-light-bg-accent-shade-30);
    --button-primary-disabled-bg-color: var(--color-light-bg-accent-alpha-30);

    /* secondary */
    --button-secondary-base-bg-color: var(--color-light-bg-neutral);
    --button-secondary-hover-bg-color: var(--color-light-bg-neutral-shade-10);
    --button-secondary-active-bg-color: var(--color-light-bg-neutral-shade-30);
    --button-secondary-disabled-bg-color: var(--color-light-bg-neutral-alpha-30);
}
