@import '../../../../vars/src/index.css';

@define-mixin button-click {
    /* core vars */
    --color-light-bg-accent: #ef3124;
    --color-light-bg-neutral: #dbdee1;

    /* primary */
    --button-primary-base-bg-color: var(--color-light-bg-accent);
    --button-primary-hover-bg-color: color-mod(var(--color-light-bg-accent) shade(10%));
    --button-primary-active-bg-color: color-mod(var(--color-light-bg-accent) shade(30%));
    --button-primary-disabled-bg-color: color-mod(var(--color-light-bg-accent) alpha(30%));

    /* secondary */
    --button-secondary-base-bg-color: var(--color-light-bg-neutral);
    --button-secondary-hover-bg-color: color-mod(var(--color-light-bg-neutral) shade(10%));
    --button-secondary-active-bg-color: color-mod(var(--color-light-bg-neutral) shade(30%));
    --button-secondary-disabled-bg-color: color-mod(var(--color-light-bg-neutral) alpha(30%));
}
