@import '../../../../vars/src/colors-indigo.css';

@define-mixin button-mobile {
    /* core vars */
    --color-light-bg-secondary: #f3f4f5;
    --button-border-radius: 12px;

    /* primary TODO secret color from the future */
    --button-primary-base-bg-color: #2b2b2b;
    --button-primary-hover-bg-color: color-mod(#2b2b2b shade(10%));
    --button-primary-active-bg-color: color-mod(#2b2b2b shade(30%));
    --button-primary-disabled-bg-color: color-mod(#2b2b2b alpha(30%));

    /* secondary */
    --button-secondary-base-bg-color: var(--color-light-bg-secondary);
    --button-secondary-hover-bg-color: color-mod(var(--color-light-bg-secondary) shade(10%));
    --button-secondary-active-bg-color: color-mod(var(--color-light-bg-secondary) shade(30%));
    --button-secondary-disabled-bg-color: color-mod(var(--color-light-bg-secondary) alpha(30%));
}
