@import '../../../../themes/src/default.css';

@define-mixin confirmation-click {
    /* core vars */
    --color-light-bg-secondary: #f3f4f5;
    --font-family-styrene: 'Styrene UI', system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', Helvetica, sans-serif;

    /* theme */
    --confirmation-title-font-size: 24px;
    --confirmation-title-line-height: 32px;
    --confirmation-title-font-weight: 500;
    --confirmation-title-font-family: var(--font-family-styrene);
    --confirmation-title-font-feature-settings: 'ss01';
    --confirmation-input-font-size: 24px;
    --confirmation-input-font-weight: 400;
    --confirmation-input-font-family: var(--font-family-styrene);
    --confirmation-input-error-bg-color: var(--color-light-bg-secondary);
}
