@define-mixin confirmation-intranet {
    /* theme */
    --confirmation-title-font-size: 18px;
    --confirmation-title-line-height: 22px;
    --confirmation-text-font-size: 14px;
    --confirmation-text-line-height: 20px;
}
