@import '../../../../themes/src/default.css';

.componentWrapper {
    position: relative;
    display: inline-flex;
}

.component {
    display: flex;
    position: relative;
    color: var(--color-light-text-secondary-transparent);
}

.border {
    stroke: var(--color-light-specialbg-component);
    stroke-width: 1px;
    fill: transparent;
}

.svg {
    position: relative;
}

.children {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & svg {
        width: 100%;
        height: 100%;
    }
}

.addons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.size_48 {
    & .children {
        width: 24px;
        height: 24px;
    }

    & .addons {
        width: 18px;
        height: 18px;
    }

    & .topAddons {
        top: -4px;
        right: -4px;
    }

    & .bottomAddons {
        bottom: -4px;
        right: -4px;
    }
}

.size_64 {
    & .children {
        width: 32px;
        height: 32px;
    }

    & .addons {
        width: 18px;
        height: 18px;
    }

    & .topAddons {
        top: -2px;
        right: -2px;
    }

    & .bottomAddons {
        bottom: -2px;
        right: -2px;
    }
}

.size_80 {
    & .children {
        width: 48px;
        height: 48px;
    }

    & .addons {
        width: 24px;
        height: 24px;
    }

    & .topAddons {
        top: -4px;
        right: -4px;
    }

    & .bottomAddons {
        bottom: -4px;
        right: -4px;
    }
}

.size_128 {
    & .children {
        width: 60px;
        height: 60px;
    }

    & .addons {
        width: 40px;
        height: 40px;
    }

    & .topAddons {
        top: -8px;
        right: -8px;
    }

    & .bottomAddons {
        bottom: -8px;
        right: -8px;
    }
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
