.fade {
    transition-property: opacity;
    transition-timing-function: ease-out;
}

.hidden {
    display: none;
}

.exited {
    opacity: 0;
}

.entering {
    opacity: 1;
}

.entered {
    opacity: 1;
}

.exiting {
    opacity: 0;
}
