@import '../../themes/src/default.css';

:root {
    --dropzone-active-bg: transparent;
    --dropzone-border-radius: var(--border-radius-s);
}

.component {
    display: inline-block;
    position: relative;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    border-radius: var(--dropzone-border-radius);
    border: 2px dashed var(--color-light-border-secondary-inverted);
}

.disabled {
    cursor: var(--disabled-cursor);
}

.component:not(.disabled):hover {
    background-color: var(--dropzone-active-bg);
}

.block {
    width: 100%;
}

.dragOver {
    background-color: var(--dropzone-active-bg);
}

.error {
    border-color: var(--color-light-border-accent);
}
