@import '../../themes/src/default.css';

:root {
    /* misc */
    --button-font-family: var(--font-family);
    --button-border-radius: var(--border-radius-m);
    --button-active-transform: none;
    --button-font-weight: 500;
}

.component {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0 var(--gap-xl);
    line-height: 20px;
    font-weight: var(--button-font-weight);
    font-family: var(--font-family);
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    border-radius: var(--button-border-radius);
    outline: none;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease, border 0.2s ease, color 0.2s ease, transform 0.12s ease;
    box-sizing: border-box;
    will-change: transform;

    &:active {
        transform: var(--button-active-transform);
    }
}

.focused {
    @mixin focus-outline;
}

.loading .text,
.loading .addons {
    opacity: 0;
}

.stretchText {
    flex-grow: 1;
}

a.loading {
    pointer-events: none;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Size */

.xxs {
    min-width: 80px;
    min-height: var(--size-xs-height);
    padding: 0 var(--gap-m);
    font-size: 14px;

    &.iconOnly {
        min-width: var(--size-xs-height);
    }
}

.xs {
    min-width: 80px;
    min-height: 40px;
    padding: 0 var(--gap-l);
    font-size: 14px;

    &.iconOnly {
        min-width: 40px;
    }
}

.s {
    min-width: 104px;
    min-height: var(--size-s-height);
    font-size: 16px;

    &.iconOnly {
        min-width: var(--size-s-height);
    }
}

.m {
    min-width: 128px;
    min-height: var(--size-m-height);
    padding: 0 28px;
    font-size: 16px;

    &.iconOnly {
        min-width: var(--size-m-height);
    }
}

.l {
    min-width: 160px;
    min-height: var(--size-l-height);
    padding: 0 var(--gap-2xl);
    font-size: 18px;
    line-height: 24px;

    &.iconOnly {
        min-width: var(--size-l-height);
    }
}

.xl {
    min-width: 160px;
    min-height: var(--size-xl-height);
    padding: 0 36px;
    font-size: 18px;
    line-height: 24px;

    &.iconOnly {
        min-width: var(--size-xl-height);
    }
}

.withRightAddons {
    &.xxs {
        padding-right: var(--gap-s);
    }

    &.xs {
        padding-right: var(--gap-m);
    }

    &.s {
        padding-right: var(--gap-l);
    }

    &.m {
        padding-right: var(--gap-xl);
    }

    &.l {
        padding-right: 28px;
    }

    &.xl {
        padding-right: var(--gap-2xl);
    }
}

.withLeftAddons {
    &.xxs {
        padding-left: var(--gap-s);
    }

    &.xs {
        padding-left: var(--gap-m);
    }

    &.s {
        padding-left: var(--gap-l);
    }

    &.m {
        padding-left: var(--gap-xl);
    }

    &.l {
        padding-left: 28px;
    }

    &.xl {
        padding-left: var(--gap-2xl);
    }
}

.link {
    min-width: 0;
}

.ghost {
    min-width: 0;
    min-height: 0;
    padding: 0;
    border: none;
    appearance: none;

    &.iconOnly {
        min-width: 0;
    }
}

/* Disabled */

.component:disabled {
    cursor: var(--disabled-cursor);
}

/* Addons */

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: 0;

    &:first-child {
        margin-right: var(--gap-2xs);
    }

    &:last-child {
        margin-left: var(--gap-2xs);
    }
}

.s,
.m {
    & .addons:first-child {
        margin-right: var(--gap-xs);
    }

    & .addons:last-child {
        margin-left: var(--gap-xs);
    }
}

.l,
.xl {
    & .addons:first-child {
        margin-right: var(--gap-s);
    }

    & .addons:last-child {
        margin-left: var(--gap-s);
    }
}

.iconOnly {
    padding: 0;
}

/* Block */

.block {
    display: flex;
    width: 100%;
}

/* Nowrap */

.nowrap {
    white-space: nowrap;
}

/* IE min-height fix */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .component:after {
        min-height: inherit;
        font-size: 0;
        content: '';
    }
}
