@import '../../themes/src/default.css';

:root {
    /* primary */
    --button-primary-base-bg-color: var(--color-red-brand-85);
    --button-primary-hover-bg-color: color-mod(
        var(--button-primary-base-bg-color) blenda(black 7%)
    );
    --button-primary-active-bg-color: color-mod(
        var(--button-primary-base-bg-color) blenda(black 15%)
    );
    --button-primary-disabled-bg-color: var(--color-red-brand-30);

    /* secondary */
    --button-secondary-base-bg-color: var(--color-dark-indigo-07);
    --button-secondary-hover-bg-color: color-mod(
        var(--button-secondary-base-bg-color) blenda(black 7%)
    );
    --button-secondary-active-bg-color: color-mod(
        var(--button-secondary-base-bg-color) blenda(black 15%)
    );
    --button-secondary-disabled-bg-color: var(--color-dark-indigo-07);

    /* ghost */
    --button-ghost-base-color: var(--color-dark-indigo);
    --button-ghost-hover-color: var(--color-dark-indigo);
    --button-ghost-active-color: var(--color-dark-indigo);
    --button-ghost-disabled-color: var(--color-dark-indigo-30);

    /* font */
    --button-font-weight: 500;
    --button-font-family: var(--font-family);

    /* focus */
    --button-outline: 2px solid var(--focus-color);
    --button-outline-offset: 2px;
}

.component {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0 24px;
    line-height: 1.2;
    font-weight: var(--button-font-weight);
    font-family: var(--font-family);
    text-decoration: none;
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius);
    outline: none;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
    position: relative;
}

.focused {
    @mixin focus-outline;
}

.loading .text,
.loading .addons {
    opacity: 0;
}

.loader {
    position: absolute;
}

/* Size */

.xs {
    min-width: 80px;
    min-height: 32px;
    padding: 0 12px;
    font-size: 14px;

    &.iconOnly {
        min-width: 32px;
    }
}

.s {
    min-width: 104px;
    min-height: 48px;
    font-size: 16px;

    &.iconOnly {
        min-width: 48px;
    }
}

.m {
    min-width: 128px;
    min-height: 56px;
    font-size: 16px;

    &.iconOnly {
        min-width: 56px;
    }
}

.l {
    min-width: 160px;
    min-height: 68px;
    padding: 0 32px;
    font-size: 18px;

    &.iconOnly {
        min-width: 68px;
    }
}

/* Type */

.primary {
    color: var(--color-white);
    background-color: var(--button-primary-base-bg-color);

    &:hover {
        background-color: var(--button-primary-hover-bg-color);
    }

    &:active {
        background-color: var(--button-primary-active-bg-color);
    }
}

.secondary {
    color: var(--color-dark-indigo);
    background-color: var(--button-secondary-base-bg-color);

    &:hover {
        background-color: var(--button-secondary-hover-bg-color);
    }

    &:active {
        background-color: var(--button-secondary-active-bg-color);
    }
}

.outlined {
    color: var(--color-dark-indigo);
    background-color: transparent;
    border: 1px solid var(--color-dark-indigo-60);

    &:hover {
        background-color: var(--color-dark-indigo-07);
    }

    &:active {
        background-color: color-mod(var(--color-dark-indigo-07) blenda(black 7%));
    }
}

.link {
    min-width: 0;
    color: var(--color-dark-indigo);
    background-color: transparent;

    &:hover {
        background-color: var(--color-dark-indigo-07);
    }

    &:active {
        background-color: color-mod(var(--color-dark-indigo-07) blenda(black 7%));
    }
}

.ghost {
    min-width: 0;
    min-height: 0;
    padding: 0;
    color: var(--button-ghost-base-color);
    border: none;
    background-color: transparent;
    appearance: none;

    &:hover {
        color: var(--button-ghost-hover-color);
    }

    &:active {
        color: var(--button-ghost-active-color);
    }

    &.iconOnly {
        min-width: 0;
    }
}

/* Disabled */

.component:disabled {
    cursor: initial;

    &.primary {
        background-color: var(--button-primary-disabled-bg-color);

        &.loading {
            background-color: var(--button-primary-base-bg-color);
        }
    }

    &.secondary {
        color: var(--color-dark-indigo-30);
        background-color: var(--button-secondary-disabled-bg-color);

        &.loading {
            color: var(--color-dark-indigo);
            background-color: var(--button-secondary-base-bg-color);
        }
    }

    &.outlined {
        color: var(--color-dark-indigo-30);
        background-color: transparent;
        border-color: var(--color-dark-indigo-10);

        &.loading {
            color: var(--color-dark-indigo);
            border-color: var(--color-dark-indigo-60);
        }
    }

    &.link {
        color: var(--color-dark-indigo-30);
        background-color: transparent;

        &.loading {
            color: var(--color-dark-indigo);
        }
    }

    &.ghost {
        color: var(--button-ghost-disabled-color);

        &.loading {
            color: var(--button-ghost-base-color);
        }
    }
}

/* Addons */

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.addons:first-child {
    margin: 0 12px 0 0;
}

.addons:last-child {
    margin: 0 0 0 12px;
}

.addons:only-child {
    margin: 0;
}

.iconOnly {
    padding: 0;
}

/* Block */

.block {
    display: block;
    width: 100%;
}
