:root {
    --bottom-sheet-closer-bg-color: var(--color-light-bg-primary-inverted-alpha-3);
}

.closer {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-light-graphic-primary);
}

.button {
    background: var(--bottom-sheet-closer-bg-color);
    backdrop-filter: blur(10px);
    border-radius: 50px;
}
