@import '../../themes/src/default.css';

:root {
    --popover-border-color: transparent;
    --popover-z-index: 2;
}

.component {
    background-color: transparent;
    z-index: var(--popover-z-index);
}

.inner {
    position: relative;
    background-color: var(--color-light-bg-primary);
    box-shadow: var(--shadow-l);
    border: 1px solid var(--popover-border-color);
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
    box-sizing: border-box;
    will-change: transform;
}

.arrow:after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color-light-bg-primary);
    border: 1px solid var(--popover-border-color);
    transform: rotate(45deg);
}

.component[data-popper-placement='left'] .arrow,
.component[data-popper-placement='left-start'] .arrow,
.component[data-popper-placement='left-end'] .arrow {
    right: 5px;

    &:after {
        top: -4px;
        border-bottom: none;
        border-left: none;
    }
}

.component[data-popper-placement='right'] .arrow,
.component[data-popper-placement='right-start'] .arrow,
.component[data-popper-placement='right-end'] .arrow {
    left: -6px;

    &:after {
        top: -4px;
        border-top: none;
        border-right: none;
    }
}

.component[data-popper-placement='top'] .arrow,
.component[data-popper-placement='top-start'] .arrow,
.component[data-popper-placement='top-end'] .arrow {
    bottom: 5px;

    &:after {
        left: -4px;
        border-top: none;
        border-left: none;
    }
}

.component[data-popper-placement='bottom'] .arrow,
.component[data-popper-placement='bottom-start'] .arrow,
.component[data-popper-placement='bottom-end'] .arrow {
    top: -6px;

    &:after {
        left: -4px;
        border-bottom: none;
        border-right: none;
    }
}

.enter .inner {
    opacity: 0;
    transform: scale(0.98);
}

.enterActive .inner {
    opacity: 1;
    transform: scale(1);
}

.exit .inner {
    opacity: 1;
    transform: scale(1);
}

.exitActive .inner {
    opacity: 0;
    transform: scale(0.98);
}
