@import '../../../../themes/src/default.css';

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    & *:last-child() {
        padding-top: var(--gap-2xs);
    }
}

.filenameHead {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.filenameContainer {
    overflow: hidden;
    display: inline-flex;
}

.description {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
