@import '../../../../themes/src/default.css';
@import '../../vars.css';

.option {
    @mixin system_16-20_regular;

    display: flex;
    align-items: center;
    padding-left: var(--select-option-left-padding);
    padding-right: var(--select-option-right-padding);
    transition: background-color 0.2s ease;
    background: var(--select-option-background);
    color: var(--select-option-color);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;

    &:not(.disabled):active {
        background: var(--select-option-active-background);
        color: var(--select-option-active-color);
    }

    &:before {
        content: '';
        position: absolute;
        left: var(--select-option-left-padding);
        right: var(--select-option-right-padding);
        top: 0;
        height: 1px;
        background: var(--select-option-divider-background);
        display: var(--select-option-divider-display);
        transition: opacity 0.2s ease;
    }

    &:first-child:before {
        display: none;
    }
}

.s {
    min-height: 48px;
}

.m {
    min-height: 56px;
}

.l {
    min-height: 64px;
}

.xl {
    min-height: 72px;
}

.l,
.xl {
    padding-left: var(--select-option-l-left-padding);
    padding-right: var(--select-option-l-right-padding);

    &:before {
        left: var(--select-option-l-left-padding);
        right: var(--select-option-l-right-padding);
    }
}

.selected {
    background: var(--select-option-selected-background);
    color: var(--select-option-selected-color);
    cursor: default;
}

.highlighted {
    background: var(--select-option-hover-background);
    color: var(--select-option-hover-color);

    &:before,
    & + .option:before {
        opacity: 0;
    }
}

.disabled {
    cursor: var(--disabled-cursor);
    background: var(--select-option-disabled-background);
    color: var(--select-option-disabled-color);
}

/* IE min-height fix */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .option:after {
        min-height: inherit;
        font-size: 0;
        content: '';
    }
}
