@import '../../../themes/src/default.css';
@import '../margins.module.css';

.styrene-xlarge {
    @mixin headline_xlarge;
}

.styrene-large {
    @mixin headline_large;
}

.styrene-medium {
    @mixin headline_medium;
}

.styrene-small {
    @mixin headline_small;
}

.styrene-xsmall {
    @mixin headline_xsmall;
}

.system-xlarge {
    @mixin headline-system_xlarge;
}

.system-large {
    @mixin headline-system_large;
}

.system-medium {
    @mixin headline-system_medium;
}

.system-small {
    @mixin headline-system_small;
}

.system-xsmall {
    @mixin headline-system_xsmall;
}

.margins-xlarge {
    @mixin margin-large;
}

.margins-large {
    @mixin margin-medium;
}

.margins-medium {
    @mixin margin-medium;
}

.margins-small {
    @mixin margin-small;
}

.margins-xsmall {
    @mixin margin-small;
}
