@import '../../themes/src/default.css';

.component {
    display: inline-block;
    min-width: 240px;
    position: relative;
}

.block {
    width: 100%;
    min-width: auto;
}

.fieldWrapper {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    outline: none;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.popover {
    min-width: 100%;
}

.menuWrapper {
    width: 100%;
    outline: none;
}
