:root {
    --select-error-color: var(--color-light-text-negative);
    --select-arrow-background: url('https://alfabank.st/icons/icon_chevron-for-select-down_m_black.svg');
    --select-arrow-hover-opacity: 0.7;

    /* options list */

    --select-options-list-border-radius: 0 0 4px 4px;
    --select-options-list-box-shadow: var(--shadow-s);
    --select-options-list-offset: 0;
    --select-options-list-top-padding: 0;
    --select-options-list-bottom-padding: 0;
    --select-options-list-empty-placeholder-color: var(--color-light-text-secondary);
    --select-option-divider-display: none;
    --select-option-divider-background: var(--color-light-border-primary);

    /* option */

    --select-option-left-padding: var(--gap-s);
    --select-option-right-padding: var(--gap-s);
    --select-option-l-left-padding: var(--gap-m);
    --select-option-l-right-padding: var(--gap-m);
    --select-option-background: var(--color-light-bg-primary);
    --select-option-selected-background: var(--color-light-bg-primary);
    --select-option-hover-background: var(--color-light-bg-secondary);
    --select-option-active-background: var(--color-light-bg-tertiary);
    --select-option-disabled-background: var(--color-light-bg-primary);
    --select-option-color: var(--color-light-text-primary);
    --select-option-selected-color: var(--color-light-text-primary);
    --select-option-hover-color: var(--color-light-text-primary);
    --select-option-active-color: var(--color-light-text-primary);
    --select-option-disabled-color: var(--color-light-text-secondary);

    /* checkmark */

    --select-checkmark-margin: 0 var(--gap-xs) 0 0;
    --select-checkmark-size: 4px;
    --select-checkmark-order: 0;
    --select-checkmark-unselected-opacity: 0;
    --select-checkmark-background: var(--color-light-graphic-primary);
    --select-checkmark-border-radius: var(--border-radius-circle);

    /* optgroup */

    --select-optgroup-color: var(--color-light-text-tertiary);
    --select-optgroup-background: var(--color-light-bg-primary);
    --select-optgroup-left-padding: var(--gap-m);
    --select-optgroup-right-padding: var(--gap-m);
    --select-optgroup-l-left-padding: var(--gap-l);
    --select-optgroup-l-right-padding: var(--gap-l);
}
