@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    width: 100%;
    outline: none;

    & > div:first-child {
        cursor: pointer;
    }
}

/* TODO: Заюзать переменные из инпута */
.placeholder {
    color: var(--color-light-text-secondary);
}

.hasLabel .placeholder {
    color: var(--color-light-text-tertiary);
}

.contentWrapper {
    @mixin system_16-20_regular;

    color: var(--color-light-text-primary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.value {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.disabled > div:first-child {
    cursor: var(--select-cursor-disabled);
}

.focusVisible > div:first-child {
    @mixin focus-outline;
}
