.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 8px 0 0;
}

.row:first-child {
    margin-top: 0;
}

.col {
    flex: 1 1 auto;
    margin: 0 8px 0 0;
}

.col:last-child {
    margin-right: 0;
}
