.appear,
.enter {
    background-color: var(--modal-backdrop-hidden-background);
}

.appearActive,
.enterActive {
    background-color: var(--modal-backdrop-visible-background);
    transition: background-color 200ms ease-in;
}

.exit {
    background-color: var(--modal-backdrop-visible-background);
}

.exitActive {
    background-color: var(--modal-backdrop-hidden-background);
    transition: background-color 200ms ease-out;
}
