@import '../../themes/src/default.css';

:root {
    /* primary */
    --icon-button-primary-base-color: var(--color-light-graphic-primary);
    --icon-button-primary-hover-color: var(--color-light-graphic-primary-tint-30);
    --icon-button-primary-active-color: var(--color-light-graphic-primary-tint-50);
    --icon-button-primary-disabled-color: var(--color-light-graphic-primary-alpha-30);

    /* secondary */
    --icon-button-secondary-base-color: var(--color-light-graphic-secondary);
    --icon-button-secondary-hover-color: var(--color-light-graphic-secondary-shade-30);
    --icon-button-secondary-active-color: var(--color-light-graphic-secondary-shade-50);
    --icon-button-secondary-disabled-color: var(--color-light-graphic-secondary-alpha-30);

    /* transparent */
    --icon-button-transparent-base-color: var(--color-light-graphic-primary-alpha-30);
    --icon-button-transparent-hover-color: var(--color-light-graphic-primary-alpha-40);
    --icon-button-transparent-active-color: var(--color-light-graphic-primary-alpha-50);
    --icon-button-transparent-disabled-color: var(--color-light-graphic-primary-alpha-40);

    /* negative */
    --icon-button-negative-base-color: var(--color-light-graphic-negative);
    --icon-button-negative-hover-color: var(--color-light-graphic-negative-tint-30);
    --icon-button-negative-active-color: var(--color-light-graphic-negative-tint-50);
}

.primary {
    color: var(--icon-button-primary-base-color);

    &:hover {
        color: var(--icon-button-primary-hover-color);
    }

    &:active {
        color: var(--icon-button-primary-active-color);
    }
}

.secondary {
    color: var(--icon-button-secondary-base-color);

    &:hover {
        color: var(--icon-button-secondary-hover-color);
    }

    &:active {
        color: var(--icon-button-secondary-active-color);
    }
}

.transparent {
    color: var(--icon-button-transparent-base-color);

    &:hover {
        color: var(--icon-button-transparent-hover-color);
    }

    &:active {
        color: var(--icon-button-transparent-active-color);
    }
}

.negative {
    color: var(--icon-button-negative-base-color);

    &:hover {
        color: var(--icon-button-negative-hover-color);
    }

    &:active {
        color: var(--icon-button-negative-active-color);
    }
}
