@import '../../themes/src/default.css';

:root {
    --icon-button-xxs-size: 24px;
    --icon-button-xs-size: 32px;
    --icon-button-s-size: 48px;
}

.xxs {
    width: var(--icon-button-xxs-size);
    height: var(--icon-button-xxs-size);
}

.xs {
    width: var(--icon-button-xs-size);
    height: var(--icon-button-xs-size);
}

.s {
    width: var(--icon-button-s-size);
    height: var(--icon-button-s-size);
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    max-width: 100%;
    max-height: 100%;
}

/* Для иконок с заливкой (icons-classic) */
.icon *[fill-rule] {
    fill: currentColor;
}
