@import '../../themes/src/default.css';

:root {
    /* primary */
    --icon-button-inverted-primary-base-color: var(--color-light-graphic-primary-inverted);
    --icon-button-inverted-primary-hover-color: color-mod(
        var(--icon-button-inverted-primary-base-color) shade(10%)
    );
    --icon-button-inverted-primary-active-color: color-mod(
        var(--icon-button-inverted-primary-base-color) shade(30%)
    );
    --icon-button-inverted-primary-disabled-color: color-mod(
        var(--icon-button-inverted-primary-base-color) alpha(30%)
    );

    /* secondary */
    --icon-button-inverted-secondary-base-color: var(--color-light-graphic-secondary-inverted);
    --icon-button-inverted-secondary-hover-color: color-mod(
        var(--icon-button-inverted-secondary-base-color) shade(10%)
    );
    --icon-button-inverted-secondary-active-color: color-mod(
        var(--icon-button-inverted-secondary-base-color) shade(30%)
    );
    --icon-button-inverted-secondary-disabled-color: color-mod(
        var(--icon-button-inverted-secondary-base-color) alpha(30%)
    );

    /* transparent */
    --icon-button-inverted-transparent-base-color: color-mod(
        var(--color-light-graphic-primary-inverted) alpha(30%)
    );
    --icon-button-inverted-transparent-hover-color: color-mod(
        var(--icon-button-inverted-transparent-base-color) alpha(40%)
    );
    --icon-button-inverted-transparent-active-color: color-mod(
        var(--icon-button-inverted-transparent-base-color) alpha(50%)
    );
    --icon-button-inverted-transparent-disabled-color: color-mod(
        var(--icon-button-inverted-transparent-base-color) alpha(40%)
    );

    /* negative */
    --icon-button-inverted-negative-base-color: var(--color-light-graphic-negative);
    --icon-button-inverted-negative-hover-color: color-mod(
        var(--icon-button-inverted-negative-base-color) shade(10%)
    );
    --icon-button-inverted-negative-active-color: color-mod(
        var(--icon-button-inverted-negative-base-color) shade(30%)
    );
}

.primary {
    color: var(--icon-button-inverted-primary-base-color);

    &:hover {
        color: var(--icon-button-inverted-primary-hover-color);
    }

    &:active {
        color: var(--icon-button-inverted-primary-active-color);
    }
}

.secondary {
    color: var(--icon-button-inverted-secondary-base-color);

    &:hover {
        color: var(--icon-button-inverted-secondary-hover-color);
    }

    &:active {
        color: var(--icon-button-inverted-secondary-active-color);
    }
}

.transparent {
    color: var(--icon-button-inverted-transparent-base-color);

    &:hover {
        color: var(--icon-button-inverted-transparent-hover-color);
    }

    &:active {
        color: var(--icon-button-inverted-transparent-active-color);
    }
}

.negative {
    color: var(--icon-button-inverted-negative-base-color);

    &:hover {
        color: var(--icon-button-inverted-negative-hover-color);
    }

    &:active {
        color: var(--icon-button-inverted-negative-active-color);
    }
}
