@import '../../themes/src/default.css';

.container {
    min-width: auto;
}

.optionsPopover {
    padding: var(--gap-xs) 0;

    &.sideGap {
        padding: 0 var(--gap-xs);
    }
}

.optionsListContainer {
    border-radius: var(--border-radius-s);
}

.option {
    padding: 0 var(--gap-m);
}
