@import '../../themes/src/default.css';

.container {
    min-width: auto;
}

.optionsPopover {
    padding-top: var(--gap-xs);
    padding-bottom: var(--gap-xs);

    &.sideGap {
        padding-right: var(--gap-xs);
        padding-left: var(--gap-xs);
    }
}
