@import '../../themes/src/default.css';

:root {
    --amount-input-minor-part-and-currency-color: var(--color-dark-indigo-60-flat);
}

/*
* Задача:
* 1) Отобразить символ валюты сразу за последним введенным символом
* 2) Не дать возможность попасть кареткой за валюту
* 3) Не дать выделить символ валюты при выделении денежного значения
* 4) Отображать символ валюты другим цветом
* 5) Отображать копейки другим цветом
*
* Решение
* Делаем скрытый текст где держим то же значение, добавляем символ валюты
* Важно расположить этот текст ровно на месте инпута и чтобы он имел те же параметры что и текст в инпуте
*/

.container {
    position: relative;
}

.minorPartAndCurrency {
    color: var(--amount-input-minor-part-and-currency-color);
}

.bold .input,
.bold .suffixContainer {
    font-weight: bold;
}

/* суффикс = текст в поле. Скрываем спейсер, чтобы суффикс выглядел как введенное в поле значение */
.suffixContainer > *:first-child {
    display: none;
}

.filled .input,
.input:focus {
    -webkit-text-fill-color: transparent; /* Для IE текст будет черным */
    caret-color: black; /* Для IE каретка будет черной */
}
