@import '../../themes/src/default.css';

.component {
    @mixin paragraph_secondary_large;

    display: flex;
    width: 100%;
    padding: var(--gap-xs);
    color: var(--color-light-text-secondary);
    box-shadow: 0px -1px 0px 0px var(--color-light-border-primary) inset;
    box-sizing: border-box;

    & svg {
        display: block;
    }
}

.infoSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: var(--gap-2xs);
    margin-left: var(--gap-s);
    min-width: 40%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.icon {
    display: block;
    flex-shrink: 0;
    color: var(--color-light-text-primary);
}

.errorIcon {
    flex-shrink: 0;
    color: var(--color-light-graphic-negative);
}

.successIcon {
    flex-shrink: 0;
    color: var(--color-light-graphic-positive);
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-light-text-primary);

    & a {
        display: block;
        margin-bottom: 1px;
    }
}

.meta {
    display: flex;
    align-items: center;
    white-space: nowrap;

    & > * {
        margin-right: var(--gap-s);

        &:last-child {
            margin-right: 0;
        }
    }
}

.size {
    width: 65px;
    text-align: right;
}

.delete,
.download {
    height: 24px;
    width: 24px;
    margin-left: var(--gap-s);

    & svg {
        width: 18px;
        height: 18px;
    }
}

.errorWrapper {
    margin-top: var(--gap-s);
    color: var(--color-light-text-accent);

    @media (--small-only) {
        flex: 1 0 100%;
        margin-top: var(--gap-3xs);
    }
}

.restore {
    @mixin paragraph_primary_small;
}

.spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.spinner {
    width: 20px;
    height: 20px;
}

.uploadPercent {
    margin-top: var(--gap-2xs);
}
