@import '../../vars.css';

.header {
    border-top-left-radius: var(--modal-border-radius);
    border-top-right-radius: var(--modal-border-radius);
}

.content {
    font-weight: bold;
    font-family: var(--modal-header-desktop-font-family);
}

.s .content,
.m .content {
    padding: var(--modal-s-header-desktop-content-paddings);
    font-size: var(--modal-s-header-desktop-font-size);
    line-height: var(--modal-s-header-desktop-line-height);
}

.l .content,
.xl .content,
.fullscreen .content {
    padding: var(--modal-l-header-desktop-content-paddings);
    font-size: var(--modal-l-header-desktop-font-size);
    line-height: var(--modal-l-header-desktop-line-height);
}

.s {
    padding: var(--modal-s-header-paddings);

    &:not(.hasContent) {
        padding-bottom: 0;
    }
}

.m {
    padding: var(--gap-xs) var(--gap-xs) var(--gap-m);

    &:not(.hasContent) {
        padding-bottom: 0;
    }
}

.l,
.xl,
.fullscreen {
    padding: var(--gap-xl) var(--gap-xl) var(--gap-m);

    &:not(.hasContent) {
        padding-bottom: var(--gap-m);
    }
}

.sticky {
    top: calc(var(--modal-vertical-padding) * -1);

    &.fullscreen {
        top: 0;
    }
}
