@import '../../vars.css';

.header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    transition: box-shadow 0.2s ease, background 0.2s ease;
    background: var(--modal-header-background);
}

.highlighted {
    background: var(--modal-header-highlight-background);
    box-shadow: var(--modal-header-highlight-box-shadow);
}

.sticky {
    position: sticky;
}

.content {
    @mixin headline_small;
    flex-grow: 1;
    margin: var(--gap-xs) var(--gap-m) var(--gap-xs) 0;
}

.title {
    word-break: break-word;
}
