@import '../../vars.css';

.sticky {
    top: 0;
}

.content {
    font-size: var(--modal-header-mobile-font-size);
    line-height: var(--modal-header-mobile-line-height);
    font-family: var(--modal-header-mobile-font-family);
    font-weight: bold;

    padding: var(--modal-header-mobile-content-paddings);
}
