/* colors */

.tertiary {
    color: var(--color-light-text-tertiary);
}

.disabled-transparent {
    color: var(--color-light-text-disabled-transparent);
}

.disabled {
    color: var(--color-light-text-disabled);
}

.accent {
    color: var(--color-light-text-accent);
}

.tertiary-inverted-transparent {
    color: var(--color-light-text-tertiary-inverted-transparent);
}

.primary {
    color: var(--color-light-text-primary);
}

.secondary-transparent {
    color: var(--color-light-text-secondary-transparent);
}

.secondary-inverted-transparent {
    color: var(--color-light-text-secondary-inverted-transparent);
}

.attention {
    color: var(--color-light-text-attention);
}

.positive {
    color: var(--color-light-text-positive);
}

.secondary {
    color: var(--color-light-text-secondary);
}

.tertiary-inverted {
    color: var(--color-light-text-tertiary-inverted);
}

.tertiary-transparent {
    color: var(--color-light-text-tertiary-transparent);
}

.primary-inverted {
    color: var(--color-light-text-primary-inverted);
}

.secondary-inverted {
    color: var(--color-light-text-secondary-inverted);
}

.link {
    color: var(--color-light-text-link);
}

.negative {
    color: var(--color-light-text-negative);
}
