@import '../../themes/src/default.css';

:root {
    --form-control-s-min-height: var(--size-s-height);
    --form-control-m-min-height: var(--size-m-height);
    --form-control-l-min-height: var(--size-l-height);
    --form-control-xl-min-height: var(--size-xl-height);
    --form-control-border-radius: 4px 4px 0 0;
    --form-control-bg-backdrop-filter: unset;

    /* paddings */
    --form-control-paddings: 0 var(--gap-s);
    --form-control-xl-paddings: 0 var(--gap-m);
    --form-control-labeled-s-paddings: 23px var(--gap-s) 5px;
    --form-control-labeled-m-paddings: 28px var(--gap-s) 8px;
    --form-control-labeled-l-paddings: 32px var(--gap-s) 12px;
    --form-control-labeled-xl-paddings: 38px var(--gap-m) 14px;
    --form-control-sub-paddings: 0;

    /* disabled */
    --form-control-disabled-opacity: 1;

    /* font */
    --form-control-font-family: var(--font-family);
}

.component {
    font-family: var(--form-control-font-family);
    width: max-content;
}

.inner {
    display: flex;
    position: relative;
    min-height: 100%;
    backdrop-filter: var(--form-control-bg-backdrop-filter);
    border-radius: var(--form-control-border-radius);
    transition: background 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
    outline: none;
    transform: translateZ(0);
}

/* Нижняя граница */
.inner:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
    transition: transform 0.2s ease, border 0.2s ease;
    transform-origin: bottom;
}

.inputWrapper {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.input {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.input > * {
    padding: var(--form-control-paddings);
    font-family: var(--form-control-font-family);
}

.label {
    @mixin system_16-20_regular;

    position: absolute;
    display: flex;
    align-items: center;
    left: var(--gap-s);
    right: 0;
    transform-origin: left top;
    transform: translateY(-50%);
    transition-duration: 200ms;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.labelInner {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.leftAddons {
    padding-left: var(--gap-s);
}

.rightAddons {
    padding-right: var(--gap-s);
}

.sub {
    @mixin system_14-18_regular;

    display: block;
    margin-top: var(--gap-2xs);
    padding: var(--form-control-sub-paddings);
}

.block {
    width: 100%;
}

/* SIZES */

.s .inner {
    min-height: var(--form-control-s-min-height);
}

.s .hasLabel .input > * {
    padding: var(--form-control-labeled-s-paddings);
}

.s .label {
    top: calc(var(--form-control-s-min-height) / 2 + 1px);
}

.m .inner {
    min-height: var(--form-control-m-min-height);
}

.m .hasLabel .input > * {
    padding: var(--form-control-labeled-m-paddings);
}

.m .label {
    top: calc(var(--form-control-m-min-height) / 2);
}

.l .inner {
    min-height: var(--form-control-l-min-height);
}

.l .hasLabel .input > * {
    padding: var(--form-control-labeled-l-paddings);
}

.l .label {
    top: calc(var(--form-control-l-min-height) / 2);
}

.xl .inner {
    min-height: var(--form-control-xl-min-height);
}

.xl .label {
    left: var(--gap-m);
}

.xl .input > * {
    padding: var(--form-control-xl-paddings);
}

.xl .hasLabel .input > * {
    padding: var(--form-control-labeled-xl-paddings);
}

.xl .leftAddons {
    padding-left: var(--gap-m);
}

.xl .rightAddons {
    padding-right: var(--gap-m);
}

.xl.hasLeftAddons .label {
    left: var(--gap-s);
}

.xl.hasLeftAddons .input > * {
    padding-left: var(--gap-s);
}

.xl.hasRightAddons .input > * {
    padding-right: var(--gap-s);
}

.xl .sub {
    margin-top: var(--gap-xs);
}

.xl .label {
    top: calc(var(--form-control-xl-min-height) / 2 - 1px);
}

/* DISABLED STATE */

.disabled {
    opacity: var(--form-control-disabled-opacity);
}

/* FOCUS STATE */

.focused:not(.disabled):before,
.hasError:before {
    transform: scaleY(2);
}

.filled .label {
    transform: translateY(-100%) scale(0.875);
}

.hiddenLabel {
    opacity: 0;
    height: 0;
    padding: var(--form-control-paddings);
    display: block;
    box-sizing: border-box;
}

.xl .hiddenLabel {
    padding: var(--form-control-l-paddings);
}

/* min-height and width: max-content; fix for IE */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .component {
        float: left;
        clear: left;
    }

    .inner:after {
        min-height: inherit;
        font-size: 0;
        content: '';
    }
}
