@import '../../themes/src/default.css';

:root {
    --form-control-inverted-border-bottom: 1px solid var(--color-light-border-underline-inverted);
    --form-control-inverted-bg-color: var(--color-light-specialbg-component-inverted);
    --form-control-inverted-color: var(--color-light-text-primary-inverted);
    --form-control-inverted-label-color: var(--color-light-text-secondary-inverted-transparent);
    --form-control-inverted-hint-color: var(--color-light-text-secondary-inverted-transparent);

    /* disabled */
    --form-control-inverted-disabled-bg-color: var(
        --color-light-specialbg-component-inverted-tint-15
    );
    --form-control-inverted-disabled-border-bottom: 1px dashed
        var(--color-light-border-underline-inverted);
    --form-control-inverted-disabled-color: var(--color-light-text-secondary-inverted-transparent);

    /* focus */
    --form-control-inverted-focus-border-bottom: 1px solid var(--color-light-border-key-inverted);
    --form-control-inverted-focus-bg-color: var(--color-light-specialbg-component-inverted-tint-15);

    /* hover */
    --form-control-inverted-hover-bg-color: var(--color-light-specialbg-component-inverted-tint-15);

    /* error */
    --form-control-inverted-error-color: var(--color-static-text-accent);
    --form-control-inverted-error-label-color: var(
        --color-light-text-secondary-inverted-transparent
    );
    --form-control-inverted-error-shadow: none;
    --form-control-inverted-error-border-bottom: 1px solid var(--color-static-border-accent);
}

.component {
    color: var(--form-control-inverted-color);
}

.inner {
    background-color: var(--form-control-inverted-bg-color);
}

/* Нижняя граница */
.inner:before {
    border-bottom: var(--form-control-inverted-border-bottom);
}

.label {
    color: var(--form-control-inverted-label-color);
}

.hint {
    color: var(--form-control-inverted-hint-color);
}

/* DISABLED STATE */

.disabled {
    background-color: var(--form-control-inverted-disabled-bg-color);
    color: var(--form-control-inverted-disabled-color);
}

.disabled:before {
    border-bottom: var(--form-control-inverted-disabled-border-bottom);
}

/* FOCUS STATE */

.focused:not(.disabled):not(.hasError):before {
    border-bottom: var(--form-control-inverted-focus-border-bottom);
}

.focused.inner {
    background-color: var(--form-control-inverted-focus-bg-color);
}

/* HOVER STATE */

.inner:not(.disabled):hover {
    background-color: var(--form-control-inverted-hover-bg-color);
}

/* ERROR STATE */

.error {
    color: var(--form-control-inverted-error-color);
}

.hasError .label {
    color: var(--form-control-inverted-error-label-color);
}

.hasError {
    box-shadow: var(--form-control-inverted-error-shadow);
}

.hasError:before {
    border-bottom: var(--form-control-inverted-error-border-bottom);
}
