.themeExample {
    font-family: var(--font-family);
}

.cssExample {
    margin: 10px 0 20px;
    color: var(--color-light-text-secondary);
}

.container {
    padding: 15px 30px;
    margin: 20px 0;
}

@define-mixin theme-dark {
    --checkbox-label-color: var(--color-dark-text-primary);
    --checkbox-bg-color: var(--color-dark-bg-secondary);
    --checkbox-border-color: var(--color-dark-border-secondary-inverted);
    --checkbox-hover-bg-color: var(--color-dark-border-secondary-inverted);
    --checkbox-hover-border-color: var(--color-dark-border-tertiary-inverted);
    --checkbox-active-border-color: var(--color-dark-border-key);
    --radio-label-color: var(--color-dark-text-primary);
    --radio-bg-color: var(--color-dark-bg-secondary);
    --radio-border-color: var(--color-dark-border-secondary-inverted);
    --radio-hover-bg-color: var(--color-dark-border-secondary-inverted);
    --radio-hover-border-color: var(--color-dark-border-tertiary-inverted);
    --radio-active-border-color: var(--color-dark-border-key);
}

@define-mixin theme-light {
    --checkbox-label-color: var(--color-light-text-primary);
    --checkbox-bg-color: var(--color-light-bg-secondary);
    --checkbox-border-color: var(--color-light-border-secondary-inverted);
    --checkbox-hover-bg-color: var(--color-light-border-secondary-inverted);
    --checkbox-hover-border-color: var(--color-light-border-tertiary-inverted);
    --checkbox-active-border-color: var(--color-light-border-key);
    --radio-label-color: var(--color-light-text-primary);
    --radio-bg-color: var(--color-light-bg-secondary);
    --radio-border-color: var(--color-light-border-secondary-inverted);
    --radio-hover-bg-color: var(--color-light-border-secondary-inverted);
    --radio-hover-border-color: var(--color-light-border-tertiary-inverted);
    --radio-active-border-color: var(--color-light-border-key);
}

@define-mixin theme-red-eye {
    --checkbox-label-color: var(--color-dark-text-accent);
    --checkbox-bg-color: transparent;
    --checkbox-border-color: var(--color-dark-border-accent);
    --checkbox-hover-bg-color: var(--color-dark-bg-negative-muted);
    --checkbox-hover-border-color: var(--color-dark-border-accent);
    --checkbox-active-border-color: var(--color-dark-border-key);
    --radio-label-color: var(--color-dark-text-accent);
    --radio-bg-color: transparent;
    --radio-border-color: var(--color-dark-border-accent);
    --radio-hover-bg-color: var(--color-dark-bg-negative-muted);
    --radio-hover-border-color: var(--color-dark-border-accent);
    --radio-active-border-color: var(--color-dark-border-key);
}

.dark {
    @mixin theme-dark;

    background-color: var(--color-dark-bg-primary);
    color: var(--color-dark-text-primary);
}

.light {
    @mixin theme-light;

    background-color: var(--color-light-bg-primary);
    color: var(--color-light-text-primary);
}

.redEye {
    @mixin theme-red-eye;

    background-color: var(--color-static-bg-dark);
    color: var(--color-dark-text-accent);
}
