@import '../../themes/src/default.css';

:root {
    --toast-box-shadow: var(--shadow-m);
}

.toastPlate {
    box-shadow: var(--toast-box-shadow);
}

.popover {
    z-index: 100;
    border: none;
    border-radius: var(--toast-plate-border-radius);
    box-shadow: var(--toast-box-shadow);
}

.block {
    width: 100%;
}

.fixed {
    position: fixed;
    z-index: 100;
    bottom: var(--gap-2xl);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

    &.enter {
        opacity: 0;
        transform: scale(0.98);
    }

    &.enterActive {
        opacity: 1;
        transform: scale(1);
    }

    &.exit {
        opacity: 1;
        transform: scale(1);
    }

    &.exitActive {
        opacity: 0;
        transform: scale(0.98);
    }
}

.centered {
    left: 50%;
    transform: translateX(-50%) scale(1);

    &.enter {
        transform: translateX(-50%) scale(0.98);
    }

    &.enterActive {
        transform: translateX(-50%) scale(1);
    }

    &.exit {
        transform: translateX(-50%) scale(1);
    }

    &.exitActive {
        transform: translateX(-50%) scale(0.98);
    }
}
