@import '../../themes/src/default.css';

:root {
    --toast-bg-color: var(--color-light-bg-primary-inverted);
    --toast-color: var(--color-light-text-primary-inverted);
    --toast-border-radius: 8px;
}

.component {
    display: flex;
    box-sizing: border-box;
    border-radius: var(--toast-border-radius);
    color: var(--toast-color);
    min-height: 56px;
    padding: var(--gap-m);
    background-color: var(--toast-bg-color);
    box-shadow: var(--shadow-s);

    &.hasCloser {
        padding-right: var(--gap-4xl);
    }
}

.component * {
    box-sizing: border-box;
}

.leftAddons {
    display: flex;
    flex-shrink: 0;
    min-width: 24px;
    margin-right: var(--gap-m);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &.positive {
        background-color: var(--color-light-graphic-positive);
    }

    &.warning {
        background-color: var(--color-light-graphic-attention);
    }

    &.negative {
        background-color: var(--color-light-graphic-accent);
    }
}

.iconSvg {
    height: 18px;
}

.title {
    @mixin accent_primary_medium;
}

.content {
    @mixin paragraph_primary_small;
}

.title + .content {
    margin-top: var(--gap-2xs);
}

.closer {
    position: absolute;
    top: var(--gap-s);
    right: var(--gap-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    line-height: 1;
    color: var(--color-dark-graphic-primary);
    opacity: 0.6;
    transition: opacity 0.2s ease-out;
    cursor: pointer;

    &:hover {
        color: var(--color-dark-graphic-primary);
        opacity: 1;
    }
}
