@define-mixin radio-click {
    /* theme */
    --radio-checked-bg-color: var(--color-light-graphic-positive);
    --radio-checked-border-color: transparent;
    --radio-checked-hover-bg-color: var(--color-light-graphic-positive-shade-10);
    --radio-checked-hover-border-color: transparent;
    --radio-checked-active-bg-color: var(--color-light-graphic-positive-shade-30);
    --radio-checked-active-border-color: transparent;
}
