@import '../../../../vars/src/index.css';

@define-mixin radio-click {
    /* core vars */
    --color-light-graphic-positive: #2fc26e;

    /* theme */
    --radio-checked-bg-color: var(--color-light-graphic-positive);
    --radio-checked-border-color: transparent;
    --radio-checked-hover-bg-color: color-mod(var(--color-light-graphic-positive) shade(10%));
    --radio-checked-hover-border-color: transparent;
    --radio-checked-active-bg-color: color-mod(var(--color-light-graphic-positive) shade(30%));
    --radio-checked-active-border-color: transparent;
    --radio-checked-disabled-bg-color: color-mod(var(--color-light-graphic-positive) alpha(30%));
    --radio-checked-disabled-border-color: transparent;
}
