@import '../../vars.css';

.component {
    @mixin _confirmation-text;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--gap-3xl);
    color: var(--confirmation-text-color);
}

.hasError {
    & .getCodeButton {
        margin-top: 0;
    }

    & .info {
        margin-top: 0;
    }
}

.info {
    margin: var(--gap-2xs) 0;
}

.loaderWrap {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap-xs);
}

.loader {
    margin-right: var(--gap-xs);
}

.center {
    align-items: center;

    & .loaderWrap {
        justify-content: center;
    }
}

.timePassed {
    display: flex;
    min-width: 3em;
}

.getCodeButton {
    margin-top: var(--gap-2xl);
}

.noAttemptsLeftMessage {
    margin: var(--gap-2xs) 0 var(--gap-xs);
}
