@import '../../vars.css';

.component {
    @mixin _confirmation-text;

    display: flex;
    flex-direction: column;
    color: var(--confirmation-text-color);
}

.info {
    margin-bottom: var(--gap-xs);
}

.loaderWrap {
    display: flex;
    align-items: center;
}

.loader {
    margin-right: var(--gap-xs);
}

.center {
    & .loaderWrap {
        justify-content: center;
    }
}

.timePassed {
    display: flex;
    min-width: 3em;
}

.getCodeButton {
    margin-top: var(--gap-2xl);
}

.noAttemptsLeftMessage {
    margin-top: var(--gap-l);
}
