@import '../../../../themes/src/default.css';

.component {
    @mixin paragraph_primary_medium;

    display: flex;
    flex-direction: column;
    color: var(--confirmation-text-color);
}

.info {
    margin-bottom: var(--gap-xs);
}

.loaderWrap {
    display: flex;
    align-items: center;
}

.loader {
    margin-right: var(--gap-xs);
}

.center {
    & .loaderWrap {
        justify-content: center;
    }
}
