@import '../../../vars/src/typography.css';

.component {
    margin: 0 0 0 var(--gap-m);
    padding: 0;
}

.paragraphPrimaryLarge {
    @mixin paragraph_primary_large;
}

.paragraphPrimaryNormal {
    @mixin paragraph_primary_normal;
}

.paragraphPrimarySmall {
    @mixin paragraph_primary_small;
}

.paragraphSecondaryLarge {
    @mixin paragraph_secondary_large;
}

.paragraphSecondaryNormal {
    @mixin paragraph_secondary_normal;
}

.paragraphSecondarySmall {
    @mixin paragraph_secondary_small;
}

.paragraphComponent {
    @mixin paragraph_component;
}

.paragraphCaps {
    @mixin paragraph_caps;
}

.accentPrimaryLarge {
    @mixin accent_primary_large;
}

.accentPrimaryNormal {
    @mixin accent_primary_normal;
}

.accentPrimarySmall {
    @mixin accent_primary_small;
}

.accentSecondaryLarge {
    @mixin accent_secondary_large;
}

.accentSecondaryNormal {
    @mixin accent_secondary_normal;
}

.accentSecondarySmall {
    @mixin accent_secondary_small;
}

.accentComponent {
    @mixin accent_component;
}

.accentCaps {
    @mixin accent_caps;
}

.actionPrimaryLarge {
    @mixin action_primary_large;
}

.actionPrimaryNormal {
    @mixin action_primary_normal;
}

.actionPrimarySmall {
    @mixin action_primary_small;
}

.actionSecondaryLarge {
    @mixin action_secondary_large;
}

.actionSecondaryNormal {
    @mixin action_secondary_normal;
}

.actionSecondarySmall {
    @mixin action_secondary_small;
}

.keyXlarge {
    @mixin key_xlarge;
}

.keyLarge {
    @mixin key_large;
}

.keyNormal {
    @mixin key_normal;
}

.keySmall {
    @mixin key_small;
}

.keyXsmall {
    @mixin key_xsmall;
}

.legacyStyreneNormal {
    @mixin legacy_styrene_normal;
}

.legacyPrimarySmall {
    @mixin legacy_primary_small;
}

.secondary {
    color: var(--color-light-text-secondary);
}

.negative {
    color: var(--color-light-text-negative);
}

.positive {
    color: var(--color-light-text-positive);
}

.attention {
    color: var(--color-light-text-attention);
}
