@import '../../themes/src/default.css';
@import '../../themes/src/mixins/button/default-inverted.css';

:root {
    --toast-plate-bg-color: var(--color-light-bg-primary-inverted);
    --toast-plate-color: var(--color-light-text-primary-inverted);
    --toast-plate-border-radius: 8px;
    --toast-plate-title-font-weight: 700;

    --toast-plate-close-icon-size: 18px;
    --toast-plate-close-icon-background-image: url('https://alfabank.st/icons/icon_close_s_white.svg');

    --toast-plate-badge-size: 24px;
    --toast-plate-badge-icon-size: 30px;

    --toast-plate-left-addons-margin: 0 var(--gap-m) 0 0;
}

.component {
    @mixin button-default-inverted;

    position: relative;
    display: inline-flex;
    align-items: flex-start;
    box-sizing: border-box;
    border-radius: var(--toast-plate-border-radius);
    color: var(--toast-plate-color);
    min-height: 56px;
    padding: var(--gap-m);
    background-color: var(--toast-plate-bg-color);
    box-shadow: var(--shadow-s);

    &.hasCloser {
        padding-right: var(--gap-s);
    }
}

.block {
    display: flex;
}

.mainSection {
    display: flex;
    align-items: center;
    flex-grow: 1;

    &.hasChildren {
        align-items: flex-start;
    }
}

.actionsSection {
    display: flex;
    align-items: center;
    margin-left: var(--gap-xl);

    &.hasChildren {
        margin-left: var(--gap-l);
    }
}

.leftAddons {
    display: flex;
    flex-shrink: 0;
    min-width: 24px;
    margin: var(--toast-plate-left-addons-margin);
}

.title {
    @mixin accent_primary_medium;

    font-weight: var(--toast-plate-title-font-weight);
}

.content {
    @mixin paragraph_primary_small;
}

.title + .content {
    margin-top: var(--gap-2xs);
}

.closeButton {
    width: 24px;
    height: 24px;
    padding: var(--gap-s);
    transition: opacity 0.2s ease-out;
    cursor: pointer;

    &:hover .closeIcon {
        opacity: 0.7;
    }

    &:active .closeIcon {
        opacity: 0.5;
    }
}

.actionButtonWrapper {
    margin-right: var(--gap-s);
}

.closeIcon {
    width: var(--toast-plate-close-icon-size);
    height: var(--toast-plate-close-icon-size);
    background-image: var(--toast-plate-close-icon-background-image);
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity 0.2s ease-out;
}

.badge {
    width: var(--toast-plate-badge-size);
    height: var(--toast-plate-badge-size);
}

/* Переопределение стилей в компоненте Badge  */
.component svg.badgeIcon {
    max-height: none;
    width: var(--toast-plate-badge-icon-size);
    height: var(--toast-plate-badge-icon-size);
}
