@import '../../themes/src/default.css';
@import '../../themes/src/mixins/button/default-inverted.css';

:root {
    --toast-plate-bg-color: var(--color-light-bg-primary-inverted);
    --toast-plate-color: var(--color-light-text-primary-inverted);
    --toast-plate-border-radius: var(--border-radius-m);
    --toast-plate-title-font-weight: 700;
    --toast-plate-action-align: center;
    --toast-plate-action-padding: 0 var(--gap-2xl);
    --toast-plate-action-divider-display: block;
}

.component {
    @mixin button-default-inverted;

    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: var(--toast-plate-border-radius);
    color: var(--toast-plate-color);
    min-height: 56px;
    padding: var(--gap-m);
    background-color: var(--toast-plate-bg-color);

    &.hasCloser {
        /* 2×16 + 24 */
        padding-right: 56px;
    }
}

.contentWrap {
    display: flex;
}

.block {
    display: flex;
    width: 100%;
}

.content {
    display: flex;
    flex-grow: 1;
}

.actionSection {
    display: flex;
    align-items: var(--toast-plate-action-align);
    flex-shrink: 0;
    margin: var(--gap-3xs) 0;
    padding: var(--toast-plate-action-padding);

    &:last-child {
        padding-right: 0;
    }
}

.leftAddons {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    padding-right: var(--gap-s);
}

.title {
    @mixin accent_primary_medium;

    font-weight: var(--toast-plate-title-font-weight);
}

.children {
    @mixin paragraph_primary_small;

    margin-top: var(--gap-2xs);
}

.closeButton {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: var(--gap-s);
    bottom: var(--gap-s);
    right: var(--gap-s);
    padding: var(--gap-2xs);
    transition: opacity 0.2s ease-out;
    cursor: pointer;

    &:hover .closeIcon {
        opacity: 0.7;
    }

    &:active .closeIcon {
        opacity: 0.5;
    }
}

.actionSection + .closeButton {
    align-items: var(--toast-plate-action-align);

    &:before {
        display: var(--toast-plate-action-divider-display);
        position: absolute;
        right: 44px;
        top: var(--gap-2xs);
        bottom: var(--gap-2xs);
        width: 1px;
        background-color: var(--color-light-bg-tertiary-inverted);
        content: '';
    }
}
