@import '../../themes/src/default.css';

.component {
    position: relative;
    display: inline-block;
}

.block {
    display: block;
}

.slider {
    margin-top: calc(var(--slider-thumb-size) / 2 * -1 - 1px);
    position: absolute;

    & + * {
        margin-top: var(--gap-xs);
    }
}

.steps {
    @mixin system_14-18_regular;

    display: flex;
    justify-content: space-between;
    margin-top: var(--gap-xs);
    color: var(--color-light-text-secondary);
}
