.suffixContainer {
    @mixin system_16-20_regular;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    display: none;
    pointer-events: none;
}

input:focus + .suffixContainer,
.suffixVisible .suffixContainer {
    display: inline-flex;
}

.hasSuffix input:focus::placeholder {
    color: transparent;
    transition: none;
}

.spacer {
    visibility: hidden;
    flex-shrink: 0;
    white-space: pre;
}

.suffix {
    white-space: pre;
}

.disabled {
    color: var(--input-disabled-color);
}
