@import '../../themes/default.css';

.component {
    display: flex;
    flex-direction: column;
}

.error {
    padding-left: var(--gap-m);
    border-left: 1px solid var(--color-red-brand-85-flat);
}

.checkbox-list {
    display: flex;
}

.vertical .checkbox-list {
    flex-direction: column;
}

.vertical .checkbox {
    margin-bottom: var(--gap-m);

    &:last-child {
        margin-bottom: 0;
    }
}

.horizontal .checkbox {
    margin-right: var(--gap-xl);

    &:last-child {
        margin-right: 0;
    }
}

.label {
    @mixin system_14-18_regular;
    margin-bottom: var(--gap-m);
    color: var(--color-dark-indigo-60-flat);
}

.error-message {
    @mixin system_14-18_regular;
    margin-top: var(--gap-m);
    color: var(--color-red-brand-85-flat);
}
