@import '../../themes/src/default.css';

.component {
    display: flex;
    flex-direction: column;
}

.error {
    padding-left: var(--gap-m);
    border-left: 1px solid var(--color-light-graphic-negative); /* wrong */
}

.checkboxList {
    display: flex;
}

.vertical .checkboxList {
    flex-direction: column;
    align-items: flex-start;
}

.vertical .checkbox {
    margin-bottom: var(--gap-m);

    &:last-child {
        margin-bottom: 0;
    }
}

.horizontal .checkboxList {
    flex-wrap: wrap;
    margin-right: var(--gap-xl-neg);
    margin-bottom: var(--gap-xs-neg);
}

.tag.horizontal .checkboxList {
    margin-right: var(--gap-xs-neg);
}

.horizontal .checkbox {
    margin-right: var(--gap-xl);
    margin-bottom: var(--gap-xs);
}

.horizontal .tagLabel {
    margin-right: var(--gap-xs);
}

.label {
    @mixin system_14-18_regular;
    margin-bottom: var(--gap-m);
    color: var(--color-light-text-secondary);
}

.errorMessage {
    @mixin system_14-18_regular;
    margin-top: var(--gap-m);
    color: var(--color-light-graphic-negative); /* wrong */
}

.hiddenInput {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
}

.tagLabel {
    position: relative;
}
