@define-mixin dark-theme {
    --color-light-bg-accent: var(--color-dark-bg-accent);
    --color-light-bg-attention-muted: var(--color-dark-bg-attention-muted);
    --color-light-bg-info: var(--color-dark-bg-info);
    --color-light-bg-negative-muted: var(--color-dark-bg-negative-muted);
    --color-light-bg-neutral: var(--color-dark-bg-neutral);
    --color-light-bg-opaque: var(--color-dark-bg-opaque);
    --color-light-bg-overlay: var(--color-dark-bg-overlay);
    --color-light-bg-positive-muted: var(--color-dark-bg-positive-muted);
    --color-light-bg-primary: var(--color-dark-bg-primary);
    --color-light-bg-primary-inverted: var(--color-dark-bg-primary-inverted);
    --color-light-bg-secondary: var(--color-dark-bg-secondary);
    --color-light-bg-secondary-inverted: var(--color-dark-bg-secondary-inverted);
    --color-light-bg-tertiary: var(--color-dark-bg-tertiary);
    --color-light-bg-tertiary-inverted: var(--color-dark-bg-tertiary-inverted);
    --color-light-border-accent: var(--color-dark-border-accent);
    --color-light-border-key: var(--color-dark-border-key);
    --color-light-border-key-inverted: var(--color-dark-border-key-inverted);
    --color-light-border-link: var(--color-dark-border-link);
    --color-light-border-primary: var(--color-dark-border-primary);
    --color-light-border-secondary: var(--color-dark-border-secondary);
    --color-light-border-secondary-inverted: var(--color-dark-border-secondary-inverted);
    --color-light-border-tertiary: var(--color-dark-border-tertiary);
    --color-light-border-tertiary-inverted: var(--color-dark-border-tertiary-inverted);
    --color-light-border-underline: var(--color-dark-border-underline);
    --color-light-border-underline-inverted: var(--color-dark-border-underline-inverted);
    --color-light-graphic-accent: var(--color-dark-graphic-accent);
    --color-light-graphic-attention: var(--color-dark-graphic-attention);
    --color-light-graphic-link: var(--color-dark-graphic-link);
    --color-light-graphic-negative: var(--color-dark-graphic-negative);
    --color-light-graphic-neutral: var(--color-dark-graphic-neutral);
    --color-light-graphic-positive: var(--color-dark-graphic-positive);
    --color-light-graphic-primary: var(--color-dark-graphic-primary);
    --color-light-graphic-primary-inverted: var(--color-dark-graphic-primary-inverted);
    --color-light-graphic-secondary: var(--color-dark-graphic-secondary);
    --color-light-graphic-secondary-inverted: var(--color-dark-graphic-secondary-inverted);
    --color-light-graphic-tertiary: var(--color-dark-graphic-tertiary);
    --color-light-specialbg-component: var(--color-dark-specialbg-component);
    --color-light-specialbg-component-inverted: var(--color-dark-specialbg-component-inverted);
    --color-light-specialbg-nulled: var(--color-dark-specialbg-nulled);
    --color-light-specialbg-primary-grouped: var(--color-dark-specialbg-primary-grouped);
    --color-light-specialbg-secondary-grouped: var(--color-dark-specialbg-secondary-grouped);
    --color-light-specialbg-tertiary-grouped: var(--color-dark-specialbg-tertiary-grouped);
    --color-light-text-accent: var(--color-dark-text-accent);
    --color-light-text-attention: var(--color-dark-text-attention);
    --color-light-text-disabled: var(--color-dark-text-disabled);
    --color-light-text-disabled-transparent: var(--color-dark-text-disabled-transparent);
    --color-light-text-link: var(--color-dark-text-link);
    --color-light-text-negative: var(--color-dark-text-negative);
    --color-light-text-positive: var(--color-dark-text-positive);
    --color-light-text-primary: var(--color-dark-text-primary);
    --color-light-text-primary-inverted: var(--color-dark-text-primary-inverted);
    --color-light-text-secondary: var(--color-dark-text-secondary);
    --color-light-text-secondary-inverted: var(--color-dark-text-secondary-inverted);
    --color-light-text-secondary-inverted-transparent: var(
        --color-dark-text-secondary-inverted-transparent
    );
    --color-light-text-secondary-transparent: var(--color-dark-text-secondary-transparent);
    --color-light-text-tertiary: var(--color-dark-text-tertiary);
    --color-light-text-tertiary-inverted: var(--color-dark-text-tertiary-inverted);
    --color-light-text-tertiary-inverted-transparent: var(
        --color-dark-text-tertiary-inverted-transparent
    );
    --color-light-text-tertiary-transparent: var(--color-dark-text-tertiary-transparent);
    --color-light-bg-accent-alpha-30: var(--color-dark-bg-accent-alpha-30);
    --color-light-bg-accent-shade-7: var(--color-dark-bg-accent-tint-7);
    --color-light-bg-accent-shade-10: var(--color-dark-bg-accent-tint-10);
    --color-light-bg-accent-shade-15: var(--color-dark-bg-accent-tint-15);
    --color-light-bg-accent-shade-30: var(--color-dark-bg-accent-tint-30);
    --color-light-bg-neutral-alpha-30: var(--color-dark-bg-neutral-alpha-30);
    --color-light-bg-neutral-shade-7: var(--color-dark-bg-neutral-tint-7);
    --color-light-bg-neutral-shade-10: var(--color-dark-bg-neutral-tint-10);
    --color-light-bg-neutral-shade-15: var(--color-dark-bg-neutral-tint-15);
    --color-light-bg-neutral-shade-30: var(--color-dark-bg-neutral-tint-30);
    --color-light-bg-primary-inverted-alpha-3: var(--color-dark-bg-primary-inverted-alpha-3);
    --color-light-bg-primary-inverted-alpha-7: var(--color-dark-bg-primary-inverted-alpha-7);
    --color-light-bg-primary-inverted-alpha-10: var(--color-dark-bg-primary-inverted-alpha-10);
    --color-light-bg-primary-inverted-alpha-15: var(--color-dark-bg-primary-inverted-alpha-15);
    --color-light-bg-primary-inverted-alpha-20: var(--color-dark-bg-primary-inverted-alpha-20);
    --color-light-bg-primary-inverted-alpha-40: var(--color-dark-bg-primary-inverted-alpha-40);
    --color-light-bg-secondary-inverted-alpha-7: var(--color-dark-bg-secondary-inverted-alpha-7);
    --color-light-bg-secondary-inverted-alpha-15: var(--color-dark-bg-secondary-inverted-alpha-15);
    --color-light-bg-tertiary-shade-7: var(--color-dark-bg-tertiary-tint-7);
    --color-light-border-tertiary-inverted-alpha-30: var(
        --color-dark-border-tertiary-inverted-alpha-30
    );
    --color-light-graphic-accent-alpha-30: var(--color-dark-graphic-accent-alpha-30);
    --color-light-graphic-accent-shade-10: var(--color-dark-graphic-accent-tint-10);
    --color-light-graphic-accent-shade-30: var(--color-dark-graphic-accent-tint-30);
    --color-light-graphic-negative-tint-30: var(--color-dark-graphic-negative-shade-30);
    --color-light-graphic-negative-tint-50: var(--color-dark-graphic-negative-shade-50);
    --color-light-graphic-neutral-shade-10: var(--color-dark-graphic-neutral-tint-10);
    --color-light-graphic-positive-shade-10: var(--color-dark-graphic-positive-tint-10);
    --color-light-graphic-positive-shade-30: var(--color-dark-graphic-positive-tint-30);
    --color-light-graphic-primary-alpha-30: var(--color-dark-graphic-primary-alpha-30);
    --color-light-graphic-primary-alpha-40: var(--color-dark-graphic-primary-alpha-40);
    --color-light-graphic-primary-alpha-50: var(--color-dark-graphic-primary-alpha-50);
    --color-light-graphic-primary-tint-30: var(--color-dark-graphic-primary-shade-30);
    --color-light-graphic-primary-tint-50: var(--color-dark-graphic-primary-shade-50);
    --color-light-graphic-primary-shade-10: var(--color-dark-graphic-primary-tint-10);
    --color-light-graphic-primary-shade-30: var(--color-dark-graphic-primary-tint-30);
    --color-light-graphic-secondary-alpha-30: var(--color-dark-graphic-secondary-alpha-30);
    --color-light-graphic-secondary-shade-30: var(--color-dark-graphic-secondary-tint-30);
    --color-light-graphic-secondary-shade-50: var(--color-dark-graphic-secondary-tint-50);
    --color-light-specialbg-component-shade-7: var(--color-dark-specialbg-component-tint-7);
    --color-light-specialbg-component-shade-10: var(--color-dark-specialbg-component-tint-10);
    --color-light-specialbg-component-shade-30: var(--color-dark-specialbg-component-tint-30);
    --color-light-text-link-tint-30: var(--color-dark-text-link-shade-30);
    --color-light-text-link-tint-50: var(--color-dark-text-link-shade-50);
    --color-light-text-link-shade-20: var(--color-dark-text-link-tint-20);
    --color-light-text-link-shade-40: var(--color-dark-text-link-tint-40);
    --color-light-text-primary-alpha-30: var(--color-dark-text-primary-alpha-30);
    --color-light-text-primary-tint-30: var(--color-dark-text-primary-shade-30);
    --color-light-text-primary-tint-50: var(--color-dark-text-primary-shade-50);
    --color-light-text-primary-shade-20: var(--color-dark-text-primary-tint-20);
    --color-light-text-primary-shade-40: var(--color-dark-text-primary-tint-40);
    --color-light-text-secondary-tint-30: var(--color-dark-text-secondary-shade-30);
    --color-light-text-secondary-tint-50: var(--color-dark-text-secondary-shade-50);
    --color-light-text-secondary-shade-20: var(--color-dark-text-secondary-tint-20);
    --color-light-text-secondary-shade-40: var(--color-dark-text-secondary-tint-40);
}
