@import '../../../../themes/src/default.css';

.item {
    @mixin system_14-18_regular;

    display: block;
    padding: 10px var(--gap-m);
    transition: background-color 0.2s ease;
    background-color: #fff;
}

.selected {
    background-color: var(--input-hover-bg-color);
    font-weight: 600;
}

.highlighted {
    background-color: var(--input-bg-color);
    cursor: pointer;
}

.disabled {
    cursor: default;
    background-color: #fff;
    color: var(--color-dark-indigo-60-flat);
}
