name: Screenshots

on:
  push:
    branches-ignore:
      - master

jobs:
    test:
      name: run screenshots tests

      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v2
          with:
            lfs: true

        - name: Checkout LFS objects
          run: git lfs checkout

        - name: Install dependencies
          run: yarn

        - uses: microsoft/playwright-github-action@v1

        - name: Run screenshots tests
          run: yarn test:screenshots
          env:
            CI: true
            CI_USER_NAME: ${{ secrets.CI_USER_NAME }}
            CI_USER_PASSWORD: ${{ secrets.CI_USER_PASSWORD }}
