@import '../../themes/src/default.css';

:root {
    --drawer-header-paddings: 0 0 0 var(--gap-4xl);
    --drawer-content-paddings: 0 var(--gap-4xl) 0;
    --drawer-footer-paddings: var(--gap-xl) var(--gap-4xl) var(--gap-4xl);
    --drawer-content-no-footer-bottom-padding: var(--gap-2xl);
    --drawer-content-no-header-top-padding: var(--gap-2xl);
}

.component {
    width: 500px;
    right: 0;
    top: 0;
    will-change: transform;
}

.header {
    min-height: auto;
    padding: var(--drawer-header-paddings);
}

.content {
    padding: var(--drawer-content-paddings);

    &:first-child {
        padding-top: var(--drawer-content-no-header-top-padding);
    }

    &:last-child {
        padding-bottom: var(--drawer-content-no-footer-bottom-padding);
    }
}

.footer {
    padding: var(--drawer-footer-paddings);
}

.appear,
.enter {
    transform: translateX(100%);
}

.appearActive,
.enterActive {
    transition: transform 400ms ease-in-out 200ms;
    transform: translateX(0);
}

.exit {
    transform: translateX(0);
}

.exitActive,
.exitDone {
    transition: transform 400ms ease-in-out;
    transform: translateX(100%);
}

.backdropAppear,
.backdropEnter {
    background-color: var(--modal-backdrop-hidden-background);
}

.backdropAppearActive,
.backdropEnterActive {
    transition: background 200ms ease-in-out;
    background-color: var(--modal-backdrop-visible-background);
}

.backdropExit {
    background-color: var(--modal-backdrop-visible-background);
}

.backdropExitActive {
    transition: background 200ms ease-in-out 400ms;
    background-color: var(--modal-backdrop-hidden-background);
}
