@import '../../themes/src/default.css';

:root {
    --drawer-width: 500px;
}

.component {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--drawer-width);
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: stretch;
    overflow: auto;
    will-change: transform;
}

.appear,
.enter {
    transform: translateX(100%);
}

.appearActive,
.enterActive {
    transition: transform 400ms ease-in-out 200ms;
    transform: translateX(0);
}

.exit {
    transform: translateX(0);
}

.exitActive {
    transition: transform 400ms ease-in-out;
    transform: translateX(100%);
}

.backdropAppear,
.backdropEnter {
    background-color: var(--backdrop-hidden-background);
}

.backdropAppearActive,
.backdropEnterActive {
    transition: background 200ms ease-in-out;
    background-color: var(--backdrop-visible-background);
}

.backdropExit {
    background-color: var(--backdrop-visible-background);
}

.backdropExitActive {
    transition: background 200ms ease-in-out 400ms;
    background-color: var(--backdrop-hidden-background);
}
