@import '../../../../themes/src/default.css';

.component {
    position: relative;
}

.content {
    display: flex;
    align-items: flex-start;
}

.icon {
    cursor: pointer;
    margin-left: var(--gap-xs);

    /**
     * иконка сортировки должна быть выровнена по верхнему краю,
     * т.к. текст может быть в две строки
     */
    margin-top: 1px;
    color: var(--color-light-graphic-secondary);
    transition: color 0.2s ease;
    flex-shrink: 0;

    &:hover {
        color: var(--color-light-graphic-primary);
    }
}

.reverse {
    flex-direction: row-reverse;

    & .icon {
        margin-left: 0;
        margin-right: var(--gap-xs);
    }
}

.sorted {
    color: var(--color-light-graphic-link);

    &:hover {
        color: var(--color-light-graphic-link);
    }
}
